[2018-10-30 19:42] XimeMora commented on #251
Parts are highlighted now, however sometimes I still have to scroll to find the highlighted part in the sequence map 😞  @tiffanydai @tnrich

[2018-10-30 20:42] XimeMora commented on #348
Scrolling vertically in the minimap is showing with blue/yellow color the sequences displayed/not displayed in the alignment view 👍

[2018-10-30 21:05] XimeMora commented on #148
There is a menu bar now and it's working. There is also a new ticket created by Mike with some issues with this menu so I'll move this ticket along in favor of that other one in hde https://github.com/TeselaGen/hde/issues/2299

[2018-10-30 21:18] XimeMora opened #388 "Alignments > Minimap axis numbers don't match sequences axis numbers"
@tnrich
Minimap axis numbers don't match sequences axis numbers when scrolling horizontally

![alignment axis](https://user-images.githubusercontent.com/21211903/47751241-77c8ac80-dc4e-11e8-86ee-acb16b6e1606.gif)

[2018-10-30 21:33] XimeMora commented on #378
This is working fine for me.

[2018-10-30 21:53] XimeMora commented on #381
Looks good!

[2018-10-30 21:58] tnrich commented on #388
Yikes good catch!

[2018-10-30 22:04] tnrich commented on #388
Whoops scratch what I said above.

This is intentional. As you can see, the sequences are indexed differently because they align to each other with gaps.

Maybe this is too confusing, but the bottom axis numbering includes all gaps whereas the per-sequence axis numbering does not include gaps.

I'm not sure if there is a better way of doing this but if anyone has ideas let me know. @tiffanydai

[2018-10-30 22:20] tnrich commented on #379
Okay, added a similar visualization to the RowView:
![image](https://user-images.githubusercontent.com/2730609/47754110-13f6b180-dc57-11e8-9eae-0b2a846e8a79.png)
and the LinearView:
![image](https://user-images.githubusercontent.com/2730609/47754191-4d2f2180-dc57-11e8-8766-27079e4dd14e.png)

[2018-10-30 22:26] tnrich commented on #379
A list of what is still left to do for this:

- [ ] parse genbanks with joins into tg json, parse teselagen json with joins into genbank file with joins (and make that the default mode)
- [ ] update the lims/hde data models to support locations (json?) on features
- [ ] update OVE to allow for adding/deleting/expanding/shrinking locations within a feature
- [ ] display feature locations (if presen

[2018-10-30 23:51] XimeMora commented on #385
This has been fixed! 👍

[2018-10-31 00:04] XimeMora commented on #382
This has been fixed.

[2018-10-31 22:40] XimeMora opened #389 "VE > lines pointing to features/parts (from labels) should adjust when adding/deleting annotations"
@tnrich
When adding or deleting annotations in the plasmid map the label lines from annotations don't adjust their length accordingly and can be confusing:

![screen shot 2018-10-31 at 3 34 24 pm](https://user-images.githubusercontent.com/21211903/47822861-f8f17380-dd22-11e8-97e4-ab6cae6b1c89.png)

![screen shot 2018-10-31 at 3 37 09 pm](https://user-images.githubusercontent.com/21211903/47822867-

[2018-11-01 17:06] tnrich commented on #387
@tiffanydai let's pair on this issue?

[2018-11-01 20:55] tiffanydai commented on #315
hey @XimeMora, I just downloaded firefox, and I don't see the two scrollbars. maybe firefox updated their scrollbars? can you check it on your firefox browser to see if it's still there (and if it is still there, see if updating firefox changes anything)?

![screen shot 2018-11-01 at 1 42 57 pm](https://user-images.githubusercontent.com/35508772/47879270-6a8df800-dddd-11e8-988e-e67f317e0419.png)

[2018-11-01 21:59] tiffanydai commented on #251
Not loading at the highlighted part's position seemed to only happen if the user clicked and left the caret somewhere else when looking at a previous sequence. I'm clearing the caret position upon loading now; let me know if it's still happening

[2018-11-02 17:39] tnrich commented on #379
Here is a first pass at the edit joined locations interface in OVE:
![image](https://user-images.githubusercontent.com/2730609/47925754-27cf2d00-de7c-11e8-9d9f-32981ffa1107.png)

![image](https://user-images.githubusercontent.com/2730609/47925852-5c42e900-de7c-11e8-869a-1205fddf2c21.png)

![image](https://user-images.githubusercontent.com/2730609/47925884-6cf35f00-de7c-11e8-83a0-5902d511e089.png)

[2018-11-07 18:23] tnrich commented on #379
Hey @hplahar I'm wondering if you'll want to support "joined feature locations" in ICE or if you'll want the new functionality disabled. You'd need to make sure your data model can handle this if you want to allow the functionality. You can see what it looks like here:

http://teselagen.github.io/openVectorEditor/#/Editor

Let me know if you have any questions.

[2018-11-07 23:52] tnrich commented on #315
I've experimented a fair amount now with hiding the scrollbars but haven't found a very satisfactory manner of doing so. I can hide the scrollbars via react but doing so adds a significant amount of jank to the page (that can be seen here: https://github.com/TeselaGen/openVectorEditor/tree/scroll2). I'm going to close this issue for now because it doesn't seem like it is important enough given the

[2018-11-08 00:09] #315 closed

[2018-11-08 00:15] tnrich commented on #334
@tgadam @craftjk in order for this to work we'll need to start tracking sequence versions on the hde backend.

@XimeMora I think we should close this ticket because the OVE-related work for this has been finished. We should open a new ticket in HDE for tracking the sequence history on the backend.

[2018-11-08 19:45] tnrich commented on #389
@XimeMora I can't reproduce this. Can you send a little video of this?

[2018-11-09 06:32] XimeMora commented on #389
@tnrich what I meant here is that the lines pointing to features/parts from labels normally stop at the ring (axis) or they are almost touching it as you can see in the first image above, then adding parts is pushing the lines further away from the ring, sometimes pointing nowhere or sometimes many of them pointing to just one annotation, as in the last image, does it make sense?

[2018-11-09 21:15] XimeMora opened #390 "Copy AA Sequence not working"
@tnrich
Copy AA Sequence and Copy Reverse Complement AA Sequence are not working.

[2018-11-13 18:48] #383 closed

[2018-11-13 19:12] XimeMora commented on #334
@tnrich can we keep this ticket open and QA the revision history by itself here http://teselagen.github.io/openVectorEditor/#/VersionHistoryView ?
Also create that new ticket about tracking the sequence history on hde? We already have this one https://github.com/TeselaGen/hde/issues/1645 but is a general one.

[2018-11-13 19:16] tnrich commented on #334
Sure you can do that. The version history at http://teselagen.github.io/openVectorEditor/#/VersionHistoryView is not connected to a real backend so it is somewhat contrived but still should demonstrate the tool.

[2018-11-13 19:19] tnrich commented on #304
@mfero @tgadam we want parts in LIMS, right?

[2018-11-13 19:34] mfero commented on #304
@eabeliuk @thldev @tnrich, I guess this is tricky because the sequence and parts databases in DESIGN and BUILD are not unified or mirrored, and may not even follow the same schema? It seems like we can't solve the parts issue without a unified sequence/parts database? Should we ignore "parts" in LIMS for now? This is a good example of how the new architecture should be helpful. I don't see it happ

[2018-11-13 19:37] thldev commented on #304
So the schemas actually should be mirrored albeit manually at the moment. We do have parts in LIMS though it appears they are not being used. It's also possible the data model has drifted out of sync.

[2018-11-13 19:40] mfero commented on #304
@tnrich can you do some forensics and see what the status of the HDE vs LIMS schema looks like wrt sequences and parts?

[2018-11-13 19:58] tnrich commented on #304
@mfero sure will do. I'll go ahead and try to get parts into LIMs.

[2018-11-14 02:15] XimeMora commented on #389
@tnrich maybe it look cleaner and not confusing if the lines stop outside of the part radius I think.

[2018-11-14 03:05] XimeMora commented on #334
Ok @tnrich I can take a look at that :)

[2018-11-16 22:33] mfero opened #391 "Minimize tab tool tip in wrong place"
When you expand a tab to full screen, the tool tip stays in the old location and does not move to the right place.

![image](https://user-images.githubusercontent.com/7561861/48650811-9cda5080-e9ac-11e8-834a-351062b25af2.png)

[2018-11-16 22:39] mfero opened #392 "Tabs can be removed to simplify OVE"
@tnrich Tabbing is a non-intuitive mess. can we remove it or fix it? I'm noticing this is HDE but it should be an OVE issue right? It looks like a demo of draggable tabs, but it does not make sense to have all this flexibility if it is not functional for some purpose. It is just confusing with the multiple interface elements and options. The little dots do not help... to the user it looks like a d

[2018-11-16 22:56] mfero opened #393 "Position Menu and Menu shortcuts on separate lines"
Position menus and toolbars as in "old app". Please include "last edit" string in preparation for re-implementation of google docs style roll back feature.

**OLD VE**
![image](https://user-images.githubusercontent.com/7561861/46802141-d3dd9680-cd5c-11e8-88be-f7afc2250610.png)

**NEW VE**
![image](https://user-images.githubusercontent.com/7561861/46802084-a264cb00-cd5c-11e8-8092-ff3326a4246e.png)

[2018-11-19 21:25] tnrich opened #394 "select range off by 1"
Here's me selecting a range of 10-20
![image](https://user-images.githubusercontent.com/2730609/48735909-8b888280-ebfe-11e8-87ff-21836f40a5e5.png)

but getting 11-21

[2018-11-19 21:38] tnrich opened #395 "have orf size input in orf properties"
@tnrich

[2018-11-20 01:02] tnrich commented on #392
I think I'll need more guidance about how to make this intuitive @mfero. Please do list what you see wrong with the tabs right now and I can try to make them better.

[2018-11-25 23:10] tnrich commented on #395
This should now be here.

[2018-11-26 21:45] XimeMora commented on #251
This is working nicely now! Thanks! 👏

[2018-11-26 21:51] XimeMora commented on #390
This is working nicely.

[2018-11-26 21:55] XimeMora commented on #394
This is fixed.

[2018-11-26 22:02] XimeMora commented on #395
Minimum ORF Size field is there and working 👍

[2018-11-27 02:53] XimeMora commented on #334
The version history looks good on the vector editor by its own but we still need to test the functionality inside hde when it's ready, I'll pass this ticket for now.

[2018-11-27 08:22] gmcarthuriv commented on #392
@tnrich, @mfero,

I'd love to be part of this discussion. Any chance we can set up a video call this week? A discussion would probably be more efficient than going back and forth here.

[2018-11-27 21:30] mfero commented on #392
@tnrich @gmcarthuriv sure! Sorry about being obnoxious, and maybe because a few things were buggy... but the tabs just seemed really clunky and a I quickly got the viewer into a state where I could not restore it to the old default view no matter what I tried. We abandoned internal tabs in the rest of the app, but they seem to live on inside OVE. Are we going to bring them back for the rest of the

[2018-11-27 21:49] tnrich commented on #331
@siobhandavis hmm i can confirm https://lims-release-qa.herokuapp.com/dna-sequences/795#sequenceEditorFullscreen=true is not working.

It appears to work on OVE standalone so as long as the latest version of OVE 7.1.2 makes it into the lims release branch then this functionality should work.

[2018-11-27 21:52] siobhandavis commented on #331
I'll talk to chris and taoh about it. thanks!

[2018-11-27 23:15] christopher-lamkin commented on #331
Updated QA Instructions:
1. Go to a sequence record view
2. Open up the Vector Editor
3. Highlight a portion of the DNA sequence underneath Sequence Map
4. Right click the highlighted portion, click copy, copy AA Sequence
5. Paste to make sure it saves to the clipboard

[2018-11-29 18:59] gmcarthuriv opened #396 "VE > Sequence Map panel > GenBank feature label text improvements"
@tnrich, @christopher-lamkin, @craftjk, @mfero

- smaller/tighter font
- give labels more space

An example of new vs. old VE:

![image](https://user-images.githubusercontent.com/17152701/44747983-7a2e4f00-aac3-11e8-96c9-5c74523a6b80.png)

[2018-11-29 18:59] gmcarthuriv opened #397 "VE > Sequence Map panel > GenBank label improvements"
@tnrich, @christopher-lamkin, @craftjk, @mfero,

- space between feature "arrow" and the ring (see the red arrow in the first image below)
- **OR** place the feature "arrow" on the ring (an example of this is given in the second screenshot below - from Genome Compiler)

![image](https://user-images.githubusercontent.com/17152701/44748096-bcf02700-aac3-11e8-97e0-a2513fc28a67.png)

----

![image](ht

[2018-11-29 19:00] gmcarthuriv opened #398 "VE > Sequence Map panel > ring/line made black or white (depending on mode/theme)"
@tnrich, @christopher-lamkin, @craftjk, @mfero,

No mo' yella.

- white ring/line in dark mode/theme
- black ring/line in light mode/theme

![image](https://user-images.githubusercontent.com/17152701/44748287-43a50400-aac4-11e8-8601-73ac6829f5d4.png)

[2018-11-29 19:00] gmcarthuriv opened #399 "VE > Sequence panel > GenBank features are too fat > eschew labels"
New vs. old:

![image](https://user-images.githubusercontent.com/17152701/44748901-d1cdba00-aac5-11e8-991a-e304f7f399fc.png)

[2018-11-29 19:00] gmcarthuriv opened #400 "VE > Parts display > smart scaling"
@tnrich, @christopher-lamkin, @craftjk, @mfero

Parts displayed should be improved with better scaling.

**OLD VE**
![image](https://user-images.githubusercontent.com/17152701/44750452-430f6c00-aaca-11e8-904c-d8a82cba0ab2.png)

**NEW VE**
![image](https://user-images.githubusercontent.com/17152701/44750469-50c4f180-aaca-11e8-9443-c4d60445763a.png)

[2018-11-29 19:01] XimeMora opened #401 "OVE > Sequence map not showing the cut sites"
### Describe what's going wrong/what needs to change.
In the Vector Editor the Sequence map is not showing the cut sites the second time that the user selects the option to see them.

[2018-11-29 19:01] XimeMora opened #402 "OVE > Save the cut sites selected by the user"
### Describe what's going wrong/what needs to change.
In the Vector Editor we need to save the cut sites selected by the user.

[2018-11-29 19:02] XimeMora opened #404 "OVE > Enzyme manager broken"
### Describe what's going wrong/what needs to change.
Enzyme manager in VE broken! No way to see current enzymes. Adding enzymes I know cuts… does not show cuts n times message (says cuts 0 times)… able to add same enzyme more the once etc...

### Screenshots/gif of issue
![screen shot 2018-10-16 at 6 48 57 pm](https://user-images.githubusercontent.com/21211903/47057113-3c20e380-d174-11e8-9f77-308

[2018-11-29 19:02] XimeMora opened #405 "OVE > Multi-select broken"
### Describe what's going wrong/what needs to change.
In Vector Editor Ctr + click to highlight different parts in the sequence (Shift click selection) is broken.

[2018-11-29 19:59] siobhandavis opened #409 "VE > Sequence Map panel > GenBank feature label text improvements"
_From @gmcarthuriv on August 28, 2018 20:9_

@tnrich, @christopher-lamkin, @craftjk, @mfero

- smaller/tighter font
- give labels more space

An example of new vs. old VE:

![image](https://user-images.githubusercontent.com/17152701/44747983-7a2e4f00-aac3-11e8-96c9-5c74523a6b80.png)

_Copied from original issue: TeselaGen/hde#2535_

[2018-11-29 19:59] siobhandavis commented on #409
_From @gmcarthuriv on September 4, 2018 8:1_

@tnrich, I think the plasmid/linear map could also use some attention to font type and size (similar to what you've done for the Sequence map).

[2018-11-29 19:59] siobhandavis commented on #409
_From @gmcarthuriv on September 10, 2018 22:24_

@tnrich, @tiffanydai, what do you think of this suggestion?

[2018-11-29 19:59] siobhandavis commented on #409
_From @tnrich on September 10, 2018 22:28_

@gmcarthuriv the suggestion is to make the font size smaller and the labels stack more closely?

I am fine with implementing that

[2018-11-29 19:59] siobhandavis commented on #409
_From @gmcarthuriv on September 10, 2018 23:44_

@tnrich, yeah - essentially smaller font size and some kind of clustering related to the labels. I think it comes down to having the label spacing reflect the GenBank feature spacing.

[2018-11-29 20:00] siobhandavis opened #410 "VE > Sequence Map panel > GenBank label improvements"
_From @gmcarthuriv on August 28, 2018 20:13_

@tnrich, @christopher-lamkin, @craftjk, @mfero,

- space between feature "arrow" and the ring (see the red arrow in the first image below)
- **OR** place the feature "arrow" on the ring (an example of this is given in the second screenshot below - from Genome Compiler)

![image](https://user-images.githubusercontent.com/17152701/44748096-bcf02700-aac3-

[2018-11-29 20:00] siobhandavis commented on #410
_From @gmcarthuriv on August 28, 2018 20:23_

From old VE (in Peony):

![image](https://user-images.githubusercontent.com/17152701/44748821-9501c300-aac5-11e8-8cb5-a377427bc569.png)

[2018-11-29 20:00] siobhandavis commented on #410
_From @tnrich on August 30, 2018 23:43_

It will now have a bit more room between features and the axis (when the axis has no tick numbers showing):
![image](https://user-images.githubusercontent.com/2730609/44885004-6fb2b780-ac73-11e8-98a2-6746e9b8263c.png)

Also made the axis thickness slightly smaller

[2018-11-29 20:00] siobhandavis commented on #410
_From @gmcarthuriv on November 21, 2018 2:5_

@tnrich, @tiffanydai, @craftjk, @christopher-lamkin, @mfero,

IMO, the text/font size should also be severely reduced. It's a bit intense now.

![image](https://user-images.githubusercontent.com/17152701/48814172-a2a69d80-ecee-11e8-991f-0616a653a872.png)

[2018-11-29 20:00] siobhandavis opened #411 "VE > Sequence Map panel > ring/line made black or white (depending on mode/theme)"
_From @gmcarthuriv on August 28, 2018 20:15_

@tnrich, @christopher-lamkin, @craftjk, @mfero,

No mo' yella.

- white ring/line in dark mode/theme
- black ring/line in light mode/theme

![image](https://user-images.githubusercontent.com/17152701/44748287-43a50400-aac4-11e8-8601-73ac6829f5d4.png)

_Copied from original issue: TeselaGen/hde#2546_

[2018-11-29 20:00] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:52_

I guess this is just personal preference but I don't think the black ring looks very good:

![image](https://user-images.githubusercontent.com/2730609/44885328-0df34d00-ac75-11e8-95c7-d5d622266211.png)

[2018-11-29 20:00] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:53_

@mfero @gmcarthuriv  thoughts?

[2018-11-29 20:00] siobhandavis commented on #411
_From @gmcarthuriv on August 30, 2018 23:53_

How about dark grey?

[2018-11-29 20:00] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:54_

versus:
![image](https://user-images.githubusercontent.com/2730609/44885350-4bf07100-ac75-11e8-842f-a4e1d62d6f7e.png)

[2018-11-29 20:00] siobhandavis commented on #411
_From @gmcarthuriv on August 30, 2018 23:54_

Or black outlines with a white middle?

[2018-11-29 20:00] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:55_

![image](https://user-images.githubusercontent.com/2730609/44885384-76422e80-ac75-11e8-8025-8ecd9f56dba1.png)

![image](https://user-images.githubusercontent.com/2730609/44885405-88bc6800-ac75-11e8-9b3e-8767b185c335.png)

[2018-11-29 20:01] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:56_

I like the white fine :)

[2018-11-29 20:01] siobhandavis commented on #411
_From @gmcarthuriv on August 30, 2018 23:57_

The white with black outlines looks pretty good, @tnrich!

The reason I suggested black is because it works fairly well in the old VE (Peony):

![image](https://user-images.githubusercontent.com/17152701/44885437-af7a9e80-ac75-11e8-931d-98dea8cab1ef.png)

[2018-11-29 20:01] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:58_

I like white :)

[2018-11-29 20:01] siobhandavis commented on #411
_From @tnrich on August 30, 2018 23:59_

![image](https://user-images.githubusercontent.com/2730609/44885502-0aac9100-ac76-11e8-8fc2-e92d7b4628ea.png)

[2018-11-29 20:01] siobhandavis opened #412 "VE > Sequence panel > GenBank features are too fat > eschew labels"
_From @gmcarthuriv on August 28, 2018 20:27_

New vs. old:

![image](https://user-images.githubusercontent.com/17152701/44748901-d1cdba00-aac5-11e8-991a-e304f7f399fc.png)

_Copied from original issue: TeselaGen/hde#2545_

[2018-11-29 20:01] siobhandavis commented on #412
_From @gmcarthuriv on August 28, 2018 20:29_

@tnrich, @christopher-lamkin, @craftjk, @mfero

[2018-11-29 20:01] siobhandavis commented on #412
_From @tiffanydai on August 28, 2018 21:48_

Labels available on hover

[2018-11-29 20:01] siobhandavis commented on #412
_From @tnrich on August 30, 2018 22:1_

@tiffanydai can you paste in a screenshot please ?

[2018-11-29 20:01] siobhandavis commented on #412
_From @gmcarthuriv on September 4, 2018 8:0_

@tnrich, @tiffanydai - happy to discuss for clarity, if you'd like.

[2018-11-29 20:01] siobhandavis opened #413 "VE > Parts display > smart scaling"
_From @gmcarthuriv on August 28, 2018 20:58_

@tnrich, @christopher-lamkin, @craftjk, @mfero

Parts displayed should be improved with better scaling.

**OLD VE**
![image](https://user-images.githubusercontent.com/17152701/44750452-430f6c00-aaca-11e8-904c-d8a82cba0ab2.png)

**NEW VE**
![image](https://user-images.githubusercontent.com/17152701/44750469-50c4f180-aaca-11e8-9443-c4d60445763a.png)

_Co

[2018-11-29 20:01] siobhandavis commented on #413
_From @tnrich on October 21, 2018 21:51_

@gmcarthuriv I know we talked about this a little already. Can you explain again clearly what you want exactly for this one? Is it that the width of the parts gets smaller for every part that is added (down to some threshold like 2px or something?)? Thanks!

[2018-11-29 20:01] siobhandavis commented on #413
_From @gmcarthuriv on October 21, 2018 22:57_

@tnrich, I think there are a couple mechanisms that would help.

My current thinking is that only some of the Parts would show up in a single view and that the user could somehow scroll through the Parts layer if there are more Parts than can be displayed at once. In addition, I think your suggestion of changing the relative size of the Parts as more

[2018-11-29 20:01] siobhandavis commented on #413
_From @gmcarthuriv on October 21, 2018 22:58_

@tnrich, I think there are a couple mechanisms that would help.

My current thinking is that only some of the Parts would show up in a single view and that the user could somehow scroll through the Parts layer if there are more Parts than can be displayed at once. In addition, I think your suggestion of changing the relative size of the Parts as more

[2018-11-29 20:01] siobhandavis commented on #413
_From @gmcarthuriv on October 21, 2018 23:0_

@tnrich, I think there are a couple mechanisms that would help.

My current thinking is that only some of the Parts would show up in a single view and that the user could somehow scroll through the Parts layer if there are more Parts than can be displayed at once. In addition, I think your suggestion of changing the relative size of the Parts as more a

[2018-11-29 20:01] siobhandavis commented on #413
_From @gmcarthuriv on October 21, 2018 23:0_

@tnrich, I think there are a couple mechanisms that would help.

My current thinking is that only some of the Parts would show up in a single view and that the user could somehow scroll through the Parts layer if there are more Parts than can be displayed at once. In addition, I think your suggestion of changing the relative size of the Parts as more a

[2018-11-29 20:02] siobhandavis opened #414 "OVE > Sequence map not showing the cut sites"
_From @XimeMora on October 17, 2018 18:47_

### Describe what's going wrong/what needs to change.
In the Vector Editor the Sequence map is not showing the cut sites the second time that the user selects the option to see them.

_Copied from original issue: TeselaGen/hde#2543_

[2018-11-29 20:03] siobhandavis opened #415 "OVE > Save the cut sites selected by the user"
_From @XimeMora on October 17, 2018 18:44_

### Describe what's going wrong/what needs to change.
In the Vector Editor we need to save the cut sites selected by the user.

_Copied from original issue: TeselaGen/hde#2542_

[2018-11-29 20:03] siobhandavis opened #416 "Genbank joins are not handled correctly by VE"
_From @XimeMora on October 17, 2018 2:0_

### Describe what's going wrong/what needs to change.
Genbank joins are not handled correctly by VE:

See file: SP_04_2060417.gb
Note, see how Snapgene treats this sequence. They are interpreting the Genbank sequence correctly.

****** From TG after being parsed in and using Properties -> Genbank Viewer ******

LOCUS       SP_04_2060417_copy         125 bp

[2018-11-29 20:03] siobhandavis opened #417 "OVE > Enzyme manager broken"
_From @XimeMora on October 17, 2018 1:51_

### Describe what's going wrong/what needs to change.
Enzyme manager in VE broken! No way to see current enzymes. Adding enzymes I know cuts… does not show cuts n times message (says cuts 0 times)… able to add same enzyme more the once etc...

### Screenshots/gif of issue
![screen shot 2018-10-16 at 6 48 57 pm](https://user-images.githubusercontent.com/21

[2018-11-29 20:04] siobhandavis opened #418 "OVE > Multi-select broken"
_From @XimeMora on October 17, 2018 1:27_

### Describe what's going wrong/what needs to change.
In Vector Editor Ctr + click to highlight different parts in the sequence (Shift click selection) is broken.

_Copied from original issue: TeselaGen/hde#2539_

[2018-11-29 20:04] siobhandavis opened #419 "VE > display errors/warnings as labels in Sequence Map panel and Sequence panel"
_From @gmcarthuriv on August 28, 2018 20:37_

@tnrich, @christopher-lamkin, @craftjk, @mfero

Includes:
- j5 warnings/errors
- DNA synthesis constraint violations (post scoring via Twist API)

From Twist's VE (warning labels in red):

![image](https://user-images.githubusercontent.com/17152701/44749412-42c1a180-aac7-11e8-9147-293107670cc9.png)

_Copied from original issue: TeselaGen/hde#2538_

[2018-11-29 20:04] siobhandavis opened #420 "OVE > Sequence Map > Hide/Show cut sites issue"
_From @AdamZMc on September 13, 2018 21:41_

### Describe what's going wrong/what needs to change.
In the Sequence Map the Hide/Show cut sites option hides/shows the recognition site boxes while most of the cut sites remain visible.
### Screenshots/gif of issue
![cutrecognize](https://user-images.githubusercontent.com/36317055/45517342-b2d85480-b762-11e8-97fe-e5b7db50328f.gif)

_Copied from origin

[2018-11-29 20:05] siobhandavis opened #421 "OVE > Issue inserting bps to the beginning of Linear Map"
_From @AdamZMc on September 14, 2018 2:31_

### Describe what's going wrong/what needs to change.
Adding bps to the beginning of Linear Map's sequence will display the insert window off the page.

### Screenshots/gif of issue
![linearmapaddbps](https://user-images.githubusercontent.com/36317055/45526291-6c4b2000-b78b-11e8-8faf-cb3fac66759e.gif)

_Copied from original issue: TeselaGen/hde#2536_

[2018-11-29 20:05] siobhandavis opened #422 "OVE > Annotation labels look bad in dark mode"
_From @XimeMora on November 15, 2018 9:15_

### Describe what's going wrong/what needs to change.
@tnrich
In dark mode the labels for parts look the same as the labels for features when in light mode part labels are purple and feature labels are black.

Also hovering over them makes the label unreadable.

For labels which name is too long to be displayed in full, hovering shows it in a white field

[2018-11-29 20:07] siobhandavis opened #423 "OVE: Show/Hide Features"
_From @lutan07 on November 16, 2018 22:8_

### Describe what's going wrong/what needs to change.

tooltip always show "hide feature"

### Steps to reproduce the behavior

### Screenshots/gif of issue

![untitled](https://user-images.githubusercontent.com/45047136/48649932-2556f200-e9a9-11e8-9802-254777f7e23a.gif)

_Copied from original issue: TeselaGen/hde#2478_

[2018-11-29 20:07] siobhandavis opened #424 "OVE > Add zoom in/out option to the tool bar"
_From @XimeMora on September 5, 2018 5:21_

### Describe what's going wrong/what needs to change.
From Elliot: Add independent zoom to vector editor.
### Steps to reproduce the behavior
We had this in the old vector editor
### Screenshots/gif of issue
![screen shot 2018-09-05 at 12 16 31 am](https://user-images.githubusercontent.com/21211903/45072625-6f665200-b0a1-11e8-896f-1a2c6a22f15d.png)

_Cop

[2018-11-29 20:07] siobhandavis commented on #424
_From @craftjk on September 6, 2018 0:23_

@tnrich this is requested by Dow, do you think we can add this functionality soon?

[2018-11-29 20:07] siobhandavis commented on #424
_From @tnrich on September 6, 2018 17:13_

@craftjk I haven't made this a priority but I'm sure it could be implemented if I did so. It seems like there might still be more critical issues to work on.

[2018-11-29 20:07] siobhandavis commented on #424
_From @tnrich on September 6, 2018 18:37_

@craftjk zooming v1 has already been implemented for linear view if you want me to hook up a little zoom bar for the linear view. It was built to support zooming in the alignment view.

[2018-11-29 20:07] siobhandavis commented on #424
_From @XimeMora on October 23, 2018 19:45_

There's still no zoom option in the vector editor.

[2018-11-29 20:08] siobhandavis opened #425 "VE > Properties > GenBank > text is not legible in dark mode/theme"
_From @gmcarthuriv on August 28, 2018 21:5_

@tnrich, @christopher-lamkin, @craftjk, @mfero

![image](https://user-images.githubusercontent.com/17152701/44750827-57a03400-aacb-11e8-9643-9a33d6012c86.png)

_Copied from original issue: TeselaGen/hde#2128_

[2018-11-29 20:08] siobhandavis commented on #425
_From @tnrich on August 30, 2018 22:28_

ready once teselagen-react-components is updated to v24.0.2 or beyond :)

[2018-11-29 20:09] siobhandavis opened #426 "Add keyboard shortcuts for Vector Editor"
_From @XimeMora on July 3, 2018 20:12_

### Describe what's going wrong/what needs to change.
HDE is missing the keyboard shortcuts for Vector Editor (see the main app)

### Screenshots/gif of issue
![hde shortcuts](https://user-images.githubusercontent.com/21211903/42242388-8b9b6552-7ec2-11e8-9746-84361aeb5e5f.PNG)

![shortcuts](https://user-images.githubusercontent.com/21211903/42242402-942a166e

[2018-11-29 20:10] siobhandavis opened #427 "Autosave in OVE seems not to be saving fast enough or not registering some actions"
_From @XimeMora on August 22, 2018 4:29_

### Describe what's going wrong/what needs to change.
I'm deleting base pairs in the sequence map and a toastr message tells me "Sequence deleted successfully" but if I go to the sequence library and then open the same sequence again some of the base pairs that I deleted are still present.

### Screenshots/gif of issue
![autosave](https://user-images.githu

[2018-11-29 20:10] siobhandavis opened #428 "VE > Edit Part - "Notes" field is not being saved"
_From @XimeMora on February 15, 2018 22:35_

### Describe what's going wrong/what needs to change.
In the Add/Edit Part window there is a field for Notes, this seems to be saved after clicking Submit button but after saving the sequence, closing VE and going back to that part the Notes field shows "[object Object]" instead.
### Steps to reproduce the behavior
Open a sequence in VE > Create or Edit

[2018-11-29 20:10] siobhandavis commented on #428
_From @mmatena on March 11, 2018 18:17_

In Peony, the notes are stored as key-value pairs (that allow for duplicate keys) while open-vector-editor appears to treat them as simple strings. The parsers treat the notes as key-values pairs.

[2018-11-29 20:11] siobhandavis opened #429 "VE: Opening a Part is not scrolling to the highlight in the Sequence Map"
_From @XimeMora on January 19, 2018 1:32_

### Describe what's going wrong/what needs to change.
From the Part library opening a part is highlighting it in the plasmid view but it is not scrolling to the highlighted part in the Sequence view.
### Steps to reproduce the behavior
DNA Parts library > double-click a part
### Screenshots/gif of issue
![sequence map highlight](https://user-images.github

[2018-11-29 20:11] siobhandavis commented on #429
_From @XimeMora on July 6, 2018 2:30_

Ticket on OVE https://github.com/TeselaGen/openVectorEditor/issues/251

[2018-11-29 20:22] mfero commented on #426
Sorry, I think this is prob an HDE issue. Should be a quick win.

[2018-11-30 07:01] #429 closed

[2018-11-30 07:02] tnrich commented on #429
closing as  #251 covers this

[2018-11-30 17:47] siobhandavis opened #430 "Sequence Editor > Properties > Features > not able to change Feature color"
_From @gmcarthuriv on November 24, 2018 20:55_

@craftjk, @tiffanydai, @tnrich, @siobhandavis, @mfero,

![image](https://user-images.githubusercontent.com/17152701/48972861-35de1c80-efe8-11e8-9b49-d0853c7e40b1.png)

_Copied from original issue: TeselaGen/hde#2511_

[2018-11-30 17:47] siobhandavis commented on #430
_From @mfero on November 29, 2018 23:56_

@siobhandavis please move to OVE

[2018-11-30 17:48] siobhandavis opened #431 "Sequence Editor > Create Part from sequence selected via "cmd + i" not working"
_From @gmcarthuriv on November 25, 2018 4:16_

@craftjk, @tiffanydai, @tnrich, @mfero,

- Select a sequence region that goes to 3' end of DNA Sequence
- Select inverse sequence via "cmd + i"
- Create new Part via right-click and select "Create > New Part"
- You will see that the Part doesn't begin at basepair 1 (it begins with the final basepair of the Sequence)

![image](https://user-images.githu

[2018-11-30 17:48] siobhandavis commented on #431
_From @tnrich on November 25, 2018 18:35_

@gmcarthuriv I can't reproduce. Are the steps I'm doing correct?

![tag](https://user-images.githubusercontent.com/2730609/48982957-d3dfee80-f09d-11e8-901d-360ee38f6bc3.gif)

Thanks

[2018-11-30 17:48] siobhandavis commented on #431
_From @tnrich on November 25, 2018 18:36_

Here's a useful screen recording tool in case you want to take a gif of it https://download.cnet.com/LICEcap/3000-2094_4-75984664.html

[2018-11-30 17:48] siobhandavis commented on #431
_From @gmcarthuriv on November 27, 2018 8:20_

@tnrich, try it in HDE - different behavior than the standalone openVE. I can confirm that it works as expected in openVE.

[2018-11-30 17:48] siobhandavis commented on #431
_From @tnrich on November 27, 2018 21:10_

@gmcarthuriv I've spotted what the issue is there. It appears that your sequence is in "Linear" mode. I wonder why it would be doing that in linear mode..

[2018-11-30 17:48] siobhandavis commented on #431
_From @mfero on November 30, 2018 0:6_

@siobhandavis can you move this ticket to OVE?

[2018-12-01 07:28] XimeMora opened #432 "Export sequence option not working from icon in top menu"
@tnrich Export sequence option is not working from icon in top menu

![screen shot 2018-12-01 at 1 25 53 am](https://user-images.githubusercontent.com/21211903/49325454-3d318880-f508-11e8-9b26-c58a87b5a322.png)

Error in console:

![screen shot 2018-12-01 at 1 25 33 am](https://user-images.githubusercontent.com/21211903/49325457-402c7900-f508-11e8-85ce-f302e3ffdece.png)

[2018-12-01 17:38] tnrich commented on #432
Good catch thanks ximena. I'm on it

[2018-12-04 03:06] XimeMora opened #433 "Find Tool > Highlight All gets deselected when closing modal"
@tnrich The option to Highlight All when using the Find tool gets deselected when closing the modal, that selection should persist, because the DNA and Amino Acids stayed highlighted so when opening that modal and selecting Highlight All again it does the opposite.

![find](https://user-images.githubusercontent.com/21211903/49416049-46a43600-f73e-11e8-8748-859fc9c853b3.gif)

[2018-12-04 03:24] XimeMora opened #434 "Find Tool > Ambiguous substitutions info tooltip opens automatically without hovering"
@tnrich Ambiguous substitutions info tooltip opens automatically when clicking the wrench icon covering the main modal, it should just be visible when hovering the info icon (i)

![ambiguous](https://user-images.githubusercontent.com/21211903/49416964-8ae50580-f741-11e8-8345-af21b9996477.gif)

[2018-12-04 08:59] XimeMora opened #435 "Properties > Translations > Delete button disabled"
@tnrich
In the Properties > Translations > the Delete button is greyed out.

[2018-12-04 09:16] XimeMora opened #436 "When in Full Screen > Minimize Tab tooltip shows up on the opposite side of the actual button"
@tnrich
When in Full Screen > Minimize Tab tooltip shows up on the opposite side of the actual button

![screen shot 2018-12-04 at 3 13 08 am](https://user-images.githubusercontent.com/21211903/49431355-eaa7d480-f772-11e8-92c5-f96ba04c1da0.png)

[2018-12-04 18:05] tnrich commented on #435
Certain translations cannot be deleted

[2018-12-04 18:43] tnrich commented on #392
Closing this as per our talk.

[2018-12-04 18:43] #392 closed

[2018-12-04 23:50] XimeMora commented on #435
@tnrich which ones can and which ones can't be deleted?

[2018-12-05 03:54] tnrich commented on #435
Ones that are of type "cds feature" and "ORF" are cannot be deleted.

"User created" translations can be

[2018-12-09 22:52] tnrich commented on #433
Fixed this and have set up an e2e test for it in OVE.

[2018-12-11 06:27] tnrich opened #437 "Add warning to Circular view when viewing linear sequence"
#431

[2018-12-11 09:15] XimeMora commented on #432
@tnrich in HDE

[2018-12-11 17:15] tnrich commented on #437
I've added this warning:

![image](https://user-images.githubusercontent.com/2730609/49817479-2cadb900-fd25-11e8-9e54-bfb59319a202.png)

When viewing a linear sequence in the circular view. Hopefully that will be enough @gmcarthuriv

[2018-12-11 17:16] tnrich commented on #431
Closing this in favor of #437 which should solve this issue.

[2018-12-11 17:16] #431 closed

[2018-12-11 17:38] tnrich commented on #435
![image](https://user-images.githubusercontent.com/2730609/49818770-70ee8880-fd28-11e8-9061-a82a01b948a6.png)

I've added that to make it clearer

[2018-12-12 10:40] XimeMora opened #438 "Creating a new feature is showing a warning when the feature spans the origin"
@tnrich
Creating a new feature is showing a warning in the Start and End fields "Range must fit within sequence" when the feature spans the origin and the feature can't be created.

![screen shot 2018-12-12 at 4 35 17 am](https://user-images.githubusercontent.com/21211903/49864354-f37a5500-fdc7-11e8-958b-cab0adbceba8.png)

[2018-12-12 11:00] XimeMora opened #439 "Pairwise Alignment not opening when submitting from the vector editor"
@tnrich

When in vector editor submitting the sequence to Pairwise Alignment seems to work because the record appears in the library but double-clicking to open it shows a blank page and the following error:

![screen shot 2018-12-12 at 4 53 06 am](https://user-images.githubusercontent.com/21211903/49865332-49e89300-fdca-11e8-970d-443c80133fe7.png)

The same happens when using the "Align Sequences

[2018-12-12 21:58] XimeMora commented on #393
Menus are on separate lines now.

[2018-12-12 22:03] XimeMora commented on #436
This is still happening.

[2018-12-12 22:13] XimeMora commented on #433
I tested on hdedev-qa and it doesn't look fixed there.

[2018-12-12 22:44] tnrich commented on #436
On hde?

On Wed, Dec 12, 2018, 2:03 PM XimeMora <notifications@github.com wrote:

[2018-12-13 01:06] XimeMora commented on #436
@tnrich yeah on hde, I don't know if it has the latest version of ove.

[2018-12-13 01:35] XimeMora commented on #437
Looks good.

[2018-12-13 01:37] XimeMora commented on #434
Fixed!

[2018-12-13 01:42] XimeMora commented on #435
Looks good!

[2018-12-13 01:58] XimeMora commented on #379
This is working nicely!

[2018-12-13 18:38] tnrich commented on #432
@XimeMora test again?

[2018-12-13 18:43] tnrich commented on #421
This should be fixed

[2018-12-13 18:43] tnrich commented on #423
This should be fixed now

[2018-12-13 19:01] tnrich commented on #420
Got it! Good catch @AdamZMc

[2018-12-13 19:02] tnrich commented on #418
@XimeMora is this a feature that has been requested by customers?

[2018-12-13 19:02] tnrich commented on #418
I don't believe this worked in the old app

[2018-12-13 19:04] tnrich commented on #417
@XimeMora can you revisit this and make an issue or a checkbox for each thing that is broken with the enzyme manager. Thank you!

[2018-12-13 19:08] tnrich commented on #388
Closing this for now unless someone has a better idea

[2018-12-13 19:08] #388 closed

[2018-12-13 23:02] XimeMora commented on #418
This is what I'm referring to:

![shift-click](https://user-images.githubusercontent.com/21211903/49972738-33d8f080-fef8-11e8-9ae8-a2ddb28c7b2e.gif)

I'm checking on hde and it kind of works sometimes, it seems buggy:

![shift-click bad](https://user-images.githubusercontent.com/21211903/49972855-8dd9b600-fef8-11e8-8951-0b52fae09320.gif)

[2018-12-14 00:30] XimeMora commented on #417
@tnrich I think I copy-pasted the issue from someone else so I don't understand exactly what was the issue(s). I can test the Restriction Enzymes Manager as part of the regression testing and see if it is working fine, but as far as I remember it was working. I think we can close this ticket.

[2018-12-14 00:35] tnrich commented on #417
Okay thanks. Can you close this one if it all checks out?

On Thu, Dec 13, 2018, 4:30 PM XimeMora <notifications@github.com wrote:

[2018-12-14 11:21] XimeMora commented on #336
This is a regression, the issue is happening again

[2018-12-15 09:39] XimeMora commented on #416
Duplicate #379

[2018-12-15 09:39] #416 closed

[2018-12-15 09:47] XimeMora commented on #391
Duplicate #436

[2018-12-15 09:47] #391 closed

[2018-12-15 09:50] XimeMora commented on #411
Looks good!

[2018-12-15 09:57] XimeMora commented on #420
This is still happening on hde.

[2018-12-15 09:58] XimeMora commented on #423
Fixed!

[2018-12-15 10:00] XimeMora commented on #421
Fixed!

[2018-12-15 10:03] XimeMora commented on #425
Looks good!

[2018-12-15 10:04] XimeMora commented on #432
It is working now 👍

[2018-12-15 10:08] XimeMora commented on #240
Ability to toggle between upper and lowercase is working nicely.

[2018-12-15 10:10] XimeMora commented on #308
Cut option is working fine.

[2018-12-17 18:13] tnrich commented on #439
@tiffanydai do you mind taking a look at this one?

[2018-12-17 18:15] tiffanydai commented on #439
@tnrich yeah i assigned it to me, i know what's going wrong and will push a fix today

[2018-12-17 18:17] tnrich commented on #439
awesome!

[2018-12-17 18:55] tnrich commented on #438
Good catch!

[2018-12-18 18:51] tnrich commented on #420
This will be fixed once hde updates to latest OVE

[2019-01-03 14:38] XimeMora commented on #420
This has been fixed!

[2019-01-03 14:43] XimeMora commented on #438
Fixed!

[2019-01-03 14:48] XimeMora commented on #364
This has been fixed.

[2019-01-04 21:54] tnrich opened #440 "add way to OVE to track save changes via actions instead of via state"

[2019-01-04 21:55] tnrich opened #441 "Add "compact view""
The compact view should include
- skinnier features
- no feature labels

[2019-01-21 18:52] tnrich commented on #369
Fixed by https://github.com/TeselaGen/hde/pull/2790

[2019-01-21 18:57] tnrich commented on #369
Here are the tests in action:
![new](https://user-images.githubusercontent.com/2730609/51493681-efe4d100-1d6a-11e9-9ac4-a1904f42a9c6.gif)

[2019-01-23 17:51] siobhandavis commented on #369
@tnrich should I be able to do the type IIs digest part creation somewhere other than the library view? The ticket reads like I should be able to do this in the vector editor, but I don't see how.

[2019-01-24 20:56] siobhandavis opened #443 "TypeIIs digest- all icons aren't in a line"

[2019-01-24 20:56] siobhandavis commented on #443
![image](https://user-images.githubusercontent.com/43861838/51707966-98f02d80-1ff0-11e9-9a31-ed7c9a1ad678.png)

[2019-01-25 15:12] siobhandavis commented on #369
I saw that! I spun up the unique PR instance and passed the ticket. I made a new ticket, because the alignment of the checkboxes is funny, but the functionality is all there.

[2019-02-04 18:24] tnrich commented on #369
It looks like it has the old version on  https://hde-release-qa.herokuapp.com/   @siobhandavis

[2019-02-04 19:09] tnrich commented on #249
Oof finally! I figured out why it wasn't working. I'll push a fix soon.

[2019-02-04 21:10] XimeMora commented on #427
@tnrich it seems that this is still saving very slowly so when I go back to the library and come back to the vector editor some of the base pairs that I deleted are still there.

[2019-02-04 21:15] XimeMora commented on #439
This has been fixed!

[2019-02-04 22:37] hplahar opened #445 "Version history causes application to exit fullscreen mode"
1. Open OpenVE in fullscreen mode with version history enabled
2. Click on "View History" Icon

Results: Full screen mode is lost with the headers not showing up anymore. The app also seems to be rendering behind some of the widgets of the embedding app (ICE in this case).

 Attached are two screenshots: one showing fullscreen mode and the second showing what happens after clicking the "View histo

[2019-02-04 23:14] tnrich commented on #445
@hplahar can you give me a URL where I can see it occurring? I don't think I can reproduce this locally.

[2019-02-05 20:03] tnrich commented on #445
Okay @hplahar, I've pushed a fix. Can you try the latest ove version 7.1.39?

[2019-02-05 20:49] tnrich commented on #249
Fix is pushed!

[2019-02-05 21:59] tnrich opened #446 "Ability to add custom logic to the Add/Edit feature dialog"
This is a request coming from jagpreet.kaur@bayer.com

Basically they want a way to add additional custom logic to the Add/Edit Feature dialog to support their workflow.

As a first pass I'm providing a way to pass additional components as props to the <Editor/> component.

[2019-02-05 22:03] tnrich commented on #446
An example of doing this can be seen here:

http://teselagen.github.io/openVectorEditor/#/EditoroverrideAddEditFeatureDialog=true

The code looks like:

[code]

[2019-02-05 22:19] jjkaur commented on #446
@tnrich :Thank you so much for addressing our issue so quickly! This is exactly what we were looking for.

[2019-02-11 22:08] tnrich opened #447 "Back button getting confused when in standalone mode and viewing version history"
More info coming

[2019-02-11 22:09] tnrich opened #448 "Make view version history button activated and visible when viewing version history"

[2019-02-11 22:10] #445 closed

[2019-02-24 18:17] tnrich commented on #446
Closing this. Let me know if you have any issues @jjkaur

[2019-02-24 18:17] #446 closed

[2019-03-05 00:33] tiffanydai opened #450 "Export or copy feature as a GenBank"
In the context menu of a feature, allow the user either to export the feature as a GenBank file, or to copy the feature to clipboard in the GenBank format (JBEI said either option would be fine)

**For example, if we wanted to export/copy the CDS from this sequence...**

LOCUS       pj5_00001               420 bp    DNA     circular  04-MAR-2019
COMMENT             teselagen_unique_id: 5adf735aa18

[2019-03-07 22:15] tnrich commented on #447
@hplahar I can't reproduce this in the standalone editor demo (http://teselagen.github.io/openVectorEditor/#/Standalone). The back button seems to work fine there.

Can you provide me a link where I can reproduce this one?

[2019-03-07 23:47] tnrich commented on #450
I've added this first pass:
![image](https://user-images.githubusercontent.com/2730609/53997182-162eb800-40f0-11e9-98dc-a02da579dce3.png)

Right now it is just copying the selected bps and their underlying features.

@hplahar can you cc your colleague who wanted this feature.

[2019-03-07 23:48] #438 closed

[2019-03-07 23:48] #371 closed

[2019-03-07 23:48] #378 closed

[2019-03-07 23:48] #379 closed

[2019-03-07 23:48] #381 closed

[2019-03-07 23:48] #382 closed

[2019-03-07 23:48] #384 closed

[2019-03-07 23:48] #385 closed

[2019-03-07 23:48] #386 closed

[2019-03-07 23:48] #390 closed

[2019-03-07 23:48] #393 closed

[2019-03-07 23:48] #394 closed

[2019-03-07 23:48] #395 closed

[2019-03-07 23:48] #411 closed

[2019-03-07 23:48] #420 closed

[2019-03-07 23:48] #421 closed

[2019-03-07 23:48] #422 closed

[2019-03-07 23:48] #423 closed

[2019-03-07 23:48] #425 closed

[2019-03-07 23:48] #432 closed

[2019-03-07 23:48] #433 closed

[2019-03-07 23:48] #434 closed

[2019-03-07 23:48] #435 closed

[2019-03-07 23:48] #436 closed

[2019-03-07 23:48] #437 closed

[2019-03-07 23:48] #439 closed

[2019-03-07 23:48] #148 closed

[2019-03-07 23:48] #223 closed

[2019-03-07 23:48] #240 closed

[2019-03-07 23:48] #246 closed

[2019-03-07 23:48] #251 closed

[2019-03-07 23:48] #261 closed

[2019-03-07 23:48] #291 closed

[2019-03-07 23:48] #305 closed

[2019-03-07 23:48] #308 closed

[2019-03-07 23:48] #309 closed

[2019-03-07 23:48] #317 closed

[2019-03-07 23:48] #322 closed

[2019-03-07 23:48] #323 closed

[2019-03-07 23:48] #331 closed

[2019-03-07 23:48] #332 closed

[2019-03-07 23:48] #333 closed

[2019-03-07 23:48] #334 closed

[2019-03-07 23:48] #336 closed

[2019-03-07 23:48] #348 closed

[2019-03-07 23:48] #351 closed

[2019-03-07 23:48] #356 closed

[2019-03-07 23:48] #358 closed

[2019-03-07 23:48] #360 closed

[2019-03-07 23:48] #364 closed

[2019-03-07 23:48] #369 closed

[2019-03-07 23:49] #273 closed

[2019-03-07 23:49] #281 closed

[2019-03-07 23:49] #294 closed

[2019-03-07 23:49] #295 closed

[2019-03-07 23:49] #310 closed

[2019-03-07 23:49] #320 closed

[2019-03-07 23:49] #324 closed

[2019-03-07 23:49] #325 closed

[2019-03-07 23:49] #326 closed

[2019-03-07 23:49] #328 closed

[2019-03-07 23:49] #329 closed

[2019-03-07 23:49] #335 closed

[2019-03-07 23:49] #343 closed

[2019-03-07 23:49] #344 closed

[2019-03-07 23:49] #345 closed

[2019-03-07 23:49] #353 closed

[2019-03-07 23:49] #357 closed

[2019-03-07 23:49] #365 closed

[2019-03-07 23:49] #367 closed

[2019-03-07 23:50] #377 closed

[2019-03-07 23:50] #144 closed

[2019-03-07 23:52] #146 closed

[2019-03-07 23:52] #182 closed

[2019-03-07 23:52] #213 closed

[2019-03-07 23:53] #230 closed

[2019-03-07 23:53] tnrich commented on #236
This should be implemented in userland

[2019-03-07 23:53] #236 closed

[2019-03-07 23:53] #249 closed

[2019-03-07 23:54] tnrich commented on #253
Closing for now. We can open a new issue for remaining issue.

[2019-03-07 23:54] #253 closed

[2019-03-07 23:55] tnrich commented on #363
Closing for now. Let me know if I can help with this @meisenstat

[2019-03-07 23:55] #363 closed

[2019-03-07 23:56] tnrich commented on #376
those debuggers are only in dev mode now:
[code]

[2019-03-07 23:56] #376 closed

[2019-03-10 20:08] tnrich commented on #450
@tiffanydai if you'd give me your 2 cents I'd appreciate that too!

[2019-03-10 20:31] tnrich opened #451 "Add option to filter features by type"
Give options to filter by feature type.

[2019-03-11 17:48] tiffanydai commented on #450
<img width="695" alt="Screen Shot 2019-03-11 at 10 40 08 AM" src="https://user-images.githubusercontent.com/35508772/54145087-77a1a000-43ea-11e9-8d74-d4040b2cd730.png">
![Screen Shot 2019-03-11 at 10 43 02 AM](https://user-images.githubusercontent.com/35508772/54145090-78d2cd00-43ea-11e9-9b9f-829f11cd048e.png)

hmm i don't really have a strong opinion on whether or not the copied genbank should in

[2019-03-11 20:54] tnrich commented on #450
@tiffanydai I think the copied genbank should follow the user's copy option preferences for partial features/parts. I agree with your other suggestions:
- [ ] copied seq should be linear (unless the entire sequence is copied)
- [ ] name should use the feature name if just 1 feature copied
- [ ] name should default to seqName_partial

[2019-03-13 18:09] hplahar commented on #447
Try using registry-test2.jbei.org now. I have updated it to 8.0.5.
Open sequence in "full" vector editor, then click on "history icon", then "back" then "Close fullscreen mode" icon.

[2019-03-13 18:37] tnrich commented on #447
@hplahar could you post the code your using to instantiate the editor here please

[2019-03-13 18:49] hplahar commented on #447
$scope.vEeditor = $window.createVectorEditor("createDomNodeForMe", {
                        editorName: "vector-editor",
                        doNotUseAbsolutePosition: true,
                        isFullscreen: true,
                        shouldAutosave: true,
                        disableSetReadOnly: true,
                        handleFullscreenClose: function () { // this will make the

[2019-03-13 18:56] tnrich commented on #447
Thanks Hector I'll get back to you later today!

On Wed, Mar 13, 2019, 11:49 AM Hector Plahar <notifications@github.com>
wrote:

[2019-03-13 20:11] tnrich opened #452 "need a way to make a reverse translation"

[2019-03-13 20:12] tnrich opened #453 "size is messed up in translation properties"
![image](https://user-images.githubusercontent.com/2730609/54311365-ab6afa00-4591-11e9-9895-b0f83735ded0.png)

[2019-03-13 20:28] tnrich opened #454 "panelsShown being updated in updateEditor isn't actually updating the panel being shown"

[2019-03-13 23:56] mfero opened #455 "Select Inverse should be available from right click on selected region"
As a user, I would like to click on a feature or select a region, then right click to "Select Inverse". Currently, this is only available as a secret button/link on the lower border of OVE

[2019-03-14 04:13] tnrich commented on #455
Sounds good!

[2019-03-14 14:04] ericsturman opened #456 "Requesting an onSequenceChange Event"
@tnrich

My team has a need to respond to sequence being inserted/replaced/cut from the vector map.  When sequence is inserted/replaced, we would like to add a part that marks the change as a helpful landmark for users.  Also, when sequence is changed, we would like to remove features that overlap the change (and potentially additional features not overlapped by the change).  One way that might en

[2019-03-14 16:42] tnrich commented on #456
Hey @ericsturman yep I can definitely see why you would want to have some more customizability around the insert/replace/delete.

I think a custom defined sequenceChanged callback that allows inserting custom logic before the sequence update action is fired makes sense.

I'll look into implementing this and let you know.

[2019-03-14 21:50] tnrich commented on #456
@ericsturman do you want to be alerted of actions that say reverse complement or complement the sequence? Or only insert and deletes?

[2019-03-14 22:00] tnrich opened #457 "protein sequence length getting displayed as bps"
![image](https://user-images.githubusercontent.com/2730609/54394351-d7f24500-4669-11e9-8817-3e9e49557314.png)

[2019-03-14 23:18] tnrich commented on #456
Hey @ericsturman I added a first pass at a `beforeSequenceInsertOrDelete` handler. The demo for it can be seen here:

http://teselagen.github.io/openVectorEditor/#/Editor?beforeSequenceInsertOrDelete=true

In the demo I'm basically doing what you asked for in your question but for inserts only. I don't modify the delete:

[code]

[2019-03-14 23:59] tnrich commented on #455
This will land in OVE v8.0.10

[2019-03-15 00:30] tnrich commented on #457
I believe you got this one @tiffanydai

[2019-03-15 00:30] #457 closed

[2019-03-15 00:31] tnrich commented on #452
Added this!

[2019-03-15 00:31] #452 closed

[2019-03-15 00:42] tnrich commented on #450
Okay I implemented all these!

[2019-03-15 00:42] #450 closed

[2019-03-15 00:42] #453 closed

[2019-03-15 21:25] ericsturman commented on #456
@tnrich ,

Thank you so much for the quick response!  This looks like the right solution and I have started incorporating/testing it.  I will give you an update on Monday.

Have a great weekend.
Eric

[2019-03-16 07:43] tnrich opened #458 "Add features/parts to cmd-f search results"
Along with searching bps, also pop up part and feature hits!

[2019-03-18 19:15] ericsturman commented on #456
@tnrich Thank you for this feature it works perfectly for us.  One thing we did notice is that the `annotationVisiblity` settings in our editor props object is getting overwritten (we are setting `primers: false` but they are displaying anyway (this was working for us before the upgrade to 8.0.14).  I tested this locally with the OVE project locally and it seems to not be working there either...ar

[2019-03-18 19:48] tnrich commented on #456
@ericsturman thanks for the heads up on that. I can reproduce it locally so I'll set up a test for it!

[2019-03-18 20:09] tnrich commented on #456
I've published v8.0.19. That should fix the visibilities setting issue. I've set up a test for it too

[2019-03-18 20:23] ericsturman commented on #456
@tnrich confirmed...thank you!

[2019-03-18 20:28] tnrich commented on #456
Hmm my fix actually introduced another bug where now annotationVisibility is being overridden when toggling readOnly or certain other props. I'm going to try to set up a test for that bug now and fix it!

[2019-03-18 20:36] tnrich commented on #456
v8.0.20 contains the final fix!

[2019-03-18 20:37] tnrich commented on #456
Let me know if you have any issues. Closing this

[2019-03-18 20:37] #456 closed

[2019-03-19 23:10] XimeMora commented on #455
Looks good!

[2019-03-22 21:10] #455 closed

[2019-03-26 22:18] tnrich commented on #286
Closing

[2019-03-26 22:18] #286 closed

[2019-04-04 19:35] tnrich commented on #447
This should be fixed in open-vector-editor@8.0.28

[2019-04-04 19:35] #447 closed

[2019-04-04 19:36] tnrich commented on #454
This should be fixed in recent versions

[2019-04-04 19:36] #454 closed

[2019-04-05 20:21] tnrich commented on #418
this can be QA'd here in a few minutes: http://teselagen.github.io/openVectorEditor/#/Editor

[2019-04-05 20:21] #417 closed

[2019-04-06 01:28] XimeMora opened #460 "Add Additional Enzymes > Create your own enzyme > Add the number of cuts"
@tnrich
From the cutsites menu when selecting Add Additional Enzymes > Create your own enzyme > the number of cuts should be displayed next to the enzyme name.

![Screen Shot 2019-04-05 at 7 22 19 PM](https://user-images.githubusercontent.com/21211903/55663219-d505f280-57d8-11e9-8c42-0788e3e953df.png)

![Screen Shot 2019-04-05 at 7 22 43 PM](https://user-images.githubusercontent.com/21211903/55663

[2019-04-06 06:58] XimeMora commented on #341
@tnrich this is still happening.

[2019-04-06 07:42] XimeMora opened #461 "Can't change a sequence from circular to linear"
@tnrich
Trying to change a sequence from Circular to Linear from Properties > General is not working and it is throwing an error:

![Screen Shot 2019-04-06 at 1 40 22 AM](https://user-images.githubusercontent.com/21211903/55666513-2d56e780-580d-11e9-9009-f7c5d4f8dff8.png)

[2019-04-06 07:48] XimeMora opened #462 "Sequence description is not being saved"
@tnrich
From Properties > General > Editing the description seems to be saving but if you go back to the library and open the sequence again the description field is empty.

![description](https://user-images.githubusercontent.com/21211903/55666565-1369d480-580e-11e9-8310-c28485cf06e5.gif)

[2019-04-06 07:58] XimeMora opened #463 "Properties > Translations > Delete button tooltip doesn't go away"
@tnrich

After hovering the Delete button the tooltip does not go away.

![delete tooltip](https://user-images.githubusercontent.com/21211903/55666677-75770980-580f-11e9-9d48-37607ffbb529.gif)

[2019-04-08 16:57] ericsturman opened #464 "Request for GC content on selected sequence region."
@tnrich

We are considering adding the ability for users to know the GC content of a selected region of sequence.  This seems like a feature that would have fairly broad appeal.  I have attached a screenshot with the suggested change to the lower status bar where selection coordinates are displayed.  We would be interested in alternative solutions as well.

Thank you,
Eric
![Screen Shot 2019-04-08

[2019-04-08 17:31] tnrich commented on #464
Hey @ericsturman let me run this by @eabeliuk and @njhillson. Seems like it would indeed be a universally useful feature. Also we could possibly have it be user/implementer toggle-able.

Would this be something you'd be interested in making a PR for @ericsturman? I've update the readme to include more detailed steps for outside developer contributions: https://github.com/TeselaGen/openVectorEditor

[2019-04-08 20:20] ericsturman commented on #464
I am fine with making a PR...thanks!

[2019-04-08 20:43] tnrich commented on #464
Awesome! Let me know if you need help with anything or get stuck for some reason. Good luck!

[2019-04-09 01:26] XimeMora commented on #418
Looks good!

[2019-04-10 16:51] tnrich commented on #461
This has been fixed in OVE now. It will make it to HDE in a bit. I'm going to wait until tests are passing on master consistently!

[2019-04-11 18:45] tnrich opened #466 "Add documentation for protein editor"
Document protein editor how to
- [x] instantiate a protein in editor
- [x] handle callbacks for the protein
- [x] accepted feature/part indices on proteins

[2019-04-15 16:50] tnrich commented on #464
Closed via https://github.com/TeselaGen/openVectorEditor/pull/467
Nice work @ericsturman 💯

[2019-04-15 16:50] #464 closed

[2019-04-19 17:17] #466 closed

[2019-04-25 17:16] siobhandavis opened #468 "HDE > VE > Copy DNA selection > capitalization should persist"
Copying (and pasting) a DNA selection to Excel, for example, should maintain capitalization.

[2019-04-25 17:16] siobhandavis commented on #468
TG-201

[2019-04-30 15:21] CathyC93 opened #469 "Updating OVE to use react-select v2"
@tnrich

Hi,
I work on a team with @ericsturman, and we are taking advantage of the custom right-click menu item on the Open Vector Editor.  We are using this to bring up a dialog that will include a select dropdown.  We are using material-ui in our app, so we were hoping to be able to use v2 of react-select.  Currently, we have v1 of react-select as a peer dependency in our app because OVE is usi

[2019-05-01 21:51] tnrich commented on #469
Hi @CathyC93 I'll look into how hard making this change would be across our tools and get back to you.

[2019-05-02 22:07] tnrich commented on #469
Hey @CathyC93 so I've been looking into switching over all of our selects to use blueprint's built in Select and MultiSelect components as this is something I think we'll want to do eventually to unify our component styling. If this were to happen, then that would fix your issue and you could use react-select v2 without any conflicting package names.

Unfortunately, I've found that the performance

[2019-05-06 21:23] tnrich commented on #468
@siobhandavis I think sequence case when copying is preserved currently, it just doesn't factor in the "Upper Case" and "Lower Case" options. For example:
![image](https://user-images.githubusercontent.com/2730609/57255968-415b5800-700a-11e9-9a82-9a6f6e1d58cf.png)
You can see above that the copied text retains its casing. But if I choose to upper-case everything:
![image](https://user-images.githu

[2019-05-06 21:41] tnrich commented on #468
Hmm.. after thinking it through a bit more, I think it might make more sense to get rid of the options to view the sequence case differently. I think if the user wants to view the case differently, they should be changing the underlying data so that the sequence will always be upper or lower.

So instead of a view option to change sequence case, we'd get an option under edit like so:
![image](http

[2019-05-10 13:16] ericsturman opened #470 "Using beforeSequenceInsertOrDelete when selection crosses origin produces unexpected results"
@tnrich

We are using the `beforeSequenceInsertOrDelete` feature to show users sequence text they have changed during their session.  If we highlight the first 6 bases of the demo and replace with `aaaaaa` the result is a `CHANGED_SEQUENCE` part and our replaced text on the first 6 bases as expected.  But if our 6 base selection crosses the origin (in the middle of the selection) and we paste the

[2019-05-10 16:19] tnrich commented on #470
@ericsturman good catch! I'll take a look and see where this issue is arising from exactly. Something is definitely very off in the photos you sent me -- not only is the part not where you want it to be, the existing annotations themselves are being shifted around incorrectly it looks like. There must be something off with the insert sequence data code around the origin.

I do know that inserting

[2019-05-10 16:49] ericsturman commented on #470
Thank you @tnrich !  I agree with your first set of scenarios as do other members of the team.

[2019-05-10 16:57] tnrich commented on #470
@ericsturman so you're voting for this strategy:
When replacing a 6bp selection around the origin with 20 bps, put 3 bps on one side of the origin and then 17 bps at the start of the sequence?
When replacing a 20 bp selection around the origin (split 10-10) with only 8 bps, put them all at the end of the sequence?

Seems reasonable to me.

Let me see what others on my team have to say.

[2019-05-10 17:22] tnrich commented on #470
It appears benchling goes with the delete --> insert at end of selection strategy:
![image](https://user-images.githubusercontent.com/2730609/57543912-a1a01180-730a-11e9-94e1-5d73fc2b342a.png)

Our teselagen legacy editor does the delete --> insert at start of selection strategy:
![image](https://user-images.githubusercontent.com/2730609/57544844-6a7f2f80-730d-11e9-9de4-c190c32e0be3.png)

I'd like

[2019-05-10 18:39] tnrich commented on #470
Apparently geneious and snapgene both do the `delete --> insert at end of selection` strategy:

![image](https://user-images.githubusercontent.com/2730609/57549236-d797c280-7317-11e9-941d-35a03f799a92.png)

@ericsturman because it seems to be a reasonable strategy and the general convention in other tools, I am going to implement the `delete --> insert at end of selection` strategy. This will also

[2019-05-10 18:49] ericsturman commented on #470
@tnrich this will work fine for us.  Thanks again!

[2019-05-11 22:47] gmcarthuriv commented on #468
I agree, @tnrich - don't really need a view-only change. Thanks! 😎

[2019-05-13 14:58] siobhandavis opened #471 "Search for amino acid sequences in the sequence viewer"
The search functionality only appears to apply to the DNA sequences in the HDE/LIMS sequence viewer. It would be useful to be search for selected amino acid sequences as well for translated CDSs.

[2019-05-13 14:59] siobhandavis commented on #471
TG-299

[2019-05-14 17:58] tnrich commented on #470
@ericsturman can you please try v8.0.43 here: http://teselagen.github.io/openVectorEditor/#/Editor

I've implemented the `delete --> insert at end of selection` strategy for REPLACE actions and `delete --> insert at start and wrap` for COMPLEMENT/REVCOMP actions.

If you want you should also be able to choose your preferred strategy by altering the options returned in beforeSequenceInsertOrDelete:

[2019-05-15 00:05] gmcarthuriv opened #473 "Eliminate "show visibility options" icon in header menu"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

This icon is redundant; the View menu is sufficient. Removing this icon helps to streamline the app.

[2019-05-15 00:52] tnrich commented on #473
@gmcarthuriv PR's are in lims and hde now.

[2019-05-15 00:52] gmcarthuriv opened #474 "Search/find tool > field should always be expanded"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

Having to click on the magnifying glass icon just to be able to drop in a sequence for searching is really annoying. It would be better to simply have the field/bar expanded permanently.

![image](https://user-images.githubusercontent.com/17152701/57741257-e57b7980-7670-11e9-8ed8-d901feb95d50.png)

[2019-05-15 01:00] gmcarthuriv opened #475 "Closing a search is inefficient"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

As a user, I expect my search to close when clicking the "x" to the left of the find/search bar. Instead, it just hides the search bar and leaves the sequence query.

![image](https://user-images.githubusercontent.com/17152701/57741435-a568c680-7671-11e9-92e1-88d7eacd15da.png)

![image](https://user-images.githubusercontent.com/17152701/57741336-430f

[2019-05-15 01:04] tnrich commented on #474
@gmcarthuriv you can also toggle that using Cmd-F

Could that be useful for you? I am a little hesitant to give that option just because it takes up more space in the toolbar and could cause the icons to wrap on small screens.

[2019-05-15 01:09] gmcarthuriv opened #476 "Find/search sequence requires clicking for selection"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

As a user, I expect to be able to act immediately after a sequence is found via search. For example, I should be able to right-click and make a Part immediately after finding a sequence via the find tool. Currently, however, the sequence is only highlighted and requires an additional action (clicking on the highlighted sequence) before being able to

[2019-05-15 01:19] gmcarthuriv opened #477 "Footer menu location"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

The footer menu should be moved and simplified. I highly recommend bringing it up top and putting "editable" vs "read only," "circular" vs "linear," and "unavailable" vs "available" somewhere in the main menu (e.g., Edit > Editable). That would leave the following in the menu, which could live to the right of the search bar.

- Selecting XX bps from

[2019-05-15 01:24] gmcarthuriv opened #478 "Oversized fonts for GenBank feature labels"
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

I would encourage bringing the font size down some for GenBank feature labels. It's fairly intense on my monitor (which is an ultrawide).

![image](https://user-images.githubusercontent.com/17152701/57742215-1cec2500-7675-11e9-8442-ef79d8c8add0.png)

[2019-05-15 07:23] gmcarthuriv commented on #269
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

Would it be helpful to discuss this ticket in more detail?

[2019-05-15 07:26] gmcarthuriv commented on #210
@tnrich, @tiffanydai, @craftjk, @siobhandavis,

Is this ticket still active? Please let me know if there's anything I can do to help.

[2019-05-15 18:09] tnrich commented on #476
Good idea @gmcarthuriv . I've made it so right clicking a search layer will automatically select the search layer. This will make it into the next OVE release

[2019-05-16 16:38] tnrich commented on #475
We've discussed this before here: https://github.com/TeselaGen/hde/issues/2953

I am fine to change it to do it differently. I would propose that we make it like the built in chrome find tool. Where the search is cleared when closing, but upon re-open, the last search text is still being searched for and selected for easy "paste-over":

![image](https://user-images.githubusercontent.com/2730609/57

[2019-05-16 22:47] tnrich commented on #469
Hey @CathyC93 you can update to the latest beta version of TRC and OVE `yarn add open-vector-editor@beta teselagen-react-components@beta` and they should be free of all references to react select. I've switched everything over to use the blueprint multi-select component.

Let me know if that works for you.

[2019-05-17 05:14] tnrich commented on #468
@gmcarthuriv one thing to note about changing our approach here is that it might make it slightly more complicated for you to **always** have you sequences being defaulted to upper case. In order to upper case your sequences you'll now have to Edit >  Change Case > Upper Case Sequence:

![image](https://user-images.githubusercontent.com/2730609/57904511-e4d91380-7827-11e9-8ab5-42cdd1527e53.png)

[2019-05-17 16:30] tnrich commented on #468
@gmcarthuriv one more thing to be aware of, by removing the "view-only" sequence case change, users won't be able to view the sequence in their preferred manner when the sequence is in read-only mode. Just something to be aware of.

Maybe we should have both? I am not sure..

[2019-05-21 13:01] ericsturman commented on #470
@tnrich Thank you for accommodating both scenarios.  We decided to go with the `{maintainOriginSplit: true}` and everything works fine except for the selection layer start being placed at the beginning of the vector sequence instead of the beginning of the newly inserted sequence.  The length of the selection is correct; it's only the start/end coordinates that are skewed.

[2019-05-21 20:52] tnrich commented on #470
Hey @ericsturman glad it is _mostly_ working out for you :)

I've added a branch (https://github.com/TeselaGen/openVectorEditor/tree/todoericsturman) for you with two todos in it (find them by doing a find all for the word `todoericsturman`)

In that branch I've altered the signature of the wrappedInsertSequenceDataAtPositionOrRange function to return user defined options to allow for customizing

[2019-05-28 06:05] tnrich commented on #478
@gmcarthuriv I think I've got a first pass of what you're looking for working on a branch. @tiffanydai  could you take a look at the `tnrScaleDownLargeLabels` branch on a large screen monitor and see what you think. The labels max font size should essentially be capped around 16px:

![image](https://user-images.githubusercontent.com/2730609/58454536-a0752f80-80d3-11e9-8acc-0f1dab85fc0c.png)

![ima

[2019-05-28 18:13] tiffanydai commented on #478
The proportions look better on my monitor (27"). Would you prefer the labels even smaller, @gmcarthuriv ?

before:
![image](https://user-images.githubusercontent.com/35508772/58501531-866e3800-8139-11e9-9218-c0f1a5d04208.png)

after:
![image](https://user-images.githubusercontent.com/35508772/58501549-8ff7a000-8139-11e9-8c77-37b13897e652.png)

[2019-05-28 23:15] tnrich commented on #478
I'll publish this as is right now and we can iterate if it still isn't meeting your needs @gmcarthuriv

[2019-05-29 06:46] gmcarthuriv commented on #478
@tnrich, @tiffanydai - sweet! Looks great!

[2019-05-29 06:49] gmcarthuriv commented on #475
@tnrich - sounds reasonable. Let's give it a shot!

[2019-05-29 06:54] gmcarthuriv commented on #468
@tnrich, sorry I missed this notification earlier. If this ends up being too gnarly I'll let you know - might be something that we need to revert. I'm looking forward to checking out the new behavior.

[2019-05-29 07:37] gmcarthuriv commented on #474
@tnrich, the shortcut will work well - thanks.

[2019-05-29 07:41] gmcarthuriv commented on #475
@tnrich, I think I've identified the real issue here. The problem, in my opinion, is that the highlight persists even after clicking away or pressing ESC or other similar actions. The only way I've found to remove the highlight is to delete the string in the search/find box. However, if this were similar to the Chrome tool, then the highlight would disappear after clicking elsewhere.

[2019-05-30 01:22] #474 closed

[2019-05-30 01:27] tnrich commented on #475
Hey @gmcarthuriv I've already made a release where the functionality you're looking for has landed. you can try it out here: http://teselagen.github.io/openVectorEditor/#/Editor

The search layers now disappear whenever the box is closed which can be by hitting the close icon or by hitting esc: ![findtool](https://user-images.githubusercontent.com/2730609/58601794-501ae080-823f-11e9-8255-9a5e5c0b0

[2019-05-30 01:28] #475 closed

[2019-05-30 01:28] #476 closed

[2019-05-30 01:29] #473 closed

[2019-05-30 20:15] #418 closed

[2019-05-30 20:16] tnrich commented on #414
Can you please provide a video reproducing this issue @XimeMora

[2019-05-30 22:10] XimeMora commented on #414
It seems to be working now. Closing the ticket.

[2019-05-30 22:10] #414 closed

[2019-06-28 21:15] tnrich commented on #470
This should be fixed by https://github.com/TeselaGen/openVectorEditor/pull/480

Let me know if you have any more issues with this @ericsturman. Great work!

[2019-06-28 21:15] #470 closed

[2019-07-02 17:22] hplahar opened #481 "ORFs that span the origin are not displayed"
Reported by a user. I have a sequence this happens in that I can email to you. Let me know

@tnrich

[2019-07-02 17:40] tnrich commented on #481
@hplahar yes please upload the sequence here. Thanks!

[2019-07-02 21:06] hplahar commented on #481
I will email it to use separately since it is in the JBEI registry

[2019-07-09 22:51] siobhandavis commented on #471
@tnrich if you have any bandwidth to pick this up, that would be awesome. Thanks!

[2019-07-10 20:23] tnrich commented on #471
Closing as this can already be done via the wrench option dropdown in the search tool

[2019-07-10 20:23] tnrich commented on #471
Closing as this can already be done via the wrench option dropdown in the search tool

[2019-07-10 20:23] #471 closed

[2019-07-18 17:08] tnrich opened #484 "It is unclear if/which editor has focus, regaining focus loses selection layer"
It is currently confusing to tell if the editor has focus or not and thus whether inserting sequence via will work at the current moment.

Once focus is more obvious (based on the selection layer), then we need to allow a way to refocus on an editor panel without losing the selection layer. I think clicking the carets of the selection layer should not clear the selection and should bring back focu

[2019-07-18 17:08] tnrich opened #485 "It is unclear if/which editor has focus, regaining focus loses selection layer"
It is currently confusing to tell if the editor has focus or not and thus whether inserting sequence via will work at the current moment.

Once focus is more obvious (based on the selection layer), then we need to allow a way to refocus on an editor panel without losing the selection layer. I think clicking the carets of the selection layer should not clear the selection and should bring back focu

[2019-07-22 16:56] jjkaur opened #486 "Custom tab or Custom properties tab"
@tnrich

Hello Thomas,
Is there any way to add custom properties tab or custom tab in OVE? Here is the screenshot for reference.
![17463A1A-AE77-4E88-9B0D-28FF5D063B84](https://user-images.githubusercontent.com/17455433/61649538-4ded6500-ac77-11e9-9c4d-a8b3ace2e453.jpg)

[2019-07-22 22:44] tnrich commented on #486
Hey @jjkaur yes this should now be possible. I had to make a couple small tweaks but you should be able to view the demo page for an example of how to do this.

![image](https://user-images.githubusercontent.com/2730609/61669774-2659c500-ac96-11e9-8654-774b8d02b49e.png)

To see it in action just go to http://teselagen.github.io/openVectorEditor/#/Editor and click either the "Customize tabs" or  "C

[2019-07-22 22:47] #486 closed

[2019-07-22 22:48] tnrich commented on #485
This should now be fixed!

[2019-07-22 22:50] #485 closed

[2019-07-22 22:57] tnrich commented on #481
@hplahar I've tracked down this bug and it seems like my orf detection algorithm has some issues with orfs internal to a larger circular orf when they are both in the same reading frame. More details to come.

[2019-07-24 14:11] jjkaur commented on #486
Excellent. Thank you so much for the awesome product and this quick feature. It works perfectly :-)

[2019-07-24 17:59] tnrich commented on #486
Thanks! Glad to hear it! Just out of curiosity, what are you putting in your custom tab?

[2019-07-24 19:12] jjkaur commented on #486
We have few extra fields associated to a vector like comments, alias, synonyms. Also we have certain rules on who can view or edit that information. So we put that as part of the custom tab under Properties.

[2019-07-26 15:38] tnrich commented on #481
I believe this should be fixed now but it will need some solid QA. Want to try out the latest version of OVE at the demo page and see if it is working for you @hplahar

[2019-07-26 15:39] tnrich commented on #468
This has been implemented so I'll close this issue for now. Let me know if there are issues with the new behavior :)

[2019-07-26 15:39] #468 closed

[2019-07-26 15:40] tnrich commented on #469
Closing this because there is no longer a hard react select dep in OVE si you should be free to use whatever version of it you please.

[2019-07-26 15:40] #469 closed

[2019-07-26 15:41] #463 closed

[2019-07-26 15:41] #461 closed

[2019-07-26 15:41] #462 closed

[2019-07-29 20:51] tnrich commented on #188
I've added a note to alert users that * will match any character (not just atgc) when doing an ambiguous dna search. I think that should be sufficient to clear up any confusion and it also allows ambiguous dna searches to match non-atgc chars which would otherwise be impossible to do.

![image](https://user-images.githubusercontent.com/2730609/62081534-b4d6c500-b207-11e9-909f-d3b41d5a110a.png)

[2019-07-29 20:51] #188 closed

[2019-07-29 20:53] tnrich commented on #154
@hplahar is this still happening?

[2019-07-29 21:08] tnrich commented on #372
@AdamZMc this should now be looking better and the error handling should look better too!

![image](https://user-images.githubusercontent.com/2730609/62082806-4e06db00-b20a-11e9-9a1f-aa3a0f8865b8.png)

[2019-07-29 21:08] tnrich commented on #373
Closing as this issue is out of date now

[2019-07-29 21:08] #373 closed

[2019-07-29 21:09] tnrich commented on #372
Closing until more issues are found ;)

[2019-07-29 21:09] #372 closed

[2019-08-05 19:04] tnrich commented on #389
I think that this might be less confusing if we just draw the label lines all the way to their respective features:

![image](https://user-images.githubusercontent.com/2730609/62488396-11daf980-b779-11e9-9291-f13ffd37fbd2.png)

Instead of truncating them like we do now.

If we draw the non-hovered lines lightly enough I don't think they really get in the way of the overall visualization.

[2019-08-05 19:43] #318 closed

[2019-08-05 19:46] tnrich commented on #270
There is now a dedicated Editor Hotkey dialog that can be found under Menu > Help > Hotkeys

[2019-08-05 19:46] #270 closed

[2019-08-06 00:48] tnrich commented on #304
I believe parts have been added to lims. Can you verify @tgreen @tiffanydai ?

[2019-08-06 00:56] tnrich commented on #299
Closing as this has been fixed on OVE's demo page for a long time now:

![image](https://user-images.githubusercontent.com/2730609/62503723-4a46fb80-b7aa-11e9-9ab0-29d757c0cd06.png)

[2019-08-06 00:56] #299 closed

[2019-08-06 08:27] XimeMora commented on #389
That seems like a good idea to me 👍

[2019-08-06 08:59] XimeMora commented on #304
I see parts in lims' sequences now. Should we close this ticket then?

[2019-08-14 16:47] ericsturman opened #492 "Unable to type or paste text after Go to.../Select..."
@tnrich

After using `Edit -> Go To...` or `Edit -> Select...` and entering coordinate(s) the caret(s) is placed in the correct location, but typing new text or pasting text with `ctrl-V` does not enter new text into the sequence.  Clicking the location or dragging a selection range works as expected when typing pasting text.

[2019-08-14 17:13] tnrich commented on #492
@ericsturman I've added an improved visualization of focus recently. When any of the circular/linear/sequence maps are focused and have a selection, that selection will be blue:
![image](https://user-images.githubusercontent.com/2730609/63040756-fd82b500-be7a-11e9-9a1a-ba98c8bd99c4.png)

When there is just a caret in one of the map view and the view is focused, the caret will be blinking to indica

[2019-08-14 18:38] hplahar commented on #154
@tnrich No. Looks fine now

[2019-08-14 18:43] hplahar opened #493 "Add version number to "Help->About""
@tnrich Can you add the version number to "Help->About" Will be super helpful to quickly figure out which version user is on.

[2019-08-14 18:50] tnrich commented on #154
Awesome thanks @hplahar

[2019-08-14 18:50] #154 closed

[2019-08-14 18:50] tnrich commented on #493
Yep! Good idea, I'll add it!

[2019-08-14 19:00] tnrich commented on #493
I've added it here:
![image](https://user-images.githubusercontent.com/2730609/63048249-f95e9380-be8a-11e9-885c-2236d206324c.png)

and here:
![image](https://user-images.githubusercontent.com/2730609/63048266-024f6500-be8b-11e9-8a29-328d08a8056b.png)

I'll let you know when that gets released.

[2019-08-16 03:41] tnrich commented on #493
@hplahar This has been released!

[2019-08-16 04:36] hplahar commented on #493
@tnrich great. thanks

On Thu, Aug 15, 2019 at 8:41 PM Thomas Rich <notifications@github.com>
wrote:

[2019-08-19 16:15] #493 closed

[2019-08-19 18:47] tnrich commented on #492
Hey @ericsturman I've been thinking about this one for a little bit now and I think I need to update (once again) how focus is handled in OVE and where I attach event listeners. Currently each of the views, circular/row/linear have their own listeners attached. This lets them respond to the different hotkeys but also can cause issues if you click outside of them and then try to trigger hotkeys.

I

[2019-08-19 22:07] tnrich commented on #492
@ericsturman I've just implemented and published the quick fix I mentioned above where in the goTo/selectRange dialogs we manually just try to refocus the .veVectorInteractionWrapper node. I've added a test for those as well (`you can go to a position or a range and then directly type in bps`). I'll leave this issue open and eventually want to fix the larger listeners issue.

[2019-09-09 19:31] ericsturman commented on #330
@tnrich this is also a feature we would really like to see.  Is there an estimate for when a basic zooming feature might be implemented?

[2019-09-09 19:38] tnrich commented on #330
@ericsturman no timeline as of yet. I think before we can give a timeline some serious thought needs to be put into how the UX would work for this feature. I'm not sure what the best way to do this is.

Maybe you could help by giving a breakdown of how you'd want this to work as well as how other tools handle zooming in the circular view? Once we have the UX decided on I could figure out what chan

[2019-10-16 16:09] hplahar opened #541 "Editor Handler for Selection Layer"
@tnrich
Is there a handler available for listening to changes to the selection layer? I am looking for a way to get information about user selections as they happen.

[2019-10-16 20:39] tnrich commented on #481
Great !

[2019-10-18 20:06] tnrich commented on #541
Hey @hplahar, I'm pretty sure I understand what you're asking for. I've added a `onSelectionOrCaretChanged` handler for you. You can see it in action at http://teselagen.github.io/openVectorEditor/#/Editor?onSelectionOrCaretChanged=true

Here's it's signature:
[code]
whenever this is called, either `caretPosition=-1` or `selectionLayer={start: -1, end: -1}`

It might look a little strange that I'v

[2019-10-18 23:22] hplahar commented on #541
Thanks. That should meet my needs. I will give it a try and let you know
how it goes

On Fri, Oct 18, 2019 at 1:06 PM Thomas Rich <notifications@github.com>
wrote:

[2019-10-21 01:46] tnrich commented on #541
@hplahar  I'll close this. Please re-open if you have any issues. Also just out of curiosity, what do you need that handler for?

[2019-10-21 03:05] hplahar commented on #541
@tnrich Working well so far.
In DIVA, one of the primary ways users enter "parts" into the design is to go into openVE in ICE, select the subset of the sequence (or feature) and then copy and paste into device editor. I am enabling users to use openVE in deviceeditor to do this selection. So now they will be able to import a sequence, visualize it in openVE and by either clicking on the feature or

[2019-10-21 03:05] #541 closed

[2019-10-23 21:44] hplahar opened #546 ""Remove duplicated features" option"
@tnrich
It will be useful to have an option to enable a user remove all (and leave just 1 - not sure what the right term for that is) instances of duplicated features. So, if there is a feature that occurs multiple times, with the same name and location, the feature will enable removal of all but 1 of that feature. See the attached screenshot for a use case where it will help

<img width="1429" al

[2019-10-25 02:41] tnrich commented on #546
Hey @hplahar I went ahead and added a Remove Duplicate Features/Parts/Primers dialog to the app:

![image](https://user-images.githubusercontent.com/2730609/67539140-e8957f80-f67c-11e9-90d4-111fb53841c3.png)

It can be accessed via the Tools Menu or the Properties panel or by right clicking a feature/part/primer and selecting "Remove Duplicate Features/Parts/Primers"

It is enabled by default in o

[2019-10-27 18:05] hplahar commented on #546
That's great @tnric . Thanks for the quick turnaround

[2019-10-28 19:49] #546 closed

[2019-11-01 21:24] tnrich commented on #330
Hey @ericsturman and @tiffanydai  I just wanted to give you a small progress report as I've been working on and off on a first pass solution for this for a little while now. Here's a video showing what I've got so far:

![zoomdemo](https://user-images.githubusercontent.com/2730609/68057443-2022ae00-fcb3-11e9-9ac5-24b9ce4c10ce.gif)

 You can check it for yourself out on the `tnrCircularZoom` branch

[2019-11-21 16:24] jjkaur opened #561 "Add Manage Enzyme Groups Functionality; Add Ability to remove/hide enzymes from the single cutter grouping."
@tnrich

In the cutsites property tab, all the single cutters are group together but there isn't a way to remove/hide one or more restriction enzymes from the single cutter grouping.Many of our users using OpenVectorEditor has requested for this functionality as they work with big list of single cutters. Many suggested to have a checkbox in the table of cutsite to hide/show the restriction enzymes

[2019-11-21 20:47] tnrich commented on #561
@jjkaur If you'd like to add this specific functionality I would be more than happy to a PR. I am not sure I'll be able to get around to fixing this immediately as I have other priorities on my plate at the moment.

I'll let you know when that changes but for now I don't think I can fix this. Feel free to ask questions about anything if you do try to make the fix though.

-Thomas

[2019-12-02 15:25] jjkaur commented on #561
Thanks for the response. I will try to make the changes and submit a PR.

[2019-12-02 19:58] tnrich commented on #561
@jjkaur cool! Let me know how it goes

[2019-12-06 20:44] mfero commented on #334
@XimeMora @tnrich is this available in DESIGN now?

[2019-12-06 20:57] tnrich commented on #334
@mfero no the backend has not been implemented in design yet

[2019-12-06 20:59] mfero commented on #334
@tnrich Ok, Adam is oversubscribed so I guess this will wait.

[2019-12-18 21:52] hplahar opened #568 "Application (embedded) crash when attempting to view the properties or sequence history panel"
@tnrich
In our embedded instances of OVE, attempting to click on the properties panel causes the application to crash with the following type error:

Chrome:
[code]

Firefox:
[code]
Let me know if there is additional information I can provide. You can see if by going to the public registry (public-registry.jbei.org - create a new account if you don't already have one), click on any entry that has

[2020-01-04 18:31] tnrich commented on #561
@jjkaur just checking in with you. Have you made much progress?

[2020-01-07 17:23] jjkaur commented on #561
@tnrich : Not yet. I was on vacation. I will work with Eric to see what is needed for the PR.

[2020-02-03 21:48] tnrich opened #577 "Firefox -- window getting cut off at top when embedded in ICE"

[2020-02-03 21:55] tnrich commented on #577
Duplicate of https://github.com/TeselaGen/openVectorEditor/issues/352 !!

[2020-02-05 20:36] tnrich commented on #352
This should be fixed in open-vector-editor@10.1.45  @hplahar

[2020-02-05 20:36] tnrich commented on #577
This should be fixed in open-vector-editor@10.1.45  @hplahar

[2020-02-05 20:41] tnrich commented on #319
@hcdepaoli I've added a first pass of this to the latest version of OVE --http://teselagen.github.io/openVectorEditor/#/Editor

I've added partial digest functionality and added max cutsite limits to regular and partial digests to prevent the browser from freezing.

Want to check it out and let me know if it is working for you?

[2020-02-05 21:27] hcdepaoli commented on #319
Hi Thomas,

Thanks for the implementation!
This is very helpful, will definitely use it!

Cheers,

Henrique

On Wed, Feb 5, 2020 at 12:42 PM Thomas Rich <notifications@github.com>
wrote:

[2020-02-05 21:34] tnrich commented on #319
Cheers @hcdepaoli , I'll close this for now! Don't hesitate to reach out if you encounter any issues with it :)

[2020-02-20 18:33] ericsturman opened #578 "Add feature labels to LinearMap with label lines."
@tnrich

Our users would like to be able to view all of the feature labels in the linear map.  Currently, the labels are inside the feature only for features larger than the label text size.  We would like to add the option to remove those labels and include them with the cutsite labels (with a different font style).  We would also like to make the lines always visible and change the style on hove

[2020-02-20 19:08] tnrich commented on #578
Hey @ericsturman this is definitely something I'd be happy to accept a PR for if you're feeling up to doing it. I do think it should be too tough to implement. I've played around with different label strategies before and think it would be good to support multiple options.

I'll take a look at the code and try to point you in the right direction

[2020-02-20 19:34] tnrich commented on #578
@ericsturman just to get you started on this, I made a branch with a few changes on it. Here's the PR for it: https://github.com/TeselaGen/openVectorEditor/pull/579

[2020-02-20 19:43] tnrich commented on #578
@ericsturman just a heads up that I made a little todo list in the PR of things that will need to be implemented

[2020-03-02 05:03] tnrich commented on #578
Ok @ericsturman great work!

I just released open-vector-editor@10.1.51 which has your changes and a few tweaks of my own. I adjusted the label drawing to fix labels from bunching up at the end of the "row". I also made the font family monospace to better be able to tell if a label would fit in a feature or not. I also centered the label inside the annotation better.

Can you please try it out and

[2020-03-02 05:10] #577 closed

[2020-03-02 05:11] tnrich commented on #568
@hplahar I believe this is fixed. Let me know if you still need any assistance on this

[2020-03-02 05:11] #568 closed

[2020-03-06 23:50] hplahar opened #587 "Have onSave callback only send what was changed"
With the onSave callback in openVE, is there a way to only get what was updated? E.g. if the user updates the name of a feature, it will be great to only get that feature instead of the entire sequence information

@tnrich

[2020-03-07 00:37] tnrich commented on #587
@hplahar let's say a user changed the name of a feat

What would you want to see exactly. Is this all you'd want:
[code]

Let's say they changed several things, like updated a couple feature names, moved some bps around, and deleted a few features. It seems like we'd need to provide a diff in order to give a complete log of what changed. I could provide diff info via https://github.com/benjamine/j

[2020-03-07 13:41] hplahar commented on #587
If only the name of a feature is changed, then it will be fine for sequenceData to only contain that feature.

Also, I am using "shouldAutosave: true" so I believe multiple changes will each trigger onSave. Maybe this new feature should be tied to when autoSave is enabled.

[2020-03-09 16:38] tnrich commented on #587
@hplahar what I was trying to say is that I think every change will need to be expressed via a diff instead of just passing a minimal sequence data object. Currently autosave=true can still pass multiple changes at one time which will necessitate the diff to be passed.

Are you ok with consuming a diff on your end?

[2020-03-09 17:06] hplahar commented on #587
Sure

[2020-03-09 18:42] tnrich commented on #578
@ericsturman going to close this issue. Feel free to re-open or make a new issue if anything arises.

[2020-03-09 18:42] #578 closed

[2020-03-09 21:06] tnrich commented on #561
Linking https://github.com/TeselaGen/lims/issues/4410 and looping in @mfero and @tiffanydai

@jjkaur @ericsturman I have been thinking about trying to improve the enzyme management system for a bit now. I have a branch I'm trying some stuff out on. I'm still working through what the UX might be and how it might work with both localstorage and a user configured db.

Here's a little bit of what I'm

[2020-03-09 21:13] tnrich commented on #150
Closing in favor of https://github.com/TeselaGen/openVectorEditor/issues/561

[2020-03-09 21:13] #150 closed

[2020-03-10 23:54] tnrich opened #589 "Separate "Copy Complement" from "Copy Reverse Complement" in the menu to avoid confusion"
I will move "Copy Complement" to the bottom of the list here:
![image](https://user-images.githubusercontent.com/2730609/76369098-a1d4b900-62ef-11ea-8e9f-689065e949bc.png)

to avoid people accidentally pressing it.

[2020-03-10 23:54] tnrich commented on #589
https://trello.com/c/cuyc5DtA/30-delete-copy-complement-option-from-plasmid-maps

[2020-03-11 20:51] tnrich commented on #589
This will now look like: ![image](https://user-images.githubusercontent.com/2730609/76462493-03a02c00-639f-11ea-8b0f-5d65990a39cb.png)

in open-vector-editor@10.1.55 or higher

[2020-03-11 20:51] #589 closed

[2020-03-11 23:45] tnrich opened #590 "Give an option for a larger search/find tool"
that's from a request coming from https://trello.com/c/yT7jR9ep/31-make-the-find-search-bar-enlargeable-make-it-bigger

I've decided to add an option to have an "Expanded" version of the find bar which will sit at the top of the screen. It can be enabled by clicking the "Options" wrench in the regular find tool and selecting "Expanded":
![image](https://user-images.githubusercontent.com/2730609/76

[2020-03-11 23:47] tnrich commented on #590
Also note, the "Expanded" setting is persisted to localStorage by default so this setting will persist across sessions

[2020-03-12 00:12] tnrich commented on #590
This feature is available in open-vector-editor@10.1.58 and higher and can be seen here: http://teselagen.github.io/openVectorEditor/#/Editor

[2020-03-12 15:46] tnrich opened #591 "Add a way to create Features/Parts from digest fragments in Virtual Digest"
I've added a way to create Features/Parts from digest fragments in Virtual Digest. You can either right click a fragment and choose Create Feature/Part:
![image](https://user-images.githubusercontent.com/2730609/76538978-5c260680-643d-11ea-9d12-5fb2263bbf95.png)

or you can right click the selection layer that is created from clicking the fragment in the virtual digest or in the digest table:
![im

[2020-03-17 21:39] tnrich commented on #561
Linking https://github.com/TeselaGen/lims/issues/4759 here

[2020-03-20 19:57] tnrich commented on #587
@hplahar I've come up with a v1 of this functionality. Behind the scenes the editor itself is now using diffs to track the undo/redo state.

My understanding of your issue is that you don't want to pass all of the sequence data to the backend on every save. In order to allow you not to do that, I've made it so the onSave handler is passed an extra option that is an array containing all the changes

[2020-03-23 12:32] jjkaur commented on #561
We had to develop a custom user based restriction enzyme list tool. Our user maintains a big master list of restriction enzymes. Cloners wanted to create a smaller user based custom restriction enzyme lists based on the selection from the master list.
With the above mentioned features we will be able to remove our custom tool for the user based restriction enzyme groups. Also the ability to remove

[2020-03-23 16:15] onoufriosm opened #594 "Can't get a basic installation for React to work"
I followed the installation guide on the Readme page on a fresh create-react-app project and I'm getting an error on missing packages.

This is what I did:
1. Fresh CRA installation
2. `yarn add install-peerdeps open-vector-editor`
3. `install-peerdeps open-vector-editor --dev --only-peers`
4. render `<Editor {...editorProps}/>`

And I get the following error:
`Can't resolve '@blueprintjs/core'`
w

[2020-03-23 19:28] tnrich commented on #594
Hey @onoufriosm sorry about that. It looks like there are several packages that should be in the package.json peerDependencies field that aren't there currently. I'm trying out a fresh CRA install right now and will update the peerDependencies so this works out of the box.

[2020-03-24 01:38] tnrich commented on #594
@onoufriosm I'm putting together a little example repo that will document how to use the <Editor/> in a CRA app. I'll let you know when that's ready to go.

I'm sure you saw the docs but you can also use the editor as a UMD module like so:
[code]

[2020-03-24 09:53] onoufriosm commented on #594
@tnrich Thanks for the quick response.

Unfortunately the script above ("https://unpkg.com/open-vector-editor/umd/open-vector-editor.js") errors for me on line 152026. Let me know if you are having the same issue and if you manage to get the CRA version to work.

[2020-03-24 15:48] tnrich commented on #594
Hmm that's interesting to hear. I'll look into the unpkg issue you're mentioning. Maybe a bug was introduced recently? In any case I'll be setting up some more tests to make sure that that always is working :)

I'll let you know about the CRA stuff shortly

[2020-03-24 16:31] tnrich commented on #594
Hey @onoufriosm here is where you can see how to run the app in a CRA environment. https://github.com/tnrich/ove-react-demo-repo

If you clone that repo you can see it working and see how to set up the redux store/provider and initialize the editor. You should just clone it and run:
[code]

I bundled all the deps into open-vector-editor@10.1.61 so you shouldn't have to worry about installing peer

[2020-03-24 22:37] tnrich commented on #594
Hey you can see a working version of the editor running using the UMD/unpkg code here: https://github.com/TeselaGen/openVectorEditor/blob/master/demo/public/UMDDemo.html

[2020-03-24 23:20] tnrich commented on #594
Let me know if you have any more questions @onoufriosm or run into any other issues getting the editor set up and running to your liking. I'll close this one for now

[2020-03-24 23:20] #594 closed

[2020-03-25 10:38] onoufriosm commented on #594
Thanks a lot! I can confirm that it's working now.

[2020-03-26 12:58] onoufriosm opened #595 "[Question] Is there a command to produce a preview image onSave?"
@tnrich

Is there a way to produce an image preview during the onSave event (we want to store an image preview in our database on top of the sequenceData).

It could be the same `svg` (linear or circular) is computed to be displayed in the editor. Or any other format really like `png`.

Thanks!

Also, is this the right place to ask questions?

[2020-03-26 17:29] tnrich commented on #595
Hey @onoufriosm yep this is the right place to ask!

I unfortunately don't have the time to implement this feature itself but I think it is a great idea! If you're up for it, I can help you make a PR to get that functionality.

Essentially it sounds like what you'll want to do is render either the linear or circular view and generate an image from it in the onSave handler.

Here's where I imagine

[2020-03-27 17:18] onoufriosm commented on #595
@tnrich

I've worked on this today and I've made progress. I can now produce a blob (and download it as png) of the circular/linear view.

The one issue I have is that I can't use `ComponentToPrint` -> `Uncaught TypeError: Cannot read property 'apply' of undefined (redux)`. As a workaround for now I'm using the active view on the editor.

I can push my branch so that you see the work I've done. I

[2020-03-27 20:02] tnrich commented on #595
Hey @onoufriosm awesome! Ya you should fork the repo and make a pr from that branch. I can probably help you get past your error. Let me know when the pr is made :)

[2020-03-30 09:54] onoufriosm commented on #595
https://github.com/TeselaGen/openVectorEditor/pull/598

[2020-03-30 11:33] onoufriosm opened #599 "[Question] Initialize editor in edit mode"
@tnrich

How can we initialize the editor in edit mode?

[2020-03-30 14:57] tnrich commented on #599
You'll need to pass an onSave callback to allow for edit mode and readOnly=false

[2020-03-30 15:14] onoufriosm commented on #599
I think my description wasn't clear. I can initialize the editor to not be read only i.e. I can see the lock toolbar icon to switch between edit and read only mode.

What I'm trying to achieve is as soon as the editor opens to switch in edit mode.

[2020-03-30 15:43] tnrich commented on #599
Hey @onoufriosm you're right, my last answer was a little hasty! You'll need to actually pass

[code]

You'll need to do it in `updateEditor` because `isReadOnly` is managed as redux state so that you don't have to worry about tracking it (a user can set it themselves if they're given that option).

[2020-03-30 16:14] onoufriosm commented on #599
Perfect works! Thanks!

[2020-03-30 17:40] #599 closed

[2020-03-31 17:30] tnrich commented on #595
@onoufriosm were you able to figure it out from the changes I made?

[2020-04-01 08:10] onoufriosm commented on #595
I'm going to work on this today. Thanks for the changes  though. I'll let you know if I have any issues

[2020-04-01 16:39] #590 closed

[2020-04-01 16:40] #591 closed

[2020-04-01 16:40] tnrich commented on #458
This has been added!

[2020-04-01 16:40] #458 closed

[2020-04-01 16:41] tnrich commented on #451
Done!

[2020-04-01 16:41] tnrich opened #602 "Add option to filter features by length"
We should add an option to the `Menu Bar > View > Features` to filter out features by length.

[2020-04-01 16:42] #389 closed

[2020-04-01 16:43] #319 closed

[2020-04-01 16:44] tnrich commented on #321
I believe this has been completed

[2020-04-01 16:44] #321 closed

[2020-04-01 16:46] tnrich commented on #197
Closing until we get more info on this

[2020-04-01 16:46] #197 closed

[2020-04-01 16:47] #451 closed

[2020-04-02 15:18] onoufriosm opened #604 "Blueprint css spills to global css"
@tnrich

Installing openVectorEditor adds styles coming from the blueprint package. Unfortunately this includes css rules for `a` tags, `body`, `html` e.t.c which clash with existing css rules in a project.

**Possible solution:**
Prepend the entire stylesheet with a unique css selector (e.g. `.open-vector-editor`) to avoid this issue?

[2020-04-02 18:01] tnrich commented on #604
Hey @onoufriosm could you maybe dig around in the blueprint issues and see if anyone has experienced this before with their styles polluting the global ones? Maybe we can follow what they recommend doing there. If not could you ask a question to them and link it here please?

Thanks!

[2020-04-02 18:05] tnrich commented on #604
@onoufriosm
I found this one: https://github.com/palantir/blueprint/issues/3194

It looks like maybe we just have to deal with it? I don't really have access to the blueprint stylesheet to prepend anything to it as far as I can tell.

[2020-04-02 18:39] tnrich opened #606 "Add "Edit > Change Circularity" option"
@tnrich

This option should also exist from the edit menu

[2020-04-02 18:42] tnrich commented on #595
Ok @onoufriosm this should be released in v10.1.63 and can be seen on the demo page here: http://teselagen.github.io/openVectorEditor/#/Editor?generatePng=true

[2020-04-03 15:56] onoufriosm commented on #604
Agreed this is a palantir issue.

I'll fork the `teselagen-react-components` repo and see if I can wrap the css in another class. Is `teselagen-react-components` the only repo using the blueprint css?

[2020-04-09 17:50] jdmccauley opened #607 "VE not saving Feature Notes in exported Genbank"
@tnrich
Hi tnrich,

I am a Vector Editor user at JBEI. I found an issue with Vector Editor version 10.1.63 (current version), and in ove-electron. I already reported this issue to ove-electron.

Issue:

I was making edits to a sequence in VE, where I wanted to make a feature and give it a feature note. I was able to do so, and export the sequence as a genbank file.

The exported genbank file did h

[2020-04-09 19:16] tnrich commented on #607
Hey @jdmccauley,

So I think the main issue here and why this bug still exists is because genbanks have a bunch of different "note" fields that are a little confusing. Here are some example genbank features with different "notes":

[code]

Certain of those fields, like label and organism are standardized genbank keys. Certain others like vntifkey might be some user added "note" that we should pass

[2020-04-09 20:14] jdmccauley commented on #607
Hi @tnrich ,

I see, that's consistent with what I tried. I was editing the genbank with a text editor to add the `/note=""` field to add notes, and I found that the "organism" and other fields were written the same way in the editor. I tried to format notes in Vector Editor like you did, and I wasn't able to get the format correct so they could save (you're right in that it's not intuitive!).

Yo

[2020-04-09 20:20] tnrich commented on #607
@jdmccauley yep, the changes will be included in ove-electron. I'll attach links here once everything is released in ove and ove-electron. Here's what the new version is looking like so far:

![image](https://user-images.githubusercontent.com/2730609/78937175-d6f63780-7a64-11ea-877c-f11167c04a57.png)

[2020-04-09 20:54] jdmccauley commented on #607
@tnrich
Awesome, this looks amazing so far! Also, thank you for addressing this so quickly!

[2020-04-10 21:08] tnrich commented on #607
Hey @jdmccauley I've updated the notes UI and published new version of ove and ove-electron. Let me know if the latest ove-electron release works for you -- https://github.com/tnrich/ove-electron/releases/tag/v0.1.8

Closing this but please re-open if anything isn't working for you! Thanks again for filing an issue :) I knew this was kind of broken but needed that little push to fix it

[2020-04-10 21:09] tnrich commented on #607
Here's a screenshot of what that UI should look like:
![image](https://user-images.githubusercontent.com/2730609/79023331-ec3a9700-7b34-11ea-981a-f89f3e0a3dd0.png)

[2020-04-10 21:09] #607 closed

[2020-04-11 03:08] jdmccauley commented on #607
Hey @tnrich ,

This works great now, thank you! I can save feature notes in both the online instance and in OVE electron.

I want to point out that you cannot save notes (or any other user specified "key") at the same time that you make a new feature. I tried making features, and I noticed that the notes were not saved if I added them in the same pop-up when making the new feature. However, if I m

[2020-04-11 05:36] tnrich commented on #607
Haha interesting I think I noticed that but then thought I was maybe seeing things because I didn't know how to reproduce it. I'll write a test for that and fix it and let you know when the new release is out. Good catch!

[2020-04-11 20:33] jdmccauley commented on #607
I thought the same thing haha, I had to test it a few times to make sure I wasn't seeing things either. Thank you for working on this!

[2020-04-13 17:24] tnrich commented on #607
@jdmccauley here's the latest: https://github.com/tnrich/ove-electron/releases/tag/v0.1.9

[2020-04-13 20:31] jdmccauley commented on #607
@tnrich Great, now it saves notes when making new features. Thank you!

[2020-04-13 22:18] tnrich commented on #285
This seems to be working fairly well now:
![image](https://user-images.githubusercontent.com/2730609/79166425-fd381200-7d99-11ea-8159-a2ba65509b25.png)

[2020-04-13 22:18] #285 closed

[2020-04-17 17:21] tgadam opened #608 "Add Double Click to Edit Annotation"
George from Arzeda has suggested allowing users to double click on a feature annotation and edit it instead of having to right click. This was how the previous vector worked.

@tnrich

[2020-04-17 17:57] tnrich commented on #608
- [ ] edit features on dbl click
- [ ] edit parts on dbl click
- [ ] view warnings on dbl click
- [ ] highlight warning range on single click

[2020-04-17 23:31] tnrich commented on #608
This should all land in open-vector-editor@10.1.66 @tgadam

[2020-04-21 19:05] gmcarthuriv commented on #608
@tnrich, the feature implementation on the demo site is fantastic - nice work!

cc: @tgadam

[2020-05-21 17:19] #608 closed

[2020-06-29 16:46] #606 closed

[2020-06-29 16:49] tnrich commented on #428
I believe this has been fixed!

[2020-06-29 16:49] #428 closed

[2020-06-29 16:50] #352 closed

[2020-06-29 17:54] tnrich commented on #606
@deltuh-vee I think a good next ticket for you could be https://github.com/TeselaGen/openVectorEditor/issues/602

I can fill in the details for you with what I think should happen. :)

[2020-06-30 17:58] tnrich commented on #602
- [ ] combine feature types and features
- [ ] add a new section which will allow filtering by feature length:
![image](https://user-images.githubusercontent.com/2730609/86160352-7a814200-bac0-11ea-817f-77d9530ca1d2.png)

[2020-07-09 18:56] #595 closed

[2020-07-09 19:02] tnrich commented on #375
@deltuh-vee this could also be a good one for you to tackle if you're interested. We'd need to discuss more details but could be a fun one :)

[2020-07-09 19:24] tnrich opened #624 "Textarea should not allow for newline characters \n"
@tnrich

Newlines should not be allowed in the textarea:
![image](https://user-images.githubusercontent.com/2730609/87080577-bca33580-c1dc-11ea-99ac-21ac7c3a50cc.png)

[2020-07-09 19:24] tnrich commented on #624
This is fixed in v10.1.80 !

[2020-07-09 19:24] #624 closed

[2020-07-10 18:02] tnrich opened #625 "Right clicking the selection layer above an amino acid currently hides the selection layer"
The selection layer should have a HIGHER z-index than the amino-acids.

[2020-07-10 19:02] tnrich commented on #625
This is fixed in open-vector-editor@10.1.81

[2020-07-10 19:02] #625 closed

[2020-07-13 18:16] #602 closed

[2020-07-15 15:58] ericsturman opened #627 "Troubles Displaying Circular View without Redux"
@tnrich
I am trying to display the CircularViewUnconnected using the `tnrich/ove-react-demo-repo` with the following code and am only getting the size and name labels for the view but no features/parts/axis (there are no errors in the dev console).  Would it be possible to get an example or suggestions on how to display a static view of a vector without redux?  I have attached the code and a scree

[2020-07-15 16:15] tnrich commented on #627
Hey @ericsturman I'll look into it and get back to you. This should certainly be possible.

One thing you could try in the meantime is using the top level export <SimpleCircularOrLinearView/> component and see if you have better results. Here's the demo for that:

http://teselagen.github.io/openVectorEditor/#/SimpleCircularOrLinearView?circular=true

It is not a redux connected component. Here's t

[2020-07-15 16:28] ericsturman commented on #627
Thank you for the quick response... unfortunately I get the following error when using `SimpleCircularOrLinearView`: `browser.js:38 Uncaught Invariant Violation: Could not find "store" in either the context or props of "Connect(withHandlers(Component))". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(withHandlers(Component))".`

[2020-07-15 17:10] tnrich commented on #627
Hmm I'll look into that as well! Thanks @ericsturman

[2020-07-15 18:06] tnrich commented on #627
@ericsturman this option should be live in open-vector-editor@10.1.84

You should be able to see a demo here http://teselagen.github.io/openVectorEditor/#/SimpleCircularOrLinearViewNoRedux in a few minutes.

Just pass a `noRedux=true` to SimpleCircularOrLinearView or Linear/CircularViewUnconnected to be able to render it outside of a redux context.

[2020-07-15 18:31] tnrich commented on #627
I'm going to close this. Please feel free to re-open if you still experience any sort of issue.

[2020-07-15 18:31] #627 closed

[2020-07-15 19:35] ericsturman commented on #627
@tnrich this is working perfectly... Thank you!

[2020-07-17 22:18] tnrich opened #628 "Parts/features on amino acid sequences (proteins) should be forced to have a forward direction"
@tnrich

[2020-07-17 22:43] tnrich commented on #628
Fixed in open-vector-editor@10.1.86

[2020-07-17 22:43] #628 closed

[2020-07-23 15:37] tnrich commented on #375
@deltuh-vee here's what the tag json should look like:
[code]

tags have name, color, and, description. But they can also have tagOptions, and tagOptions have name, color, and description

[2020-07-23 17:30] tnrich commented on #375
And here's what tags look like in our app:

![image](https://user-images.githubusercontent.com/2730609/88318211-41a74800-cccf-11ea-9c2d-67dd8291d053.png)

I think in OVE it will make sense to have tags appear in the Part Dropdown as a searchable list with tag options grouped on the same row. Paging won't be necessary.

When a user clicks on a tag I think it should bold any parts that contain that

[2020-07-27 20:22] tnrich opened #631 "export of protein sequence should allow for the actual AA's to be exported, not the underlying DNA"
@tnrich

Fasta export only exports the underlying DNA sequence

[2020-07-27 20:30] tnrich opened #632 "OVE Desktop not allowing opening of teselagen.json files"
@tnrich

[2020-07-27 20:38] tnrich opened #633 "When copying the "AA sequence" from a feature with joined locations..."
@tnrich

- [ ] When copying the "AA sequence" from a feature with joined locations, the default copy should only copy the AA's described by the "introns" (the joined locations) and there should also be the option to copy all the AA's regardless of locations.

- [ ] There should also be an option to copy the underlying dna bps excluding the "exons"

[2020-07-27 20:48] tnrich opened #634 "When pasting copied features with included feature spans ..."
@tnrich

When pasting copied features with included feature spans the feature shows up as being extended more than expected in the sequence map:

![image](https://user-images.githubusercontent.com/2730609/88590419-87397d00-d00f-11ea-94d9-36347bb21816.png)

[2020-07-27 20:49] tnrich opened #635 "Add test coverage to cypress tests"
@tnrich

[2020-07-28 21:43] tnrich commented on #375
- [ ] set up a message if no parts have tags that there are no tagged parts to filter on..
- [ ] hook up partTagSelectValue and handlePartTagSelect in redux and connect to the part filter dropdown
- [ ] actually hook up the logic to make the part label BOLD and highlight the part if that part is selected (based on partTagSelectValue)

[2020-08-11 16:18] tnrich commented on #628
Attaching files for use elsewhere. Do not delete!

[Archive.zip](https://github.com/TeselaGen/openVectorEditor/files/5058055/Archive.zip)

[2020-08-17 21:32] tnrich opened #640 "Add ability to add tags to parts in Add/Edit Part window."
The Edit Part / Create Part dialogs in VE don't have an option to tag parts

[2020-09-16 18:54] ericsturman opened #648 "Adjusting and saving label text size"
@tnrich

We have been receiving quite a few requests for a way to adjust the text size of labels in the circular view.  Users would like to scale the relative size of text to avoid the labels that show the number of additional labels not shown (ex: `+3,Eco065I` as shown in the picture).  I looked into making the change a while back, but it wasn't immediately obvious how to do it.  Ultimately I thi

[2020-09-16 19:10] tnrich commented on #648
Hey @ericsturman that does sound like a good feature! I am a little busy at the moment but can probably look into it sometime in the future. If you want to take a crack at doing it I would be happy to merge in a PR.

Just thinking about it aloud.. I would imagine adding a "Adjust Circular View Label Size" menu to the View Menu with "Increase Label Size" and "Decrease Label Size" sub options. The u

[2020-09-16 19:19] ericsturman commented on #648
This sounds like a good plan @tnrich .  I will be happy to take a look at the code again and see what I can accomplish and let you know.
Eric

[2020-09-22 13:49] hplahar opened #651 "TypeError with alignments"
I am getting the error below in the console with the alignments. Let me know if you need additional information. The visualization states "No Tracks Found".

TypeError: Cannot read property 'toLowerCase' of undefined
    at getRangeMatchesBetweenTemplateAndNonTemplate (alignments.js:265)
    at alignments.js:80
    at Array.map (<anonymous>)
    at addHighlightedDifferences (alignments.js:78)

[2020-09-22 15:58] tnrich commented on #651
Hey hector, can you share a list of steps to reproduce the error? I'll take a look asap!

[2020-09-22 16:21] hplahar commented on #651
Looking into it a bit more, it doesn't happen all the time. It appears (at least in the cases I am looking at) to be caused by the match being on the reverse strand and spanning the origin.

[2020-09-22 23:10] tnrich commented on #648
@ericsturman any progress on this one? :)

[2020-09-22 23:55] ericsturman commented on #648
Hi @tnrich .  I'm able to adjust the text size, but I'm having difficulty figuring out how labels get clumped together in each quadrant.  It seems like the upper right quadrant should be split up so that the label line for `part 0` doesn't intersect with the part.

Eric

![label_line_and_grouping](https://user-images.githubusercontent.com/4339551/93948872-2bd0f600-fd05-11ea-9cc3-b074b2b24b1c.png)

[2020-09-23 00:06] tnrich commented on #648
@ericsturman can you push a branch for me to play around on?

[2020-09-23 00:22] ericsturman commented on #648
@tnrich I submitted a pull request... maybe you only wanted a branch name on my forked repo?

[2020-09-23 00:35] tnrich commented on #648
Oh, that's great I'll take a look!

[2020-09-23 03:05] droidXrobot opened #653 "Create new alignment not working"
@tnrich
The "Create new alignment" function doesn't seem to be working in the demo. When it is clicked nothing happens.

To reproduce:

1. visit[ demo](http://teselagen.github.io/openVectorEditor/#/Editor)
2. click align to sequence icon in toolbar
3. click align to new sequence button (Nothing happens)

[2020-09-23 05:54] tnrich commented on #653
Hey Droidx,

Unfortunately OVE doesn't provide built in alignment capabilities. It only provides the visualization. The button you're seeing is the "hook-in" point where implementers can attach their own custom alignment functionality.

I'd be open to a PR that provides some sort of basic alignment capabilities but don't plan on working on this myself in the near term.

Hope that all makes sense!

[2020-09-23 16:28] ericsturman commented on #648
@tnrich I'm finally seeing that the issue is the following `if` statement in `repositionAndGroupLabels` function in `relaxLabelAngles` ... I think adjusting the logic for calculating `naturalSlot` will help:
[code]

[2020-09-23 17:08] tnrich commented on #648
@ericsturman yeah, I think you should play with the label positioning logic. I believe the general outline of how it works is the following:

- split labels into the 4 quadrants (top left, top right, bottom left, bottom right)
- for each quadrant, start at the bottom (or top if it is a bottom quadrant) and place each label above the previous one until all the labels in that quadrant have been plac

[2020-09-23 17:10] tnrich commented on #653
@droidXrobot most of the alignment tools would probably need to be run on some sort of server. I wasn't really in charge of setting them up for my company but I'm looping in my coworker @tiffanydai who did a good amount of work on the alignment algorithms we use.

[2020-09-23 17:48] ericsturman commented on #648
@tnrich Yes...that's how I understand the positioning logic to work... and I agree that's a good approach.

[2020-09-23 18:09] tnrich commented on #653
@droidXrobot here's a package I found just by googling a bit. Maybe it could be hooked up to provide the alignments:
https://www.npmjs.com/package/seqalign

[2020-09-23 18:14] tiffanydai commented on #653
hey @droidXrobot, we use MAFFT for MSA (multiple sequence alignment) and bowtie2 for aligning Sanger sequencing results and NGS results

if you look at the code behind the alignment examples like http://teselagen.github.io/openVectorEditor/#/Alignment?alignmentDataId=39, you can see the format for plugging in the alignment results for visualization in OVE

[2020-09-24 00:39] #653 closed

[2020-09-30 18:12] tnrich commented on #648
@ericsturman awesome I'll check it out!

[2020-09-30 18:18] tnrich commented on #648
Looks good to me! If you could just write a test for it asserting that when the label size preference is changed that the label font size changes that would great. I'll merge and publish after that 👍

[2020-10-01 17:57] ericsturman commented on #648
@tnrich I have added tests for label size, label spacing and label line intensity (from an earlier pull request).

[2020-10-01 18:53] tnrich commented on #648
@ericsturman I published open-vector-editor@10.2.4 that should include your changes. Nice work!

[2020-10-01 18:54] #648 closed

[2020-10-01 18:56] tnrich commented on #651
@hplahar can you let me know if the latest version open-vector-editor@10.2.4 fixes this issue for you?

[2020-10-01 19:07] hplahar commented on #651
10.1.103 fixed it. Haven't tried 10.2.4 yet

[2020-10-01 19:35] tnrich commented on #651
Ok, then it should still be fixed on 10.2.4. I'll close this issue!

[2020-10-01 19:35] #651 closed

[2020-10-15 07:15] MarcelBolten opened #659 "Is it possible to run two or more instances of OVE?"
Hi Thomas (@tnrich),

I try to integrate OVE in [eLabFTW](https://github.com/elabftw/elabftw) (an electronic lab notebook). Using the provided [umd version](https://github.com/TeselaGen/openVectorEditor#via-npm) it is working the way I want. OVE is a really cool tool!
However, eLabFTW has the option to attache files to an experiment and they are presented in a thumbnail overview.
My idea is to use

[2020-10-15 17:10] tnrich commented on #659
Hey @MarcelBolten I'm glad to hear that OVE is being used for your electronic lab notebook! OVE should indeed be able to handle multiple separate sequences but perhaps the UMD code hasn't been set up well for doing that. I'll look into it and let you know. Cheers, Thomas!

[2020-10-15 17:38] tnrich commented on #659
@MarcelBolten I've updated the UMD demo to demonstrate how to set up multiple unique instances. I did catch a possible state collision between UMD editors and fixed it so I'd use open-vector-editor@12.0.4 or higher. Here's the link to the demo http://teselagen.github.io/openVectorEditor/UMDDemo.html and a screenshot of what that looks like:

![image](https://user-images.githubusercontent.com/27306

[2020-10-15 17:49] tnrich commented on #659
Let me know how that works for you and if you run into any other issues :)

[2020-10-15 22:26] MarcelBolten commented on #659
@tnrich thank you very much!
Great support, fast response. 🎉 just awesome.
Now it works as expected.

There is a new little issue though:
After expansion to full screen mode the rotate functionality for circular plasmids works only for the first instance smoothly.
In other instances the text shows some wired behavior and the features don't move at all. Can be observed in the [UMD demo](http://tese

[2020-10-15 22:37] tnrich commented on #659
@MarcelBolten that's an interesting bug you've found. I'll work on fixing that at some point. In the meantime I made the rotation optional in open-vector-editor@12.0.10. You should be able to pass `withRotateCircularView:false` to hide the circular view.

[code]

[2020-10-15 22:38] tnrich opened #660 "rotate functionality wonky with multiple instances of OVE"
From https://github.com/TeselaGen/openVectorEditor/issues/659

After expansion to full screen mode the rotate functionality for circular plasmids works only for the first instance smoothly.
In other instances the text shows some wired behavior and the features don't move at all. Can be observed in the [UMD demo](http://teselagen.github.io/openVectorEditor/UMDDemo.html) too.

![grafik](https://user

[2020-10-15 22:39] tnrich commented on #659
I've made a new issue for the rotation weirdness you've found and will close this one in the meantime :)

Let me know if you hit any other snags.

Thomas

[2020-10-17 04:41] deltuh-vee commented on #633
Are there any plans to deprecate Clipboard.js? I came across an old TODO that suggested clipboard handling might be redone.

[2020-11-05 18:13] tnrich commented on #660
Fixed!

[2020-11-05 18:13] #660 closed

[2020-11-05 18:13] #659 closed

[2020-12-08 22:21] mjsteichen opened #670 "Menu dropdowns sometimes obscure other menu items"
@tnrich

Firstly, open-vector-editor is freaking awesome. Thanks for sharing it on github! 🌈

### Summary
If a menu is long enough to extend beyond the viewport, it shifts upward, such that it obscures other items in the menu. For example in this screenshot, if I hover over 'Edit" I am no longer able to see "View", "Tools", and "Help".
![image](https://user-images.githubusercontent.com/7410006/101

[2020-12-08 22:30] tnrich commented on #670
Hey @mjsteichen! Thanks for your interest in OVE! I've definitely noticed the overlay issue you bring up. I think the solution you suggest definitely sounds like the right way to handle it.

Let me know how it goes trying to find a solution for it. If you find one I'd be happy to incorporate it into the underlying components package (https://teselagen.github.io/teselagen-react-components/#/MenuBar

[2020-12-11 00:59] MarcelBolten opened #672 "Package version with UMD files only"
Hi Thomas (@tnrich),

In case there is a project that does not use React, the dependency load added by OVE is quite substantial if installed by e.g. `npm install open-vector-editor`.
Is there a possibility to provide a package with only the umd version of OVE e.g. 'open-vector-editor-umd'? This way one could easily profit from the latest version of OVE without loading all the dependencies that are

[2020-12-11 22:17] tnrich commented on #672
Hey @MarcelBolten ! I like the idea of what you're suggesting but I am wondering about your use case. Are your users doing an npm install of your project locally?

I am a little hesitant to split out another umd-only npm package because it will add to the build complexity but will do it if there is no other option. I'm wondering if you could pull it and cache it from unpkg (https://unpkg.com/brows

[2020-12-12 01:52] MarcelBolten commented on #672
Upfront, I'm not the main developer of [elabftw](https://github.com/elabftw/elabftw) where I want to [integrate OVE](https://github.com/elabftw/elabftw/pull/2255), the main developer is @NicolasCARPi.

eLabFTW is an electronic lab notebook manager for research teams. It is designed to be installed on a server, and people from the team can log in from their browser.

During setup on the server yarn

[2020-12-12 04:15] NicolasCARPi commented on #672
Please note that I would be more than willing to sponsor work on this :moneybag: ;)

[2021-01-17 17:39] MarcelBolten commented on #672
Hi Thomas @tnrich,
Do you have any updates for us?

[2021-01-27 17:31] kelmazouari opened #680 "Translation start in frames -2 and -3 are inverted."
@tnrich

Translation start in frames -2 and -3 are inverted
Frame -2:
![image](https://user-images.githubusercontent.com/10584220/106029591-8ae8b200-60cd-11eb-8fb5-3b55a082b919.png)

Frame -3
![image](https://user-images.githubusercontent.com/10584220/106029719-a784ea00-60cd-11eb-9ee2-5deaa9e4c2ee.png)

SnapGenes Frame -2
![image](https://user-images.githubusercontent.com/10584220/106030164-2aa640

[2021-01-27 17:45] tnrich commented on #680
Uh oh! Looks like a bug! I will need to dig into the source code to see where this issue is coming from. Good find!

[2021-01-27 18:21] kelmazouari commented on #680
where can I find the translation module ? Is it part of OVE ?
Thanks

[2021-01-27 18:26] tnrich commented on #680
@kelmazouari it would be in ve-sequence-utils

https://github.com/TeselaGen/ve-sequence-utils/blob/master/src/findOrfsInPlasmid.js

[2021-01-27 19:42] tnrich commented on #680
@kelmazouari sorry I pointed you to the wrong code actually. The code I referenced is for finding open reading frames, not entire frame translations. Here is the frame translations code:  https://github.com/teselagen/openVectorEditor/blob/master/src/selectors/translationsSelector.js#L76

[2021-01-27 20:28] tnrich commented on #680
@kelmazouari ok I think I've found the issue. I've pushed a fix out in v13.0.4. Want to try that version out and let me know if it is fixed for you?

Here's a screenshot of the fix:
![image](https://user-images.githubusercontent.com/2730609/106049544-13019400-609b-11eb-93b4-e5b6c20766db.png)

It should also include better linear vs circular support 😄

[2021-01-28 09:19] kelmazouari commented on #680
Thanks @tnrich , It's fixed.

[2021-01-28 09:20] kelmazouari commented on #680
Thanks @tnrich, it's fixed.

[2021-01-31 15:04] #680 closed

[2021-01-31 15:15] kelmazouari opened #681 "Same translation frame selected twice"
@tnrich
OVE extracts the ORF from the CDS feature and displays the right translation. However, the frame is not checked in the Full Sequence Translation menu item. It is then possible to select the same frame twice.

![image](https://user-images.githubusercontent.com/10584220/106388584-795e1d80-63df-11eb-98c5-a462d8ba1406.png)

[2021-01-31 19:35] tnrich commented on #681
@kelmazouari if I'm understanding correctly then the functionality you're seeing is by design. CDS-translated features the span the sequence as well as ORFs that span the entire sequence are treated separately from the frame translations.

[2021-02-02 00:28] hplahar opened #682 "Notes section overflows the modal window"
@tnrich

If an annotation contains several notes, the data overflows the annotation modal window and scrolling doesn't work. With enough notes, the save button for edits to the annotation cannot be seen. This happened on firefox and chrome
Hopefully the screenshot is self explanatory. Let me know if you need more details/cannot reproduce
<img width="494" alt="Screen Shot 2021-02-01 at 4 22 48 PM"

[2021-02-02 01:40] tnrich commented on #682
@hplahar thanks! This should be fixed in open-vector-editor@13.0.9

[2021-02-02 08:37] kelmazouari commented on #681
@tnrich
Yes.

[2021-02-03 02:35] tnrich commented on #672
@MarcelBolten sorry this got lost in the shuffle for me. I'm still a little unsure about what the best solution for your use case would be. Basically you want another npm module that is just the UMD file?

You say above that

Did you know you can get an "always up to date" version of OVE by linking to the unpkg umd file without specifying a version number: https://unpkg.com/browse/open-vector-edit

[2021-02-03 02:46] tnrich commented on #682
@hplahar an improved draggable/resizable dialog should have landed in open-vector-editor@13.0.10

The edit part/feature window should now do a better job at setting its initial size

Feel free to try it out at http://teselagen.github.io/openVectorEditor/#/Editor

[2021-02-03 03:06] hplahar commented on #682
@tnrich : Looks good. Thanks for the quick turnaround

[2021-02-03 03:06] #682 closed

[2021-02-03 10:17] kelmazouari commented on #681
This behavior could be useful in the case of displaying protein sequences with annotated features. So I will close this issue.

[2021-02-03 11:58] NicolasCARPi commented on #672
@tnrich but then if the version changes, the integrity shasum won't be correct anymore! Also, all the typescript/javascript is bundled with webpack from npm hosted modules. Having it in the package.json also helps with vulnerabilities scanning.

I believe the main issue is that the way it is currently packaged pulls too many dependencies, which makes maintainance a burden (with yarn.lock conflicts

[2021-02-04 17:11] tnrich opened #684 "Search for whole name broken"
Inside the DNA editor - when searching for features and parts, it can't find the whole feature name. For example, if you search for oMB0299, there are no results. But if I just search for 0299 it is successful

![image](https://user-images.githubusercontent.com/2730609/106929189-e8ca5a80-66c8-11eb-9a8e-154d10e04ea8.png)

[2021-02-04 18:53] tnrich commented on #684
This should be fixed in open-vector-editor@13.0.11

[2021-02-04 18:53] #684 closed

[2021-02-08 21:25] tnrich opened #687 "Support snapgene file import"
We should support importing snapgene .dna files by default in OVE

[2021-02-08 21:57] tnrich opened #688 "Support round-tripping primer data to snapgene"
- [ ] primer_bind should be used in the genbank instead of primer
 - [ ] support a "sequence" input field within the add/edit primer dialog
 - [ ] make sure the input field can "fuzzy" search the sequence for hits and determine the matched range automatically

[2021-02-08 21:58] tnrich opened #689 "Tooltips being cut off in full screen OVE"
![image](https://user-images.githubusercontent.com/2730609/107286580-9f09a900-6a15-11eb-8db7-a986b9d8e0a9.png)

[2021-02-09 23:50] tnrich opened #690 "make GC % user toggle-able"
And persist the user preference to local-storage!

[2021-02-09 23:57] tnrich commented on #689
To fix this, when in full screen mode we should disable scrolling on the window.body

[2021-02-10 19:29] tnrich commented on #690
@ericsturman a heads up that I am going to intentionally break how this feature was working as a new major release. Instead of the previous iteration where showGCContent was being passed in as an implementer-controlled prop, I am changing it to be a local-storage persisted view option:

![image](https://user-images.githubusercontent.com/2730609/107560793-a86c5000-6b92-11eb-97b3-bfaf140b1b39.png)

[2021-02-10 20:19] ericsturman commented on #690
@tnrich this should be fine... We are a little behind on OVE updates but this will be good to know when we do the update, hopefully soon... thank you for letting me know.

[2021-02-11 17:31] tnrich commented on #690
@ericsturman the info I provided above is out of date so I deleted it. To keep the functionality you currently have, instead of passing `showGCContent` like you currently do, instead you'll need to pass

[code]

to the <Editor/>

[2021-02-12 18:56] tnrich commented on #690
@ericsturman closing this as it has been implemented.

[2021-02-12 18:56] #690 closed

[2021-02-12 19:01] tnrich opened #691 "Add melting temp toggle"
This should operate in close to the same way as the GC %

[2021-02-16 01:32] tnrich commented on #691
Done!
![image](https://user-images.githubusercontent.com/2730609/108007827-bfa4a680-6fb3-11eb-8d44-52a5b2a8bce5.png)

[2021-02-16 01:32] #691 closed

[2021-02-19 01:18] MarcelBolten commented on #672
Hi Thomas @tnrich,

Can you comment on how you would like to move on with our request for a minimal version of openVectorEditor?
I really would love to see openVectorEditor become a feature implemented in eLabFTW. I assume it will make life of many researches easier if they can have a quick look at their DNA/RNA/Protein sequences without the need to open additional software.

Cheers,
Marcel

[2021-02-19 04:47] tnrich commented on #672
@MarcelBolten I've been thinking about this but am not quite sure how to proceed forward. Let me loop in some coworkers of mine who might have an idea of how to do what you're asking.

Basically I haven't thought of a good way of publishing a UMD-only version of the package...

In theory it is easy, just release a new package, open-vector-editor-umd, with only the umd file exported.. In practice t

[2021-03-03 21:52] tnrich opened #699 "standalone pairwise alignment issues"
- [ ] alignment type not coming through
 - [ ] features not showing up on alignment

[2021-03-10 06:50] MarcelBolten commented on #672
Hi @tnrich,

@NicolasCARPi and I worked on a way to republish the umd files.

Repo: https://github.com/deltablot/ove-umd-builder
npm pkg: https://www.npmjs.com/package/@deltablot/open-vector-editor-umd

Thanks for encouraging us to republish your work.
Cheers,
Marcel

[2021-03-10 06:50] #672 closed

[2021-03-10 16:35] tnrich commented on #672
@MarcelBolten awesome to hear you were able to set that up! Seems like it should work well. I bet with some effort you could get it to listen to happen automatically by listening to an npm publish hook. Cheers!

[2021-03-16 04:38] #681 closed

[2021-03-16 04:45] tnrich commented on #670
@mjsteichen any updates on this one? :)

[2021-03-16 05:23] tnrich commented on #604
@onoufriosm that is correct. Sorry for the delayed response

[2021-03-16 05:23] tnrich commented on #561
This has been released.

[2021-03-16 05:23] #561 closed

[2021-03-16 05:32] #478 closed

[2021-03-16 05:35] #427 closed

[2021-03-16 05:37] #409 closed

[2021-03-16 05:37] tnrich commented on #375
This has been implemented

[2021-03-16 05:37] #375 closed

[2021-03-16 05:40] tnrich commented on #374
Closing as the one remaining issue is being addressed in blueprint

[2021-03-16 05:40] #374 closed

[2021-03-16 05:43] #362 closed

[2021-03-16 05:43] #359 closed

[2021-03-16 05:46] tnrich commented on #341
Fixed

[2021-03-16 05:46] #341 closed

[2021-03-16 05:47] tnrich commented on #350
@tiffanydai can we close this?

[2021-03-16 05:47] dependabot-preview[bot] opened #705 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/TeselaGen/update-logs/72277775).

[2021-03-16 05:48] tnrich commented on #340
@tiffanydai can we close this one?

[2021-03-16 05:49] tnrich commented on #301
@tiffanydai can we close?

[2021-03-16 05:50] #289 closed

[2021-03-16 05:50] tnrich commented on #283
I believe this has been fixed @hplahar . Closing

[2021-03-16 05:50] #283 closed

[2021-03-16 18:24] tgadam commented on #366
we're going to be dropping support for this in Design. This value will be readonly and pulled from Build.

[2021-03-20 02:15] #705 closed

[2021-03-25 20:28] tnrich commented on #460
Closing as this is no longer how we add enzymes (done in settings now)

[2021-03-25 20:28] #460 closed

[2021-03-28 19:49] droidXrobot opened #709 "Cutsites in alignment view"
@tnrich

Is it possible to view cutsites in the zoomable alignment view?

[2021-03-28 23:14] tnrich commented on #709
@droidXrobot I don't think that's supported at the moment. Shouldn't be too tough to implement but it would take a bit of doing. You interested in opening a PR for that?

[2021-04-01 15:37] #709 closed

[2021-04-02 20:11] tnrich commented on #687
This has been implemented in OVE. Closing.

[2021-04-02 20:11] #687 closed

[2021-04-02 22:50] tnrich commented on #699
@hplahar is attempting the fixes we worked on together on his end and will update this ticket with the result!

[2021-04-09 01:53] Mokey2002 opened #712 "Seq alignment example"
@tnrich
Hi,
Is there an specific format I need to enter the sequence for the sequence alignment? On the demo (http://teselagen.github.io/openVectorEditor/#/Editor), when I enter a sequence to align and click create alignment nothing.  Also  is there an example --Im new to this-- that shows how to use the built in alignment creation tool in vanilla javascript?

-Great app btw

Thanks a lot,
Eduardo

[2021-04-09 18:55] tnrich commented on #712
Hey @Mokey2002

So the alignment tool that has been provided with the demo is hitting a custom alignment route that Teselagen had been hosting for a while now. It looks like that route is no longer maintained (hence the tool not running to completion any more).

Since OVE is just a visualization library, it doesn't provide any alignment tool out of the box, you'll need to hook it up to your own fa

[2021-04-09 19:05] Mokey2002 commented on #712
Got it, thanks!

[2021-04-09 19:07] tnrich commented on #712
And, to be clear, I should probably make sure the example route that we provide works 🤭

[2021-04-12 06:17] kelmazouari opened #714 "Restriction enzymes displayed on protein sequence"
@tnrich
Hello,
Genpet protein sequence is correctly rendered.  However 'Show All' displays restriction enzymes on top of protein sequence.

[2021-04-16 07:33] kelmazouari opened #715 "editor externalLabel=true not working"
@tnrich
Hi,
Show Visibility Options > Labels > External Labels  display external labels.
Setting editor externalLabels=true doesn't display external labels.
Any suggestion how to set externalLabels default to true ?
Thanks

[2021-04-26 14:08] mjsteichen commented on #670
@tnrich Sorry for radio silence- have not had a chance to knock this out yet. Very busy at work and my personal life has been entirely consumed by raising a very energetic puppy 🐶

[2021-04-26 14:56] tnrich commented on #670
@mjsteichen no worries I understand the struggle!

[2021-04-26 16:26] tnrich commented on #715
Hey @kelmazouari sorry for the delayed response. You're trying to make it so external labels are always shown by default for a user? You can't force them to always be displayed but you can make it so it is on by default by controlling the localstorage value that toggles them on/off.

Somewhere in your initialization code you can call
[code]
it might make sense to only do this if the value is unset

[2021-04-26 16:38] tnrich commented on #714
@kelmazouari can you please send a screenshot (or video) of this? I'm not seeing it on the demo page for a protein sequence:

![image](https://user-images.githubusercontent.com/2730609/116118369-11337680-a672-11eb-8651-3ecbf7d1263e.png)

Thanks! Pushing a possible fix for you anyways but I'm worried that it won't work if your protein is not actually being displayed in isProtein mode. It should hav

[2021-04-26 18:11] kelmazouari commented on #714
![image](https://user-images.githubusercontent.com/10584220/116130326-5fc12f00-a6cb-11eb-8f01-d9d6e90abf53.png)

Extrenal Label not activated.
I tried with window.localStorage.setItem("externalLabels", true); no succees

Thanks

[2021-04-26 18:33] tnrich commented on #714
@kelmazouari I assume you were meaning to respond to the thread in the other issue: https://github.com/TeselaGen/openVectorEditor/issues/715

[2021-04-26 18:36] tnrich commented on #715
From @kelmazouari (he posted in the wrong thread):
![image](https://user-images.githubusercontent.com/10584220/116130326-5fc12f00-a6cb-11eb-8f01-d9d6e90abf53.png)

Extrenal Label not activated.
I tried with window.localStorage.setItem("externalLabels", true); no succees

Thanks

[2021-04-26 18:45] tnrich commented on #715
@kelmazouari I moved your comment above to the correct thread. That said I can assure you calling
[code]

works.

Maybe try setting the "onlyShowLabelsThatDoNotFit" option to false to better be able to see the changes:
![image](https://user-images.githubusercontent.com/2730609/116134215-827c2500-a684-11eb-855d-d259f4a5af2b.png)

Here's a video of me first setting externalLabels to false and then t

[2021-04-26 19:12] kelmazouari commented on #715
Thanks @tnrich,
External labels still not activated by default.
Could you please test it with this gp file. Thanks
[prot.txt](https://github.com/TeselaGen/openVectorEditor/files/6379650/prot.txt)

[2021-04-26 19:14] kelmazouari commented on #714
Thanks @tnrich
isProtein was false. Sorry.

[2021-04-26 19:14] #714 closed

[2021-04-26 22:07] tnrich commented on #715
@kelmazouari maybe dig into how localstorage works a bit and try some things out yourself. Your screenshot above was of the initial demo sequence. Does it work for you with the demo sequence?

I can assure you that the feature is working properly including with your gp sequence:

![image](https://user-images.githubusercontent.com/2730609/116156948-05ab7400-a6a1-11eb-9e74-f7f2af2b134c.png)

Not sur

[2021-04-27 06:42] kelmazouari commented on #715
Hi @tnrich
I had an issue with the update. It's fixed and it's woking. Many thanks

[2021-04-27 06:42] #715 closed

[2021-05-07 19:48] tnrich opened #724 "add an RNA mode to the editor"
- triggered by an isRna flag on the sequence data (same is as isProtein flag)
- should default to showing just a single strand
- t's should be shown as u's in the editor (?)
- stop the weird tg_uracil import thing from happening by default

[2021-05-25 11:51] diegusleik opened #728 "File import from URL"
@tnrich Hi. Thanks for this great tool.
I wonder if it is possible to programmatically import (and parse) a file from a URL. Thanks in advance.

[2021-05-28 22:35] gmcarthuriv opened #729 "Tables in Properties tab are severely truncated"
@tnrich,

The tables found in the Properties tab (General, Features, Parts, etc.) are all truncated. This requires scrolling through a lot of content to find the row of interest. For example, the screenshot below shows a truncated table for the Features of an arbitrary sequence. 88 features are selected, but I can only view 12 or 13 of them. There's so much more screen real estate below, so I woul

[2021-05-28 22:38] tnrich commented on #729
@gmcarthuriv yeah those sizings were a little tricky to get right and it looks like they're still not perfect. I'll play around with them and see if I can't fix em

[2021-06-17 19:11] ericsturman opened #735 "Adding restriction enzyme groups programmatically and retrieving current selected groups"
@tnrich

We recently upgraded the OVE to start using the new restriction enzyme functionality and think it is great!  We have an existing system for our users to manage enzyme groups and can optionally select a default group that is already selected when the page loads.  We also have a large collection of enzymes that we query from if a user selects a list that has enzymes that are not in the smal

[2021-06-29 18:18] tnrich commented on #735
Hey @ericsturman this is how we do enzyme group overrides in our main app:

[code]

Basically we're making a call to the backend to grab all the user enzyme groups (they get to set them up in our settings as well as create additional (non standard) enzymes. When those queries return we set those two variables on state.

The <Editor> component just takes those two variables as props:

[code]

We ha

[2021-07-08 23:24] tnrich commented on #735
@ericsturman bump :)

[2021-07-08 23:25] tnrich commented on #724
This has been finished and can be tried out here:
http://teselagen.github.io/openVectorEditor/#/Editor?moleculeType=RNA

![image](https://user-images.githubusercontent.com/2730609/125002131-1feec000-e009-11eb-9fcb-4e8d81826a5c.png)

[2021-07-08 23:26] #724 closed

[2021-07-14 07:15] MarcelBolten commented on #689
@tnrich
Maybe an related issue: location of tooltips/options way below icon.
![image](https://user-images.githubusercontent.com/65481677/125576147-f3b586d3-95ef-4e3f-b715-0aa13aeb02de.png)
![image](https://user-images.githubusercontent.com/65481677/125576541-76af590f-b870-40fe-bd29-6cc662a93b66.png)

Setup: Using OVE within eLabFTW (example: https://demo.elabftw.net/experiments.php?mode=view&id=44

[2021-07-14 22:02] MarcelBolten opened #746 "Description can be edited in readOnly mode"
Hi @tnrich,

If the readOnly mode is active it is possible to click the edit button under Properties -> General -> Description and edit it.

![image](https://user-images.githubusercontent.com/65481677/125697580-637c7f56-bf03-4607-9363-5691111129ca.png)

Is this a feature or a bug? It is confusing for me.
Cheers

[2021-07-14 23:26] MarcelBolten opened #747 "Error: Unable to parse color from string: noColor"
Hi @tnrich,

Using a [.dna file](https://media.addgene.org/snapgene-media/v1.7.9-0-g88a3305/sequences/306280/b6631434-e8c7-40c7-b4d2-903a1b3d5c48/addgene-plasmid-155130-sequence-306280.dna) from https://www.addgene.org/155130/sequences/ I am given an "Unable to parse color from string: noColor" error in the Firefox console when switching from circular map to linear map and scrolling around:
[code]

[2021-07-16 16:18] MarcelBolten commented on #728
Hi @diegusleik ,

Not sure if you found a way to do it but please have a look at https://github.com/elabftw/elabftw/blob/0bf0a06d3a5fa5cf8d7323f758d175fae3ada28a/src/ts/ove.ts#L221 for one possible way.

Cheers,
Marcel

[2021-07-17 23:53] tnrich commented on #728
@diegusleik I can confirm that what @MarcelBolten suggested should indeed work. Just to break down what @MarcelBolten is doing is that they're using the bio-parsers npm package (https://www.npmjs.com/package/bio-parsers) to parse out a genbank/fasta/snapgene/ab1 file from whatever URL into the JSON format that OVE understands.

[2021-07-17 23:53] #728 closed

[2021-07-18 00:34] tnrich commented on #747
Hey @MarcelBolten thanks for the error report. I've fixed this and published a new version open-vector-editor@16.3.3. Lemme know if that works for you.

-Thoams

[2021-07-18 00:34] #747 closed

[2021-07-18 00:42] tnrich commented on #746
Definitely a bug. Thanks for reporting this @MarcelBolten

Fixed in open-vector-editor@16.3.4

[2021-07-18 01:09] tnrich commented on #689
@MarcelBolten this looks like it is an underlying issue with either blueprintjs or the popper library that blueprint uses. We'll probably need to come up with a minimal reproduction of the error and air this issue there.

[2021-07-18 03:45] MarcelBolten commented on #747
Hi @tnrich thanks for the fix. Works flawless now.

[2021-07-18 15:56] #746 closed

[2021-07-19 06:48] MarcelBolten commented on #689
@tnrich could it be the same issue as #436 and wrapping the Tooltips in a div will solve it?
Tooltips:
https://github.com/TeselaGen/openVectorEditor/blob/f031616387729c8851fded8c7b8035635ff72f15/src/ToolBar/ToolbarItem.js#L68-L69
https://github.com/TeselaGen/openVectorEditor/blob/f031616387729c8851fded8c7b8035635ff72f15/src/ToolBar/ToolbarItem.js#L94-L95
fix via #436
https://github.com/TeselaGen/o

[2021-07-19 16:30] tnrich commented on #689
@MarcelBolten I just tried that out and wrapping the tooltip/popover with a div doesn't seem to fix the issue..

[2021-07-19 16:59] flange-ipb opened #749 "Are the font files required?"
@tnrich

Hello,
I was wondering if any of OVE's functions become reduced if it is not able to load the font files. Do I really need them or is it enough to include only main.css and open-vector-editor.min.js?

Why do I care about the fonts?
* My laziness: I'd like to include OVE in a JavaEE web component project and I don't want to use npm (executing npm via Maven is a mess). I typically prefer do

[2021-07-19 18:14] tnrich commented on #749
@flange-ipb You should be fine not adding on any fonts. The monospace font styles have fallbacks to Lucida Console and Monaco.

[2021-07-19 18:14] #749 closed

[2021-07-19 18:15] tnrich commented on #735
@ericsturman any movement on your end?

[2021-07-19 18:26] tnrich commented on #729
@gmcarthuriv this should be fixed in open-vector-editor@16.3.5

[2021-07-19 23:43] tnrich commented on #632
Fixed in https://github.com/tnrich/ove-electron/releases/tag/v1.2.2

[2021-07-19 23:43] #632 closed

[2021-07-19 23:45] tnrich commented on #631
Fixed!

[2021-07-19 23:45] #631 closed

[2021-07-19 23:45] tnrich commented on #604
Closing this as it is outside the scope of OVE/TRC

[2021-07-19 23:45] #604 closed

[2021-07-19 23:48] tnrich commented on #419
This has been implemented

[2021-07-19 23:48] #419 closed

[2021-07-19 23:49] tnrich commented on #412
Closing as this is old

[2021-07-19 23:49] #412 closed

[2021-07-20 06:52] flange-ipb commented on #749
Very good! Thanks for clarification.

[2021-07-21 09:34] flange-ipb opened #750 "updateEditor: Circularity of sequence is not taken into account"
@tnrich

Hi again!
This concerns the second example in the [UMD Demo](https://teselagen.github.io/openVectorEditor/UMDDemo.html). The sequence that is inserted via updateEditor(...) is not circular, but after opening the editor the circular map is still selected. I would expect that it opens with the linear map.

Best regards,
Frank

[2021-07-21 13:20] ericsturman commented on #735
@tnrich Sorry for taking so long to get back to you... What you described is exactly how we are adding our custom enzymes and the users' custom enzyme groups.  Initially, we only load a small number of heavily used custom (additional) enzymes and that works fine.  If we load all of the custom enzymes then the load time for the page is extended by >3 seconds and unlike the OVE enzyme management int

[2021-07-21 16:32] tnrich commented on #735
@ericsturman sweet thanks for the detailed response. I'll look into the lagginess when loading a group with all the enzymes and see if anything can be done about that. Also I'll maybe need to look into sequence map limits to speed things up there.

[2021-07-21 16:35] tnrich commented on #750
@flange-ipb the implementer has full control of which panels are shown and in which postions. See panelsShown here for more details on how to control that: https://github.com/TeselaGen/openVectorEditor#editorstate

[2021-07-21 19:14] ericsturman commented on #735
@tnrich I'm seeing much less (very little) sequence map lag in the OVE demo page with the all aliases enzyme group than I am in our build... fyi...

[2021-07-25 08:29] MarcelBolten commented on #689
Hi @tnrich,

I looked a bit into the issue and tried to migrate from popover (deprecated since @blueprintjs/core v3.38.0) to [popover2](https://blueprintjs.com/docs/#popover2-package).
This seems to do the trick and the popovers/tooltips find their expected location. But it also breaks some features.
I never worked with React/Redux and Teselagen's Open Source Vector Editor Components along with th

[2021-07-26 08:48] flange-ipb commented on #750
Hello @tnrich
Very good! Thanks for pointing me to `panelsShown`. I was actually wondering why this field consists of nested arrays and learned that this controls the left and right panels (or even more than two panels). This should be documented. ;)

Another thing: I saw the button "Focus Linear View" in the [universal demo](https://teselagen.github.io/openVectorEditor/#/Editor). How can this act

[2021-07-26 19:40] tnrich commented on #689
Which features does it break?

[2021-07-26 19:42] tnrich commented on #750
If you click the info icon next to the "Focus Linear View" button you should see:
![image](https://user-images.githubusercontent.com/2730609/127048867-8156eae7-9e69-440e-ba0f-6cee2538b437.png)

[2021-07-30 07:52] MarcelBolten commented on #689
@tnrich

There are a few cypress tests that first failed after migration to popover2 (openVectorEditor and teselagen-react-components) but most of them I could make work again.
However, the FindBar is still not working as intended:
- It kind of works but after the first character is typed the input element is not responding anymore but the AnnotationSearchMatchComp shows some entries. I have to re

[2021-08-02 16:31] gmcarthuriv opened #757 "Ability to toggle labels for assembly annotations"
@tnrich,

Currently, labels can be turned on and off for for Features, Parts and Restriction Sites. However, it's often desirable to toggle Assembly Piece and Part Lineage annotations.

![image](https://user-images.githubusercontent.com/17152701/127893871-6979f559-bf2e-461e-8769-9ab8b54f4f83.png)

[2021-08-02 16:34] gmcarthuriv opened #758 "Ability to change/increase number of labels displayed for assembly annotations"
@tnrich,

Currently, limits on the number of displayed labels for Features, Parts and Restriction Sites can be changed/increased. It would be useful to add this functionality for labels of Assembly Piece and Part Lineage annotations.

![image](https://user-images.githubusercontent.com/17152701/127894269-b1596d93-3a08-439a-b512-5c9156ebf866.png)

[2021-08-02 16:37] gmcarthuriv commented on #757
Oh - also meant to include Warnings (to be complete).

[2021-08-02 16:37] gmcarthuriv commented on #758
Oh - also meant to include Warnings (to be complete).

[2021-08-09 20:28] tnrich commented on #750
@flange-ipb bump :)

[2021-08-09 21:08] tnrich commented on #758
Released in open-vector-editor@16.3.11 @gmcarthuriv

[2021-08-09 21:09] tnrich commented on #757
Released in open-vector-editor@16.3.11 @gmcarthuriv

[2021-08-09 22:25] tnrich commented on #670
Hey @mjsteichen and @marcelbolten

I finally got around to taking a look at this issue and think I was able to come up with a good fix (in the teselagen-react-components repo)

Here's what long menu scrollbars should look like now:
![image](https://user-images.githubusercontent.com/2730609/128781682-c0094d2b-8e6e-40be-ae34-ec43dd68219e.png)

[2021-08-09 22:30] #758 closed

[2021-08-09 22:30] #757 closed

[2021-08-09 22:30] #750 closed

[2021-08-09 22:30] #729 closed

[2021-08-09 22:30] #670 closed

[2021-08-09 22:33] tnrich commented on #689
Hey @MarcelBolten

Yep we will probably migrate to popover2 when we upgrade to blueprint 4 (which hasn't been released yet). This will be a large change to make and will probably not happen for some time however.

[2021-08-10 16:31] mjsteichen commented on #670
Awesome, that looks great. Thanks for taking a look and for the heads up.

On Mon, Aug 9, 2021 at 5:25 PM Thomas Rich ***@***.***> wrote:

[2021-08-14 11:36] ayaka-kms opened #760 "a vulnerability CVE-2020-15168 is introduced in open-vector-editor"
Hi, a vulnerability CVE-2020-15168 is introduced in  open-vector-editor via:
●  open-vector-editor@16.3.7 ➔ recompose@0.30.0 ➔ fbjs@0.8.17 ➔ isomorphic-fetch@2.2.1 ➔ node-fetch@1.7.3

**_recompose_** is a legacy package. It has not been maintained for about 3 years, and is not likely to be updated.
Is it possible to migrate recompose to other package to remediate this vulnerability?

I noticed sev

[2021-08-16 19:16] tnrich commented on #760
Hey @ayaka-kms there are no plans at the moment to remove recompose from our toolchain but I think I would be open to a PR switching to use either  https://github.com/acdlite/recompose/issues/819 or https://github.com/react-recompose/react-recompose

[2021-08-17 10:44] ayaka-kms commented on #760
@tnrich Thanks a lot.

[2021-08-19 00:01] tnrich commented on #760
@ayaka-kms I switched out recompose for react-recompose which no longer has fbjs as a dep

Same with teselagen-react-components

You can get this change in open-vector-editor@16.3.17

[2021-08-19 00:03] #760 closed

[2021-08-19 19:37] tnrich commented on #735
@ericsturman hmm I wonder why that is..

[2021-08-20 21:14] diegusleik commented on #728
Thank you very much @MarcelBolten and @tnrich ! It works really fine.

[2021-08-24 10:26] FadiBakoura opened #761 "UI Bug - Shift in Highlighting Mismatches and Selection when Browser Zoom is not 100%"
@tnrich

There is a problem with the alignment viewer, there is a shift in highlighting mismatches and selection. This UI artifact happens only when the browser zoom is not 100%.

Kindly find below two images:
First image: when the browser zoom is 100%  (No artifact in below image)
![image](https://user-images.githubusercontent.com/8144604/130600748-8d6d70ba-bd4e-41d2-84de-46fd3c3cff78.png)

Secon

[2021-08-24 16:42] tnrich commented on #761
@FadiBakoura thanks for reporting this! I'll see if it's an easy fix

[2021-08-24 17:01] tnrich commented on #761
@FadiBakoura what kind of computer are you on and what browser are you using?

I'm not able to reproduce this rendering issue on my mac on chrome:

Browser zoom at 125%:
![image](https://user-images.githubusercontent.com/2730609/130658894-54be5cee-4c0e-42f2-9346-e04e554808a7.png)

[2021-08-24 17:35] FadiBakoura commented on #761
Asus TUF gaming - Windows 10 - Chrome: Version 92.0.4515.159 (Official Build) (64-bit)

Maybe the Screen resolution plays a role here, can u test different zoom levels?

[2021-08-28 08:23] FadiBakoura commented on #761
That's strange that it's working on your ends.

The below image is from my coworker laptop:

![image](https://user-images.githubusercontent.com/8144604/131211529-c761f878-5a8b-4b4c-9b5a-70d78aaa4ada.png)

As you can see in the above image, at index 1310 (the mismatch right before it), there is a noticeable shift.

[2021-08-30 11:06] flange-ipb commented on #749
Thanks to commit [93a491f95819c681df425ded7df619bd3f51c9d5](https://github.com/TeselaGen/openVectorEditor/commit/93a491f95819c681df425ded7df619bd3f51c9d5) there is now transparency about where to get Ubuntu Mono from and which version it is. It traces back to [fontsource/ubuntu-mono](https://github.com/fontsource/fontsource/tree/main/packages/ubuntu-mono) and it seems to use a version that is lice

[2021-08-30 15:34] tnrich commented on #749
@flange-ipb what should be done to get the license file? Does it need to be added to this repo?

[2021-09-01 07:11] flange-ipb commented on #749
Hi @tnrich!
[FontDrop](https://fontdrop.info/) told me that v0.80 of Ubuntu Mono is delivered with OVE, i.e. the Ubuntu Font License applies. You can find the license file [here](https://assets.ubuntu.com/v1/81e5605d-ubuntu-font-licence-1.0.txt) (that's a link from the previously referenced [license page](https://ubuntu.com/legal/font-licence)).
In my opinion, the license file should at least appe

[2021-09-15 07:21] tonyjiafan opened #767 "Plugin Documentation"
**please help me!**

Now I want to integrate this awesome plugin into my VUE project.
Is there a VUE version of this plugin?
If not, what is a good way for me to use this plugin in the VUE project? I need a more comprehensive API document corresponding to this plugin.
If you see this message, please help me.
thank you very much!

**I need more comprehensive documentation thanks！**

My email addres

[2021-09-15 12:53] rpavez opened #768 "Remove Cypress key"
Hi @tnrich hope you're doing great, this is a great project that I actually follow. Just would like to suggest as explained here https://docs.cypress.io/guides/dashboard/projects#Record-key its probably better not to expose Cypress Recording key seen here https://github.com/TeselaGen/openVectorEditor/blob/b26a2a7c0a670c62f4c7fd631984a743d0eac86c/package.json#L28 probably it's better to regenerate

[2021-09-15 18:46] tnrich commented on #768
Hmm interesting thanks for the heads up @rpavez !! It is good to hear from you!

I'll need to look into this further. Hope you're doing well ☺️

[2021-09-15 21:42] tnrich commented on #767
Hey @tonyjiafan there is a standalone demo of OVE here http://teselagen.github.io/openVectorEditor/#/Standalone

You'll probably need to do something like that if you'd like to embed it in a non-react application. The standalone version uses a UMD build of the editor. You can read about the UMD build in the readme:
https://github.com/TeselaGen/openVectorEditor#flavors-of-use-aka-embedded-in-the-ed

[2021-09-16 00:45] tonyjiafan commented on #767
thank you very much!

[2021-09-16 06:11] kelmazouari opened #770 ".ab1 alignment"
@tnrich

Hi @tnrich ,
I can't create Pairwise Alignment for two .ab1 files.
![image](https://user-images.githubusercontent.com/10584220/133558989-4af9e973-b2d5-49ca-87ab-b0feb0bc47ec.png)

Alignment is not displayed.
![image](https://user-images.githubusercontent.com/10584220/133559097-abf729ce-cb40-46de-9120-309fe4337946.png)

Thanks

[2021-09-17 21:37] mfero commented on #334
This ticket was closed before the interface was implemented. I'll continue with a new ticket.

[2021-09-17 21:38] mfero opened #772 "Add Revision History to Vector Editor Part II"
Finish implemention of versioning like in app.teselagen.com (Google style rollback)
![versioning](https://user-images.githubusercontent.com/21211903/41323106-762d76f4-6e61-11e8-8a68-dfeedf8d6557.PNG)

[2021-09-17 21:40] mfero commented on #772
@tnrich continuing the thread.

[2021-09-17 23:50] tnrich commented on #770
Hmm.. seems like a bit of an issue.. Can you please upload a zip file with the .ab1 files in question? Thanks!

[2021-09-18 06:25] kelmazouari commented on #770
[ab1.zip](https://github.com/TeselaGen/openVectorEditor/files/7189363/ab1.zip)

[2021-09-21 14:44] diegusleik commented on #770
Hey @kelmazouari,

I'm on a similar issue now. From [this post](https://github.com/TeselaGen/openVectorEditor/issues/712), I know that:

Do you have an alignment tool connected to your OVE? Which one? What is your response object?

[2021-09-21 15:15] kelmazouari commented on #770
Hi @diegusleik ,
I am actually looking for ab1 file viewer/editor (screenshot below)

![image](https://user-images.githubusercontent.com/10584220/134198006-c3716fac-a762-4573-b2ab-46ba5ad97023.png)

[2021-09-21 15:37] diegusleik commented on #770
Oh, sorry, I meant the alignment, not the ab1 file

[2021-09-22 05:55] #767 closed

[2021-09-22 22:39] tnrich commented on #772
@mfero this has been finished a long time ago as reported in #334

You can preview how this feature works here: http://teselagen.github.io/openVectorEditor/#/VersionHistoryView

As for implementing it in our main app, that still hasn't done but you should dredge up whatever ticket(s) are there and push them forward. Happy to jump on it if it is a top priority.

[2021-09-28 11:00] jakebeal opened #773 "Handle files with multiple designs"
Hi, @tnrich:

Every sequence format, including GenBank and FASTA, allows files to include multiple design entries. When faced with such a file, OVE currently just reads the first entry and ignores the rest. It would be great if one could select which of the entries to work with and to not lose the rest when saving.

[2021-09-29 18:42] mfero commented on #772
ok. I'll start dredging :)

[2021-10-01 07:43] flange-ipb commented on #604
Good news @tnrich and @onoufriosm!
I have a hacky solution, which actually works! It embeds OVE into an iframe.

### Considerations:
#### iframe
I'm using the `srcdoc` attribute instead of `src` to include the iframe content. I'm confident this avoids any cross-origin issues. The inline content needs to be HTML-escaped.

#### rescaling the size of the iframe
- after loading its content (preview mo

[2021-10-08 20:25] tnrich commented on #773
Hey @jakebeal that is a good point! I'll need to look into how best to support this.

[2021-10-12 18:07] tnrich opened #776 "Documenting Usage -- LET ME KNOW IF YOU'RE USING OVE"
Hey there,

I'm making this issue to try to compile a list of who's using OVE and for what purposes. If you see this issue and are embedding OVE into your own application, please respond here or edit the readme (https://github.com/TeselaGen/openVectorEditor#ove-out-in-the-wild-whos-using-ove) via a PR!

Just trying to keep track of who is using it and what the use cases seem to be.

Thanks!

[2021-10-14 16:43] tnrich opened #778 "Add another option for amino acid coloring"
Currently we color the amino acids by hydrophobicity. We should also provide the option to color them by family!

@kelmazouari can provide the raw coloring data!

[2021-10-14 16:47] tnrich commented on #770
@kelmazouari @diegusleik I've started working on a way to overlay ab1 files on top of the sequence row view. Here's a preview of what it will look like:

![image](https://user-images.githubusercontent.com/2730609/137361158-e1b67257-f268-4d50-9611-fadc70e82f18.png)

[2021-10-14 16:57] kelmazouari commented on #770
@tnrich Excellent, thanks.

[2021-10-14 22:59] jakebeal commented on #773
Thank you. Multi-entry files may be odd, but they're an important case and absolutely vital for some workflows.

[2021-10-18 07:25] tonyjiafan opened #780 "React.StrictMode error info"
@tnrich

### use  React.StrictMode error info

code: `ReactDOM.render(
  <React.StrictMode>
    <Provider store={store}>
      <App />
    </Provider>
  </React.StrictMode>,
  document.getElementById("root")
);`

The old API will be supported in all 16.x releases, but applications using it should migrate to the new version.
Please update the following components: Connect(Component), Connect(Toolba

[2021-10-19 22:36] tnrich commented on #778
Ok, I added this feature in open-vector-editor@16.4.3:

![image](https://user-images.githubusercontent.com/2730609/137999584-7d2ead95-c55d-4558-a289-06bae3e17504.png)

Lemme know how it works and if it needs anything else @kelmazouari. Maybe you could also provide some info on the OVE readme about the coloring choices for the "By Family" option? Just an idea :)

[2021-10-20 18:53] #778 closed

[2021-10-23 21:31] flange-ipb opened #783 "Compromised npm packages of ua-parser-js"
Hi @tnrich!
I just read news about a security issue in ua-parser-js, which seems also to be in the build pipeline of OVE (see yarn.lock). You can find information about it [here](https://github.com/faisalman/ua-parser-js/issues/536). Could you please check the OVE artifacts?

Thanks,
Frank

[2021-11-02 21:00] mfero opened #786 "SBOL support in OVE"
@tnrich This is s stub for the SBOL support ticket

[2021-11-02 21:15] jakebeal commented on #786
This might be fairly easy to support at a basic level, as https://github.com/SynBioDex/SBOL-utilities has an sbol-to-genbank converter that can be run from python or the command line to convert between SBOL3, SBOL2, GenBank, and FASTA.

The key things to do would be:
1) Searching the SBOL3 document for Component objects with type=DNA (maybe also RNA or amino acid if you support those too?)
2) Keep

[2021-11-15 15:40] tnrich commented on #770
A first version of this has been released in v17.0.0

You can play with it here: http://teselagen.github.io/openVectorEditor/#/Editor?showDemoOptions=false&searchInput=&chromatogramExample=true

[2021-11-15 15:43] kelmazouari commented on #770
Thanks Thomas ;)

 <http://www.abnomx.com/>	Khalil El Mazouari, PhD
Founder, Managing Director
AbnomX <https://www.abnomx.com/> bv
Ghent Area, Belgium
***@***.*** ***@***.***>

Confidentiality Notice: This e-mail message, including any attachments, is for the sole use of the intended recipient(s) and may contain confidential and privileged information. Any unauthorized review, use, disclosure or d

[2021-11-15 15:47] kelmazouari commented on #770
Thanks Thomas, Excellent job.

[2021-11-17 01:34] sjpeccoud opened #790 "Error Compiling"
I was trying to use the ove react component, so I installed the js package using `yarn add open-vector-editor`. Then I followed the instruction for the code, but every time I start my local server I get the following error.

[code]

I tried installing the two modules manually but that didn't help at all.
Any suggestions?

@tnrich

[2021-11-19 21:38] tnrich commented on #790
Hey @sjpeccoud sorry I didn't see your issue sooner!

What kind of machine are you on? Mac/windows/linux?

Want to set up a time to pair to get it working for you?

-Thoams

[2021-11-20 00:22] sjpeccoud commented on #790
@tnrich

No problem! I am on a mac and I am using webpack.
I would love to setup a time to meet. I am available next week Monday from 3-5pm PT, Tuesday anytime, and Wednesday anytime. I am in Pacific Time for what its worth.

Thank you so much,
Samuel

[2021-11-20 22:12] tnrich commented on #790
Let's do Monday at 3pm PT if that works for you. Also do you have a link to the repo that you're doing this work in? I could try reproducing locally

[2021-11-21 18:49] sjpeccoud commented on #790
@tnrich Monday at 3 works great. You can send me the invite here: samuel@genofab.com
Unfortunately my repo is private and I am not allowed to share it outside my organization.

[2021-11-21 18:54] tnrich commented on #790
Sounds good. Sent you an invite. You might want to see if you can replicate
the situation by setting up a share-able example repo. Could be a good
exercise in general and sanity check that things are unfolding as you
think.

On Sun, Nov 21, 2021 at 10:49 AM sjpeccoud ***@***.***> wrote:

[2021-11-23 00:26] tnrich commented on #790
@sjpeccoud after talking today I think we've determined a few things:

- The issue is on your side. Running the https://github.com/tnrich/ove-react-demo-repo worked fine for you as did running the ove demo app locally
- It is _probably_ caused by a webpack node-sass/sass/scss loader issue
- just commenting out the lines mentioned above led to another node-sass related issue

My advice would be to

[2021-12-06 17:48] tnrich opened #791 "Find tool keyboard shortcut behavior"
Instead of toggling the Find Tool on and off, cmd+F should act slightly differently:

Expected Behavior:

- [x] cmd+f should open find tool if it is closed
- [x] cmd+f should refocus find tool if it is already open and unfocused
- [x] cmd+f should do nothing if find tool is already open and focused
- [x] esc should close the find tool if it is open and focused
- [x] esc should do nothing if the fi

[2021-12-06 23:52] tnrich opened #792 "Alignment Minimap scroll slightly off"
As seen in this photo:
![image](https://user-images.githubusercontent.com/2730609/144940956-02e3617e-ee89-4456-9742-8e87c4806f58.png)

The `alignmentTrackName` div gap isn't being taken into account when calculating the yellow scroll.

[2021-12-07 10:31] nicolazilio commented on #776
I've recently 'integrated' OVE, https://github.com/helle-ulrich-lab/ove-react-demo-repo, with a Django-based app that I have developed to keep track of biological records in our lab https://github.com/helle-ulrich-lab/organisation-intranet.

[2021-12-07 10:43] nicolazilio opened #793 "How to set the default state (on/off) of a property?"
@tnrich

Hi there,

First of all, I'd like to say that openVectorEditor is great, good job!

I have a question about setting the default state of a property that I want to show. In `App.js` file I set `editorProps` as follows

[code]

I do want to show all those properties in the ToolBar, but I would like only `featureTool` to be enabled by default. I would like `cutsiteTool` and `oligoTool` to be

[2021-12-08 01:27] tnrich opened #794 "Primer base editing support"
- [x] only update primer bases when specifically editing it. If underlying edits mess it up this can be detected and displayed in the primer edit window (this also should fit the genbank model well)
- [x] if primers have bases, display them in the primer properties window
- [x] add tests to make sure going to and from genbank works properly

STRETCH GOALS:
- [x] add a bases column to the primer pr

[2021-12-08 08:48] nicolazilio commented on #793
Yes, that indeed did it. Thanks a lot again!

[2021-12-17 11:18] Elias-Awess opened #797 "in Alignment Viewer, How can I apply selection for each sequence, not select all sequences at the same time?"
@tnrich

Hello there,

thank you for OpenVectorEditor,

I have an issue:
I need one selection layer but I need to select one sequence not all sequences at the same time,
is this feature existed now or you will add it in the future?

thanks

[2021-12-18 09:22] kelmazouari opened #799 "chromatogramData: baseCalls not saved"
@tnrich

Hi Thomas,

When editing and saving chromatogramData, the sequence is saved. However, baseCalls is not always saved or not saved correctly.
For example: when I changed the first C -> A and Save, the sequence is OK, but baseCalls keeps the old value. It is also not always working for deletion.

Sometimes it saves multiple insertions as String:
![image](https://user-images.githubusercontent

[2021-12-19 00:17] weasteam opened #800 "Any plan to support react17"
@tnrich
Just want to check if react17 is going to be supported.

[2021-12-19 02:21] tnrich commented on #800
Yep planning on updating soon!

[2021-12-20 17:33] tnrich commented on #799
Hey @kelmazouari I've fixed the issue you're seeing (also maybe just don't rely on base calls but instead use the sequenceData.sequence as the underlying source of truth.

The updated version is 17.0.12

[2021-12-20 18:25] tnrich commented on #797
Hey @Elias-Awess I'll need to look into how hard it will be to implement what you're asking for. What is your use case for this mode of action out of curiosity?

[2021-12-21 05:54] Elias-Awess commented on #797
thanks @tnrich,

for my use case, I need to select one sequence at a time and do some operation on it like: remove this selected sequence, copy, ....

[2021-12-22 02:53] #799 closed

[2021-12-22 02:53] tnrich commented on #800
Published in open-vector-editor@17.1.4

[2021-12-22 03:02] tnrich commented on #797
It looks a little tougher than I thought to get multiple independent selections..

If it works for you, I would maybe recommend using this interface:

![image](https://user-images.githubusercontent.com/2730609/147028249-ef1900d6-2692-4e85-b166-ae329e379856.png)

And targeting the track that is being right clicked on by name.

Not sure if that would do the trick but it will work immediately. I don'

[2021-12-22 03:03] #793 closed

[2021-12-22 03:03] #791 closed

[2021-12-22 03:04] weasteam commented on #800
that is fast, thanks

[2021-12-22 03:05] tnrich commented on #770
Going to close this for now. Feel free to open any new issues!

[2021-12-22 03:05] #770 closed

[2021-12-22 03:05] #768 closed

[2021-12-22 03:07] #800 closed

[2021-12-22 03:09] tnrich commented on #800
No problem! If you feel like it want to let us know if you're using OVE in your project: https://github.com/TeselaGen/openVectorEditor/issues/776 ?

Thanks!

[2021-12-22 03:11] tnrich commented on #790
Going to close this for now. Feel free to reopen if you need to or make a new issue!

Good luck!

[2021-12-22 03:11] #790 closed

[2021-12-22 08:23] sunm19810-pki opened #801 "Missing file in released npm package."
Hi @tnrich

I found the released package of open-vector-editor was not complete, such as the file src/utils/withStore.js is not included in the released npm package.

[2021-12-22 17:17] tnrich commented on #801
Uh oh I'll look further into this today. Thanks!

[2021-12-24 07:48] tnrich commented on #801
Thanks for the heads up.. looks like it is an issue with the `in-publish` package I use..

[2021-12-24 07:53] tnrich commented on #801
Fixed this by no longer using in-publish which is no longer needed since npm v4

[2021-12-24 07:53] #801 closed

[2022-01-04 19:05] MarcelBolten commented on #776
Hi,
[eLabFTW](https://github.com/elabftw/elabftw), a free and open source electronic lab notebook, uses OVE to display attached plasmid files.
Please have a look in the [live demo](https://demo.elabftw.net/experiments.php?mode=view&id=4480.
Snapshots of a custmized plasmid view can be generated and be used in the text body of an experiment.

[2022-01-04 19:48] tnrich commented on #797
@Elias-Awess do my instructions make sense to you?

[2022-01-05 00:38] tnrich opened #803 "Cutsite rendering is off"
It shouldn't look like this:
![image](https://user-images.githubusercontent.com/2730609/148142589-89834c9c-b3e0-41f0-8a85-0511eb1486f5.png)

[2022-01-05 00:39] tnrich opened #804 "Allow properties to be double clicked to edit"
Double click a row
![image](https://user-images.githubusercontent.com/2730609/148142669-77514cc5-ddbb-402d-82f3-5a13dd3455c8.png)

To edit:
![image](https://user-images.githubusercontent.com/2730609/148142682-f540f2d2-2171-4d9c-969a-3c1b9299f7be.png)

[2022-01-05 01:08] #804 closed

[2022-01-05 01:09] tnrich commented on #803
Fixed!

[2022-01-05 01:09] #803 closed

[2022-01-06 09:08] Elias-Awess commented on #797
@tnrich,

Sorry for the late to respond,

Yes I used your suggestion and it is useful for now, but I think that if the selection was on one sequence it will be better for UX.

Thank you

[2022-01-06 19:59] tnrich commented on #797
@Elias-Awess happy to take a PR that improves the UX but I don't have the bandwidth to tackle this right now.

[2022-01-06 22:53] tnrich opened #805 "Display molecule type info clearly"
@tnrich

![image](https://user-images.githubusercontent.com/2730609/148463321-b60bcfdb-8eea-45a9-a13c-8f59b932c493.png)

It's unclear to me here that I'm editing a primer (and not a DNA sequence)

[2022-01-07 18:47] tnrich commented on #805
Implemented as a status bar item in the bottom left in 17.2.0
![image](https://user-images.githubusercontent.com/2730609/148591936-415effed-4018-4f91-a9c4-a1df74202a26.png)

[2022-01-07 18:47] #805 closed

[2022-01-27 18:07] tnrich opened #807 "Be able to jump back to previous versions (on the deployed gh-pages app)"
It would be nice to be able to jump back and forth between previous versions of the OVE app and see what has changed.

[2022-01-27 18:08] tnrich commented on #807
This can now be done via a Version dropdown:

![image](https://user-images.githubusercontent.com/2730609/151418187-4c666ed3-34bb-4566-b831-90f2990e7169.png)

[2022-01-27 18:08] #807 closed

[2022-02-09 19:17] tnrich opened #808 "How to add new restriction enzymes to OVE? I can't find Esp3I."
Just posting a question asked via email

[2022-02-09 19:20] tnrich commented on #808
Well first off, it looks like Esp3I and BsmBI are analogs. BsmBI is not hidden by default:

![image](https://user-images.githubusercontent.com/2730609/153273991-e540e587-0c82-4290-a354-ed19429eb9d0.png)

To get Esp3I, which is in the "Hidden" enzymes group by default, to show up, users can either add it to their "My Enzymes" group via the manage enzymes tool:
![image](https://user-images.githubuse

[2022-02-10 19:36] tnrich opened #809 "Add truncated internal labels when external labels is toggled off"
@tnrich

For example if a feature or primer is too short to accommodate the entire label and there is no external label being shown in the row/linear view we should try drawing a truncated version of the label. For example here:
![image](https://user-images.githubusercontent.com/2730609/153483216-bae077e7-ab72-4177-9068-34da58f41678.png)

[2022-02-10 20:25] tnrich commented on #808
Also, please note I've made a couple improvements that are landing in v17.2.18

Hidden enzymes are now called out if searched for:
![image](https://user-images.githubusercontent.com/2730609/153489266-a0b6cbe3-5c02-47ff-a3b0-6db580969d0e.png)

They can be clicked:

![image](https://user-images.githubusercontent.com/2730609/153490407-4f615956-bf2f-4d30-b5da-db8843065aa4.png)

Note the addition of en

[2022-02-17 07:21] jobabi opened #810 "Feature requests Export/Copy of Expected Digest Image"
Thanks for developing OVE. During the past I was using serial cloner which is unfortunately not anymore running on newer MAC OS system. Currently we are using OVE with eLABFTW, which is really useful.

I have two feature request to further enhance the code

1)   I would like to change the DNA ladder so that I can choose the appropriate ladder for my experiments
    (The three ladders provided do n

[2022-02-17 15:38] tnrich commented on #810
Hey @jobabi those both sound like pretty reasonable suggestions. Can you make a separate ticket for both of them and spec out how you'd like the user interface to be for both use cases? That would be a great first step I think.

Also are you interested in leading the code development of either of these features if I provided a roadmap of how I thought they should be implemented once we've settled

[2022-02-18 07:34] jobabi commented on #810
I have  splitted the two features. The request for the DNA Ladder can be found here:

For the export of the virtual DNA Digest picture, I think it would fine if one can use a right mouse click to open a small window that allows to save the picture. Similar to any Picture if you browse the internet. I assume that if the browser would be able to recognize the DNA Digest as a picture this would be do

[2022-02-18 07:50] jobabi opened #811 "Feature requests - Custom DNA ladders"
Hi, this is a new request for integration an option to adjust the DNA ladder.

I suggest to integrate this in the "virtual  digest" menu. When opening a new digest you get two sub menu´s "Virtual digest" showing the picture and "digest info" showing a table with detailed infos. Maybe one can add here a menu called "DNA ladder" that provide a list (or table) where you add / remove a individual DNA

[2022-02-18 07:56] jobabi commented on #811
Here is such an option from "Serial cloner"
<img width="584" alt="Screenshot 2022-02-18 at 08 55 21" src="https://user-images.githubusercontent.com/66642211/154641382-a1f03ba4-2310-4fa3-afc1-42baf0f5b62d.png">

Here you have even the option to have normal and sick marker bands, that would the superior option :-)

[2022-02-19 05:41] MarcelBolten commented on #810
Hi @tnrich

Maybe there could be an additional entry >Save to File< in the already existing context menu of the digest info which would allow users to download/export the selected data/the entire table as a csv or tsv file.
![image](https://user-images.githubusercontent.com/65481677/154787617-42c203a6-60b8-402e-9272-aca2337d4e1e.png)
The generated file could alternatively be transferred to a callb

[2022-02-26 00:07] tnrich commented on #811
@jobabi I'm adding a copy to clipboard option here:
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/2730609/155819329-3a058ead-d8fc-40e1-bb6e-1e8023599d73.png">

Here's the pasted image:

![image](https://user-images.githubusercontent.com/2730609/155819338-6824f91c-7c61-46a2-95bd-82a48a222146.png)

[2022-03-05 00:54] tnrich commented on #810
@jobabi I'm adding a copy to clipboard option here:
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/2730609/155819329-3a058ead-d8fc-40e1-bb6e-1e8023599d73.png">

Here's the pasted image:

![image](https://user-images.githubusercontent.com/2730609/155819338-6824f91c-7c61-46a2-95bd-82a48a222146.png)

[2022-03-05 00:55] tnrich commented on #810
@MarcelBolten I've added the ability to copy any datatable to the clipboard as a TSV (tab separated values):
<img width="634" alt="image" src="https://user-images.githubusercontent.com/2730609/156860581-99db7807-9166-4416-9701-6370678604db.png">

[2022-03-05 00:56] tnrich commented on #810
Going to close but feel free to reopen if I missed something

[2022-03-05 00:56] #810 closed

[2022-03-07 10:16] jobabi commented on #810
Thanks for adding my suggestions. I appreciate that.

Copying row or table worked pretty fine in the demo. However, the option "copy cell" was not working in my hands.
More useful from my side would be the option to copy a column. I guess for everybody interested in Plasmid  digest the column with the "length" sorted form biggest to smallest fragments is the most important information.

The option

[2022-03-07 16:37] tnrich commented on #810
Hey @jobabi good idea with the column copy, I can add that as well as fix the cell copy.

As for the copy image to clipboard it looks like Firefox does not support the ClipboardItem api I used to implement this feature - https://developer.mozilla.org/en-US/docs/Web/API/ClipboardItem#browser_compatibility

Not sure what to do about this as the other copy image solutions don't look great. I probably

[2022-03-07 17:33] tnrich commented on #810
@MarcelBolten  @jobabi as for copying the cell, that seems to be working for me. Can you send a short gif of that functionality not working for you?

When copying the column, would you want the column header included or not?

[2022-03-07 17:47] tnrich commented on #811
Hey @jobabi I've added a first pass of adding a custom ladder. Let me know if it works for you and if the UI makes sense. You can try it here:

http://teselagen.github.io/openVectorEditor/#/Editor?searchInput=diges&focusDigestTool=true

[2022-03-07 18:19] tnrich commented on #808
@kelmazouari do my changes fix the issue you were seeing?

[2022-03-07 18:24] tnrich commented on #773
@jakebeal not sure if you're interested but I added a way to sponsor and prioritize particular features to my github :) https://github.com/sponsors/tnrich?frequency=one-time

:)

[2022-03-11 12:52] mfero opened #813 "Long sequence names being cut off"
@tnrich long sequence names are being cut-off, no tool tip to help out.

<img width="378" alt="image" src="https://user-images.githubusercontent.com/7561861/157870029-bf0fefea-8cfb-428c-9b28-9f36ac8b127e.png">

[2022-03-13 16:13] tnrich commented on #811
@jobabi let me know if the above changes will work for you. Thanks!

[2022-03-13 16:13] tnrich commented on #808
Closing as I believe this has been fixed.

[2022-03-13 16:13] #808 closed

[2022-03-13 16:20] #794 closed

[2022-03-13 17:04] tnrich commented on #813
There was already a hover title on the name, but I updated it to have a nice little ellipsis:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/2730609/158070127-9c90fed3-9b63-4d96-aa80-cd7c95e09eb3.png">

You can see that here: http://teselagen.github.io/openVectorEditor/#/Editor?longSequenceName=true

Let me know if this solves your issue.

[2022-03-14 09:21] jobabi commented on #811
HI tnrich, the changes worked fine for me in the demo. Thank you for your help

Jochen

[2022-03-14 09:21] #811 closed

[2022-03-14 09:24] jobabi commented on #810
My Firefox (and Safari) which is having this problem is running on MacOS.
I didn´t find anything in the preferences to change.

[2022-03-14 16:19] MarcelBolten commented on #810
It is not accessible by the "preferences" menu but via [The Configuration Editor (about:config page)](https://support.mozilla.org/en-US/kb/about-config-editor-firefox).

[2022-03-14 20:26] mfero commented on #813
perfect. thanks!

[2022-03-14 20:26] #813 closed

[2022-03-15 10:34] jobabi commented on #810
I changed that but still the clipboard is empty

[2022-03-15 15:54] tnrich commented on #810
@jobabi is it giving you a success message?:
<img width="531" alt="image" src="https://user-images.githubusercontent.com/2730609/158418294-e3256ee0-f93c-401b-88bf-4226fe146e6b.png">

Or is it giving you an error message?

If you're getting a success message, are you sure you're pasting it into a location that accepts clipboard images? That could also be the issue. You should also be able to paste

[2022-03-16 08:12] jobabi commented on #810
I receive the success message, but the clipboard just contains the previous content.
I tried to paste in various graphic and other software without success because the clipboard does not contain the image.
Screenshot is working, but copy paste would be easier to use

[2022-03-17 05:27] mfero opened #815 "Parse basic html used in description field from Snapgene sequences"
@tnrich it looks like Snapgene very commonly uses a bit of HTML in their description fields. We should perhaps interpret instead of being literal? Maybe we convert at import?

![image](https://user-images.githubusercontent.com/7561861/158743029-977348e2-4fb0-42bd-a1e6-5ebcedbb2c14.png)
![image](https://user-images.githubusercontent.com/7561861/158743220-9512bb52-3683-41d9-bce0-6452f6f34926.png)

[2022-03-17 05:48] tnrich commented on #815
@mfero can you please create an issue for this in the ve-sequence-parsers repo with an example snapgene file with the an "html description"?

Not sure how common this is as I have yet to see it.

Thanks!

[2022-03-17 18:13] mfero commented on #815
done. closing this in favor of https://github.com/TeselaGen/ve-sequence-parsers/issues/225

[2022-03-17 18:13] mfero commented on #815
close

[2022-03-20 15:59] tnrich commented on #809
This feature has been released and is enabled by default! Implementers of OVE can turn it off if they do not want it by passing truncateLabelsThatDoNotFit={false} to the editor.

[2022-03-20 15:59] #809 closed

[2022-04-15 17:39] tnrich commented on #415
This has been fixed in Teselagen's main app recently

[2022-04-15 17:39] #415 closed

[2022-05-02 20:09] jdmccauley commented on #776
I use OVE! It's nice to have a desktop version in my work at JBEI/ABF.

[2022-05-02 20:30] tnrich opened #816 "Copied digest image not pasting to github.."
@tnrich

[2022-05-02 20:47] hcdepaoli opened #817 "Degenerated oligo/sequence binding improvement"
When entering oligo sequences with degenerated bases, it would be nice to have a savvy distinction between the universal base pairs (e.g., R should be a match for A or G). Currently, oligos with degenerated bases are shown in red regardless of binding specificity.

One possible output could be to show the oligo bp, which is traditionally shown in black, to be in red if it's degenerated+mismatch, o

[2022-05-02 20:52] tnrich commented on #817
@hcdepaoli sounds like an elegant solution!

[2022-05-09 09:17] flange-ipb opened #818 "Import should call onSave"
Hello @tnrich!

I'm using an `onSave` handler to write the sequence data to a hidden input element when changes happen in the sequence data. `shouldAutosave` is also enabled in the editorProps. The problem is that `onSave` is not called after importing a file (.fasta, .gb or .dna).

Workaround:
It is possible to invoke the save procedure via the `onImport` handler?

[2022-05-09 18:17] tnrich commented on #818
@flange-ipb this is being published now in v17.5.0

Let me know if it fixes the issue for you.

Cheers!
Thomas

[2022-05-11 19:54] tnrich commented on #816
Figured it out.. this feature requires the site to have a secure HTTPS connection. If not it will not work. I'll hide the copy button if the site serving OVE is not secure.

[2022-05-11 20:02] tnrich commented on #810
@jobabi I think I may have figured out what was going wrong here. The copy image functionality requires that the site be secure (served over https) which the OVE demo page was not. I've updated the demo page to be served over https and also updated the code to hide the copy option if in an unsecure environment.

Let me know if the updated site solves it for you.

[2022-05-11 20:03] #816 closed

[2022-05-12 06:06] jobabi commented on #810
Yes, no it is working. Thank you very much for your patient support in this question.

[2022-05-17 06:43] flange-ipb commented on #818
Very good! Thanks @tnrich

[2022-05-23 19:18] tnrich commented on #817
This should land in OVE v17.5.3

[2022-05-23 19:18] #817 closed

[2022-05-23 19:48] hcdepaoli commented on #817
Works really nice! Thank you, lovely addition!

[2022-05-23 20:42] tnrich commented on #792
This should land in OVE v17.5.4

[2022-05-23 20:43] #792 closed

[2022-05-25 00:14] tnrich commented on #689
Closing this as stale

[2022-05-25 00:14] #689 closed

[2022-05-25 00:14] tnrich commented on #761
Closing this as stale

[2022-05-25 00:14] #761 closed

[2022-05-25 00:14] tnrich commented on #712
Closing this as stale

[2022-05-25 00:14] #712 closed

[2022-05-25 00:15] tnrich commented on #699
Closing this as stale

[2022-05-25 00:15] #699 closed

[2022-05-25 00:16] tnrich commented on #410
I believe this has been fixed
<img width="502" alt="image" src="https://user-images.githubusercontent.com/2730609/170152310-f637c040-bdf0-400d-8e92-c07f97b02b92.png">

[2022-05-25 00:16] #410 closed

[2022-05-25 00:17] tnrich commented on #441
Closing this as stale

[2022-05-25 00:17] #441 closed

[2022-05-25 00:18] tnrich commented on #413
Closing this as stale

[2022-05-25 00:18] #413 closed

[2022-05-25 00:22] tnrich commented on #304
Closing this as stale

[2022-05-25 00:22] #304 closed

[2022-06-01 18:24] weasteam opened #820 "react 17 install issue"
@tnrich

npm install open-vector-editor@17.5.4 --save

[code]

[2022-06-08 23:03] edlemus opened #821 "DNA colors not aligning to sequence on the sequence alignment tool"
@tnrich
Hi,
What should I add to the code to make the colors align? I can't find anything on the documentation
![image](https://user-images.githubusercontent.com/69165851/172731613-e73689fb-2001-4159-944b-7a563e11d02c.png)

Note: The DNA colors don't align when there are gaps in the alignment sequence.

I'm using js vanilla

Thanks,
Eduardo