[2015-08-21 23:36] nixonpjoshua opened #3 "Organize Files"
Something simple like putting all the react components in a folder together and utility functions in a folder together

[2015-08-24 21:55] tnrich opened #5 "'vectorEditorState' is unnecessarily nested"
Because everything is actually vector editor state, we should de-nest the 'vectorEditorState' property from the baobab tree.

[2015-08-24 22:20] tnrich opened #6 "Unit test react components"
Currently I've only been writing unit tests for non-react functions, but we should use a mock DOM and actually test that individual react components perform as expected.

[2015-09-01 17:31] #5 closed, assigned to tnrich

[2015-09-19 00:27] nixonpjoshua opened #11 "Some ORFs are only displaying as a line"
Sometimes an ORF (usually a small one) will display without rendering the ball and arrow
<img width="517" alt="screen shot 2015-09-18 at 5 26 47 pm" src="https://cloud.githubusercontent.com/assets/5098245/9973583/7ae31c3e-5e2a-11e5-9941-1e0091f4859a.png">

[2015-09-19 00:27] nixonpjoshua opened #12 "Wraparound of feature SVG is inverted"
<img width="517" alt="screen shot 2015-09-18 at 5 26 47 pm" src="https://cloud.githubusercontent.com/assets/5098245/9973584/8f979420-5e2a-11e5-82b0-4c737e7aec9d.png">

[2015-10-03 17:35] tnrich opened #15 "Start using cerebral?"
http://christianalfoni.com/cerebral/#/0

The main benefit I see is that we can attach actions to the cerebral controller which gets passed down to child components like any other piece of "props", and those actions are called with a reference to the state tree. Here's a rough description of the differences in code:

### Baobab:
[code]

[code]

[code]

[code]

### Cerebral:

[code]

[code]

[code]

[2015-10-05 07:16] tnrich commented on #15
Other benefits (which might not be cerebral exclusive) are hot-module-replacement: https://github.com/gaearon/babel-plugin-react-transform

And the cerebral debugger: http://www.christianalfoni.com/articles/2015_09_22_Introducing-Cerebral

[2015-10-06 20:14] jakecoble opened #16 "ICE Integration"
Support opening and saving sequences in ICE

[2015-10-06 20:42] jakecoble opened #17 "Rendering"
**Information to render (ripped from Flex VE’s view menu):**
* Features
* Cut sites
* Open reading frames
* Complimentary
* Spaces
* Sequence Amino Acids
* Reverse Compliment Amino Acids
* Feature labels
* Cut site labels

[2015-10-06 20:43] jakecoble opened #18 "Cut, copy, and paste"

[2015-10-06 20:52] jakecoble opened #19 "Undo and redo"

[2015-10-06 20:53] jakecoble opened #20 "Restriction enzyme manager"

[2015-10-06 20:54] jakecoble opened #21 "Feature creation"

[2015-10-06 20:54] jakecoble opened #22 "Part creation"

[2015-10-06 20:54] jakecoble opened #23 "Searching"

[2015-10-06 20:55] jakecoble opened #24 "Selection"
* Select
* Select all
* Select inverse

[2015-10-06 20:56] jakecoble opened #25 "File importing"
Should support FASTA, Genbank, and SBOL

[2015-10-06 20:56] jakecoble opened #26 "Reverse compliment"

[2015-10-06 20:58] jakecoble opened #27 "Sequence analysis"

[2015-10-06 20:58] jakecoble opened #28 "Simulate digestion"

[2015-10-06 20:58] jakecoble opened #29 "Properties dialog"

[2015-10-06 20:59] jakecoble opened #30 "Preferences dialog"

[2015-10-06 21:00] jakecoble opened #31 "Printing"

[2015-10-06 21:00] jakecoble opened #32 "File viewer"

[2015-10-06 21:12] tnrich commented on #25
@jakecoble , @mfero, @njhillson @nixonpjoshua

Teselagen has a very modular set of import/export functionality that we could potentially open souce and use with this project.

@mfero, any thoughts on this?

It works very well with genbank/fasta and does handle SBOL, but not as well as the jbei sbol - genbank converter does.

[2015-10-07 19:42] tnrich commented on #25
I talked with @mfero and got the okay to open source our import/export functionality. Whoever ends up working on this should talk with me about what needs to be done to hook up to our import/export system.

Also this might be something that isn't added into the core of the editor, and instead we simply expose hooks to plug into various import/export systems.

[2015-10-07 21:10] hplahar commented on #25
@tnrich That will be preferred. When it is integrated with ICE, it will have to rely on the server side for the sequence type support.

[2015-10-07 21:43] tnrich commented on #25
Sounds good. It'll be import/export agnostic

[2015-10-09 23:30] tnrich opened #38 "Update to latest cerebral version and react 0.14"

[2015-10-09 23:34] tnrich opened #39 "optimize cutsite finding algorithms"
This seems like a tough algorithmic challenge to handle finding all the cutsites for ~3000+ enzymes on a million bp+ long sequence. I'm sure there's a way to do it though, either through actual smarter algorithms, or via chunking (only doing it for part of the sequence at a time), or by perhaps having users winnow down the number of enzymes they're searching for on large sequences.

[2015-10-09 23:37] tnrich opened #40 "Make react-variable-height-infinite scroller smoother"
I think a "key" prop will allow for smoother scrolling (because the browser hangs a bit when dom elements are removed).

Also adding a "pointer-events" null to the component can help.

For anyone interested, that repo can be found here:
https://github.com/tnrich/react-variable-height-infinite-scroller

[2015-10-09 23:39] tnrich opened #41 "Improve the jump-to functionality of the react-variable-height-infinite-scroller"
Currently it is a little buggy. It doesn't seem to jump the first time the jump button is clicked:

http://tnrich.github.io/react-variable-height-infinite-scroller/

[2015-10-09 23:51] tnrich opened #42 "make "beforeUnload" handling optional"
Currently the functionality to warn the user before they leave the page is just commented out, but this should probably controlled by a piece of state in the baobab tree.

[2015-10-09 23:52] tnrich opened #43 "aasliver onclick is messed up if AA is at the end of the sequence"
It doesn't highlight around to the start of the sequence.

[2015-10-18 17:36] tnrich commented on #38
Updated cerebral, react, to latest. Newer versions of cerebral + debugger have come out. Need to update those again.

[2015-10-18 17:36] #38 closed

[2015-10-19 03:45] #15 closed

[2015-10-19 06:14] tnrich opened #55 "make reverse sequence actually the real reverse complement"
right now it is just reversing the sequence, but not actually calculating the complement..

[2015-10-19 07:16] tnrich commented on #42
Warning the user about leaving the page seems outside the scope of OVE. That can just be handled by the app it is being embedded in.

[2015-10-19 07:17] #42 closed

[2015-10-21 23:45] tnrich commented on #55
Fixed this

[2015-10-21 23:45] #55 closed

[2015-10-22 17:30] tnrich commented on #17
Too broad. I'm making smaller issues.

[2015-10-22 17:30] #17 closed

[2015-10-22 18:32] tnrich opened #59 "Figure out pie view rendering strategy"
I'm fairly certain we'll want to use the following rendering strategy:
  - We pass along a "base radius" that gets added to for every annotation that is rendered.

Some questions I still have that will affect how the components are implemented at a basic level:

1. Do we want to render just a regular pie? Or do we want to support benchling-like zooming?  Supporting zooming would mean we probably w

[2015-10-22 18:42] tnrich opened #60 "Figure out pie label rendering strategy"
We could maybe use something like a d3 "force-layout".

Or do something like here:
http://bl.ocks.org/dbuezas/9306799

[2015-10-22 18:53] tnrich opened #61 "restrain the number of elements that are shown in the pie/rail view for really large sequences"
We should probably apply a filter so that only the ~100 largest annotations for any annotation type make it through to the view.

I've heard the limit of SVG elements on the page before the browser starts to slow down is ~1000 so we can try that out and see.

This should be pretty simple to implement with Baobab's monkey's:

[code]

[2015-10-22 18:56] tnrich opened #62 "Figure out rail/row label rendering strategy"
We can maybe try to use some sort of "force-layout" algorithm for this.

Or we can just calculate their y-offsets manually or using an interval tree.

[2015-10-22 19:06] tnrich opened #63 "Start using debug-logger"
Debug-logger is a console-log replacement that will allow us to persist useful debugging notes without having them flood the console all the time.

https://www.npmjs.com/package/debug-logger

Use it like this:
[code]

By default you won't be able to see the log.log messages. You'll need to type

[code]
Into the browser console.

By default you can see log.warn(), log.throw() etc.

[2015-10-22 19:07] tnrich commented on #63
I'll need to PR my debug-logger branch first.

[2015-10-22 19:20] salafrance opened #64 "[render] - circular view backbone"
Setup strategy for calculating circular arcs and lines for the circular sequence view.

[2015-10-22 19:20] salafrance opened #65 "[render] - linear view backbone"
Strategy for displaying linear sequence and placing carat, features &c in correct locations.

[2015-10-22 19:21] salafrance opened #66 "[render] - switch from circular to linear"
Display view toggle buttons and get them to toggle properly between views without deforming display and preferably without needing to recalculate everything

[2015-10-22 19:22] salafrance opened #67 "[render C, L] - display sequence"
display sequence in both circular and linear views

[2015-10-22 19:22] salafrance opened #68 "[render C, L] - display reverse sequence"
display reverse sequence in both circular and linear views

[2015-10-22 19:45] salafrance opened #69 "[render C, L] - display / toggle features"
display and hide features in circular and linear views

[2015-10-22 19:45] salafrance opened #70 "[render C, L] - display / toggle cutsites"
circular and linear

[2015-10-22 19:45] salafrance opened #71 "[render C, L] - display / toggle parts"
circular and linear

[2015-10-22 19:46] salafrance opened #72 "[render C, L] - display / toggle translations"
circular and linear

[2015-10-22 19:46] salafrance opened #73 "[render C, L] - display / toggle orfs"
circular and linear

[2015-10-22 19:46] salafrance opened #74 "[render C, L] - display feature labels"
without overlapping, circular and linear

[2015-10-22 19:47] salafrance opened #75 "[render C, L] - display cutsite labels"
without overlapping, circular and linear

[2015-10-22 19:47] salafrance opened #76 "[render C, L] - display parts labels"
without overlapping, circular and linear

[2015-10-22 19:47] salafrance opened #77 "[render C, L] - click and drag to highlight sequence"
circular and linear

[2015-10-22 19:48] salafrance opened #78 "[render C, L] - resize display"
make sure view scales properly when page is resized without deforming in both circular and linear view

[2015-10-22 19:49] salafrance opened #79 "[render C, L] - display everything!"
turn on features, orfs, cutsites &c and make sure everything can display at once without overlapping each other.

[2015-10-22 20:01] salafrance opened #80 "[render] - display sequence length, carat location, &c"
bottom box with sequence info

[2015-10-22 20:01] salafrance opened #81 "[render] - cleanup styling to look like old render"
tidy up annotation height / color, relative sizing, labels &c to keep old vectoreditor "branding"

[2015-10-22 20:04] tnrich commented on #68
It probably only makes sense to display the sequence if the char-width is above a certain threshold.
This applies to #67 as well

[2015-10-22 20:06] tnrich commented on #69
Question about this: should we allow for different toggling across different views? Like being able to see features in the circular view but not in the row view?

[2015-10-22 21:16] salafrance commented on #69
at least the way the old VE works, you only see one view or the other at a time, so toggle just works on whatever's showing currently.

[2015-10-22 21:17] salafrance commented on #68
oh, you're right, this should be on the list side not the map side.

[2015-10-22 21:28] tnrich commented on #69
Hmm okay. I think that to begin with we can have the toggles apply to all views at once. If we want a finer granularity we can add that in later.

[2015-10-26 06:50] tnrich commented on #59
Answer to 1: Wait to implement features like zooming.

[2015-10-29 05:48] #41 closed

[2015-11-02 19:08] #59 closed

[2015-11-03 08:11] tnrich opened #92 "Select-inverse of current selection via Cmd/crtl-I"
Cmd/ctirl-I should trigger a 'selectInverse' signal which causes the selection to be 'inverted'. We might need to discuss a bit more to hammer out exactly what 'inverted' should mean for all cases.

[2015-11-03 08:11] tnrich commented on #24
Deprecating in favor of: #92

[2015-11-03 08:11] #24 closed

[2015-11-03 08:28] tnrich opened #93 "Cmd-A should trigger a select-all"
Note, both this and the select-inverse should just be signals that can be triggered from multiple locations (Cmd-I, a "select inverse" button etc. )

[2015-11-03 08:30] tnrich commented on #24
and #93

[2015-11-06 19:26] tnrich opened #97 "amino acid highlighting off depending on where you click"
clicking on the end of an AA results in this:
![image](https://cloud.githubusercontent.com/assets/2730609/11006508/088dda96-8479-11e5-97b1-e6aa88954294.png)

We should make sure that the correct start and end are being passed when the amino acid is clicked.

[2015-11-09 20:02] thirdknife commented on #92
@tnrich does this means to deselect what's selected and select the rest?

[2015-11-09 20:04] tnrich commented on #92
yup exactly

[2015-11-09 20:06] thirdknife commented on #92
I dont think the current way support this, this will need a big change in setSelectionLayer?

[2015-11-09 22:02] tnrich opened #101 "Info/Warning/Error system"
I think it would be nice to be able to trigger little messages, perhaps in the status bar as well as in an optional pop up, that alerts the user of what's happened.

I also think that these warnings should go into a log so the user can look back at the messages they've seen.

There should also be a generic action, like displayInfo that we can hook into any action chain to display info to the user.

[2015-11-09 23:43] #93 closed

[2015-11-09 23:43] #92 closed

[2015-11-16 23:02] tnrich opened #107 "Fix sequence delete/insert signals"
These are mostly fleshed out, but have are not working currently.

[2015-12-02 08:42] #3 closed

[2016-01-28 23:06] #107 closed

[2016-01-28 23:08] #18 closed

[2016-05-05 18:22] #11 closed

[2016-05-05 18:22] #12 closed

[2016-05-05 18:22] #16 closed

[2016-05-05 18:22] #21 closed

[2016-05-05 18:22] #22 closed

[2016-05-05 18:22] #39 closed

[2016-05-05 18:22] #69 closed

[2016-05-05 18:23] #71 closed

[2016-05-05 18:23] #72 closed

[2016-05-05 18:23] #73 closed

[2016-05-05 18:23] #74 closed

[2016-05-05 18:23] #76 closed

[2016-05-05 18:23] #75 closed

[2016-05-05 18:23] #70 closed

[2016-05-05 18:23] #97 closed

[2016-05-05 18:23] #101 closed

[2016-05-05 18:23] #40 closed

[2016-05-05 18:24] #79 closed

[2016-05-05 18:25] #64 closed

[2016-05-05 18:25] #65 closed

[2016-05-05 18:25] #66 closed

[2016-05-05 18:25] #67 closed

[2016-05-05 18:25] #68 closed

[2016-05-05 18:25] #77 closed

[2016-05-05 18:25] #78 closed

[2016-05-05 18:25] #43 closed

[2016-05-05 18:25] #60 closed

[2016-05-05 18:25] #61 closed

[2016-05-05 18:25] #62 closed

[2016-05-05 18:25] #63 closed

[2016-05-05 18:25] #80 closed

[2016-05-05 18:25] #81 closed

[2016-05-05 18:25] #32 closed

[2017-10-23 16:02] #6 closed

[2017-10-23 16:02] #19 closed

[2017-10-23 16:02] #20 closed

[2017-10-23 16:02] #23 closed

[2017-10-23 16:02] #25 closed

[2017-10-23 16:02] #26 closed

[2017-10-23 16:02] #27 closed

[2017-10-23 16:02] #28 closed

[2017-10-23 16:02] #29 closed

[2017-10-23 16:02] #30 closed

[2017-10-23 16:02] #31 closed

[2017-10-23 16:04] tnrich opened #139 "Add documentation + example code"
- [x] Document our sequence.json
 - [x] Add example code for using universal build
     - [ ]

[2017-10-23 16:06] tnrich opened #140 "Editing functionality"
- [x] Add bps
 - [x] Delete bps
 - [x] Replace bps
 - [x] Copy annotated sequence

[2017-10-23 16:07] tnrich opened #141 "Styling"
- [ ] features/sequence/etc. should look like old version

[2017-10-23 16:08] tnrich opened #142 "Find/Search"
- [x] Highlight all
 - [x] Jump to highlight
 - [x] Ambiguous dna search
 - [x] Protein search
 - [x] Show number of matches,
 - [x] Color search match highlights differently
 - [x] Search Reverse Strand
 - [x] * not being searched for with amino acid search
 - [x] ambiguous amino acid search not working

[2017-10-23 16:09] tnrich opened #143 "Properties View"
- [x] Feature properties
 - [x] Cutsite properties
 - [x] Part properties
 - [x] Orf properties
 - [x] Primer properties
 - [x] Genbank file preview

[2017-10-23 16:10] tnrich opened #144 "Save Hook"
- [x] Hook for global editor onSave event where JBEI and others can convert and save the sequence info

[2017-10-23 16:12] tnrich opened #145 "Handle genome scale sequences"
- [ ] Editor should be able to handle giant sequence loaded
 - [ ] onSave hook should have option to just save the changes

[2017-10-23 16:13] tnrich opened #146 "Download hook"
- [ ] Need a hook when user requests to download the sequence to allow them to download it as various different file types

[2017-10-23 16:15] tnrich opened #147 "Support sanger / alignments"
- [ ] Support ability to do alignments

@njhillson could you point me to an existing tool that supports sequence alignments and maybe describe the sort of functionality we'll want the editor to be able to support?

Thanks!

[2017-10-23 16:18] tnrich opened #148 "Add OVE menu bar"
- [x] Add the option to have a standard menu bar
 - [x] It should support al the functionality of the toolbar, just in a menu bar

[2017-10-23 16:19] tnrich opened #149 "Add undo/redo functionality"
- [x] The user should be able to undo/redo their actions
 - [x] onUndo/onRedo hooks should be supported as well in case end-users would like to auto-save

[2017-10-23 16:20] tnrich opened #150 "Restriction enzyme manager"
- [ ] Add ability to have preferred enzyme groups
 - [ ] Be able to click and view more info about various enzymes (num of cuts, recognition site, etc)

[2017-10-23 16:46] njhillson commented on #147
ICE has this currently in sequence analysis tab. Uses BLAST to do pairwise
alignment, parses results, renders arcs around circular plasmid or line
above linear construct. colors green where good red where bad. Below visual
is the actual DNA alignment. Check it out in JBEI public ICE. If you have
questions, ask Hector Plahar. We can show it to you during DIVA developers
meeting this afternoon.

On

[2017-10-23 16:47] tnrich commented on #147
Awesome thanks @njhillson !

[2017-10-30 17:19] tnrich commented on #142
Hey @njhillson
A couple questions about the search tool:
1. Should the search also include searching the reverse strand by default or should that be another option?
2. Does ambiguous search only make sense for DNA searches?
2.5. If so, should we not give the "ambiguous" option for protein searches?

Thanks!

[2017-10-30 18:10] njhillson commented on #142
Search should be for both strands. Not sure you need option to only search
one strand or the other.
There are both ambiguous DNA and protein characters, so both should be
supported.
http://www.dnabaser.com/articles/IUPAC%20ambiguity%20codes.html

On Mon, Oct 30, 2017 at 10:19 AM, Thomas Rich <notifications@github.com>
wrote:

[2017-10-30 21:37] tnrich opened #151 "Select inverse button/tool"
Give an easy way to select the inverse

[2017-10-30 23:57] #139 closed

[2017-10-31 17:50] tnrich opened #152 "When features are turned off, the yellow circle becomes a little....big"
![](https://lh3.googleusercontent.com/-5UGkrk0n8so/Wfi2uFHNHZI/AAAAAAAAAW0/JJpSZaLhCwQOvU2wVU5g-x4SQW7C96opQCL0BGAYYCw/h548/no%2Bfeatures.png)

It should take up less total space.

[2017-10-31 17:51] tnrich opened #153 "Toolbar tooltip overlaps the dropdown menu."
![](https://lh3.googleusercontent.com/-GhiMAatng6w/Wfi3P4y0kTI/AAAAAAAAAXA/Jnho857E94EQ-WIpHJ0Ilx2RGSzWD9kkwCL0BGAYYCw/h1317/tooltip_overlap.png)

[2017-10-31 17:53] tnrich opened #154 "When you show the cutsites, it changes the type of font (jbei only right now? )"
When you show the cutsites, it changes the type of font (this might be a css conflict but I am not sure.

Before:

![](https://lh3.googleusercontent.com/-aRncnI1m5q0/Wfi1zAnD7HI/AAAAAAAAAWM/YpUkUO9bEgQdjYGBWyhcSb_FFAB_44nKwCL0BGAYYCw/h510/with_cutsites.png)

After:

![](https://lh3.googleusercontent.com/-SipdD_nUwTM/Wfi1vs14uhI/AAAAAAAAAWM/T6aVZCact6gXQBrX74RE5lvOmChsiE1AQCL0BGAYYCw/h517/features.

[2017-10-31 17:53] tnrich opened #155 "Show/Hide features button starting state funkiness"
Show/Hide features button is "off" by default but the features are showing (which is what I want). But you have to click the button to "show" the features and then click again to then hide it. (Hope my description makes sense)

[2017-10-31 22:00] XimeMora commented on #149
Undo/Redo is working correctly.

[2017-11-01 15:49] tnrich commented on #155
@hplahar can you point me to your source code where you set up the editor? I am having trouble reproducing locally. Also is there any chance you can make your demo server not locked by VPN?

[2017-11-01 17:09] tnrich commented on #155
@hplahar I figured out how to reproduce this issue locally.

[2017-11-01 17:56] tnrich commented on #154
@hplahar if you can investigate more into this to see if it has to do with a certain os/browser that would be really helpful! I haven't been able to reproduce on ICE yet but the current build on ICE doesn't appear to have the toolbar so I can't really check. Thanks!

[2017-11-01 18:11] hplahar commented on #154
Isn't happening on my Mac. Just happens on my ubuntu install. Don't have a windows machine to test it on though.

[2017-11-01 18:45] tnrich commented on #143
Things definitely could use a bit more design work but basic functionality is working.

Note: New/Edit  Part/Translation/Primer is not yet working.

[2017-11-01 18:48] tnrich opened #156 "Paste in annotated sequence"
Currently we can copy out annotated sequence but we need to be able to handle annotated sequence coming in.

[2017-11-01 18:48] tnrich opened #157 "Import button"
Generic fasta/genbank upload to view tool

You should be able to drag and drop fasta/gb and view it in the tool as well

[2017-11-06 16:45] tnrich opened #158 "Smooth scrolling in row view"
The row view should not be super "janky" when scrolled. Different improvements can make this possible:

 - [x] Cache rows that have already been rendered (speeds up subsequent renders)
 - [x] Don't render super heavy layers immediately (wait until the rest of the "lighter" layers have been rendered so scrolling isn't blocked)
  - Note only doing this for the "translation" layer currently (it is no

[2017-11-06 16:46] tnrich opened #159 "Resizable Panels"
- [x] Allow the circular view/ row view to be resized by dragging a "splitter" element between them.
 - [x] Allow the properties view to slide in from the right  as another resizable panel.

[2017-11-06 16:57] tnrich opened #160 "Make sure all layers can be right clicked as expected"
- [x] The selection layer should be rendered behind annotations
 - [x] The selection layer should still be right-clickable when clicked at the same height as an annotation (so long as you're not clicking the annotation itself)
- [x] All annotations should be right clickable

[2017-11-06 17:42] tnrich opened #161 "Gel digest"
Should work just like the old version

[2017-11-06 23:29] tnrich opened #162 "find tool amino acid matches should show amino acids"
Find tool amino acid matches should show amino acid translation

[2017-11-07 14:06] njhillson opened #163 "ICE - VectorView Status Bar Needs Conditional Display"
Within ICE, the VectorViewer needs conditional displays of the following:

 - [x] 2. Selecting from X to X - only show if a subsequence has been selected.

 - [x] 3. Inserting between X and X - do not show - read only mode makes this irrelevant.

[2017-11-07 14:08] njhillson commented on #163
Within ICE, the VectorViewer needs conditional displays of the following:

Select Inverse button - only show if a subsequence has been selected.

Selecting from X to X - only show if a subsequence has been selected.

Inserting between X and X - do not show - read only mode makes this irrelevant.

[2017-11-07 14:13] njhillson opened #164 "ICE - VV - plasmid map not showing sequence name"
In ICE - VectorViewer, the sequence name is not showing in the plasmid map

[2017-11-07 14:14] njhillson opened #165 "ICE - VV - no linear/rail view option"
In ICE - VV, for linear sequences, I should be seeing the linear/rail view instead of the plasmid map. The circular/linear distinction should be determined by ICE.

[2017-11-07 14:16] njhillson opened #166 "ICE - VV styling should match VectorEditor FLEX"
The CSS and other styling e.g. fonts should match as closely as possible the FLEX version of VectorEditor. The current tool does not look like what the JBEI tool is supposed to look like.

[2017-11-07 14:19] njhillson opened #167 "ICE - VV - cut sites options insufficient"
The cut sites should support all of REBASE, and the selection menu needs to be improved. Please use existing VectorEditor and even Sarah Lafrance's VEjs for better versions.

[2017-11-07 14:20] njhillson opened #168 "ICE - VV - single cutters labels should be in red"
For restriction enzyme label display, single cutters should be shown in red.

[2017-11-07 14:21] njhillson opened #169 "ICE - VV - show features button icon poor choice"
Instead of a ribbon, the features button icon should look more like a recognizable shape, like a coding sequence pentagon (the way that the feature arcs are rendered in the plasmid map, for example).

[2017-11-07 14:23] njhillson opened #170 "remove feature tool dropdown"
Why do I have the feature visibility drop down, when I already have a visibility drop down for all visibility choices? Seems redundant and clutters up top button bar. Suggest remove feature visibility drop down.

[2017-11-07 14:24] njhillson opened #171 "ICE - VV - get rid of show/hide primers button."
This is non standard and non-necessary for ICE - VV

[2017-11-07 14:26] njhillson opened #172 "ICE - VV replace ORF toggle button icon"
The ORF toggle button icon is a poor choice. A circle confuses the user, as this is the icon for an origin of replication or circular view. The icon for the ORF should look more like a single arrow, or some other sensible choice, to match the arcs rendered for ORFs.

[2017-11-07 14:28] njhillson opened #173 "ICE - VV - rescale display size according to real estate available?"
Is it possible to rescale the VV size according to the real estate available? It is annoying not to have the full vertical length of the VV tool visible at once. I currently have to scroll up and down to see either the top tool button bar or the bottom status bar.

[2017-11-07 14:33] njhillson opened #174 "ICE - VV - search for DNA sequence - find not scrolling to correct place"
In ICE - VV, if I search for a DNA sequence e.g/ "ggtctc", it should scroll in the sequence panel so that the first found match is shown, ideally in the middle of the sequence panel view. Currently, the sequence panel is not rotating to the correct place. If I click to see the next match, the sequence panel should again move so that I can see it.

[2017-11-07 14:34] njhillson opened #175 "ICE - VV - clicking on sequence search match highlighted region should select that region"
Sequence search is working, and it highlights the found region with a redish background. However, I can not click to select the highlighted redish region in the sequence panel.

[2017-11-07 14:37] njhillson opened #176 "ICE - VV can not click to select forward direction feature shape in sequence panel"
If I try to click select a feature shape in the sequence panel for forward direction features, nothing happens. Reverse direction features seem to work okay, and forward direction features in the plasmid map panel seem fine too. This seems to be a focus issue, possibly, and it doesn't always seem to be happening. I can reproduce pretty consistently, for example, by toggling on the search for seque

[2017-11-07 14:40] njhillson opened #177 "ICE - VV sequence panel autoscrolls back to selection region"
This is extremely annoying. If I select a sequence region, and then scroll around in the sequence panel, the panel will auto scroll away from where I want to see and take me back to the selected region. This autoscroll activity should only occur, for example, after I click on a feature in the plasmid map view, or if I click to advance through sequence matches. The sequence panel should not be stic

[2017-11-07 14:45] njhillson opened #178 "ICE - VV visibility display option issues"
Several issues here. Feel free to break into separate tickets.

 - [x] Cutsite labels - does nothing. Only cutsite view seems to do anything.

 - [x] Parts labels - remove, irrelevant currently.

 - [x] Parts - remove, irrelevant currently.

 - [x] Axis numbers - if I toggle this it crashes the app. I can see how this could be useful though.

[2017-11-07 14:47] njhillson opened #179 "ICE - VV - can't adjust verticle segmentation lines"
If I have the plasmid map and sequence panel both shown, I can't seem to adjust the verical line that separates them to make one larger or smaller. Same goes for properties panel.

[2017-11-07 14:48] njhillson opened #180 "ICE - VV - remove primers from properties window"
Primers table within properties window is irrelevant. Do not display.

[2017-11-07 14:49] njhillson commented on #149
I am only testing the read-only view for ICE VectorViewer right now. Will not test this until I progress to the full VectorEditor.

[2017-11-07 14:50] njhillson commented on #159
This is not working for me in ICE - VV. Failing.

[2017-11-07 14:50] njhillson commented on #179
This is the same as ticket #159

[2017-11-07 14:53] njhillson commented on #158
Scrolling looks good in general in ICE - VV. At least for a smallish plasmid. I will be sending @tnrich a genome sized sequence to play around with. This is in ticket XXX. See also other tickets XXX and XXX regarding not scrolling correctly during sequence search and an annoying autoscroll back to selection issue.

[2017-11-07 14:55] njhillson commented on #145
Here is a link to an E. coli genome: https://www.ncbi.nlm.nih.gov/nuccore/NC_000913.3?report=genbank

[2017-11-07 15:02] njhillson commented on #153
This looks fine. The tool tip is now above the dropdown.

[2017-11-07 15:05] njhillson commented on #151
Seems to be working well

[2017-11-07 15:08] njhillson commented on #152
Seems ok without features on at all. Note that if I have features on but feature labels off, the circle is still just as big! Failing for that condition.

[2017-11-07 15:09] njhillson commented on #155
I think this is looking good now.

[2017-11-07 15:09] njhillson commented on #157
I am only testing the read-only view for ICE VectorViewer right now. Will not test this until I progress to the full VectorEditor.

[2017-11-07 15:57] njhillson opened #181 "ICE - VV critical - copy/paste object off by one sequence selection interval"
In ICE VV, if I select a sequence, and copy it to clipboard, and then paste into DeviceEditorjs in DIVA, the selection bp numbering pasted in to DeviceEditorjs is off by one. E.g. instead of the interval 289 to 1098, the interval rendered in DeviceEditor is 288 to 1097. This is a critical issue.

[2017-11-07 18:55] tnrich commented on #152
Can we pass this and create a new ticket for the issue you're seeing @njhillson ?

[2017-11-07 19:01] njhillson commented on #152
Please do

Sent from my iPhone

[2017-11-07 19:04] tnrich commented on #152
Okay I'll create a new ticket and pass this one (unless I'm misunderstanding what you want)

[2017-11-07 19:04] tnrich opened #182 "Yellow circle gets too big when features are on but labels are off"

[2017-11-07 19:06] njhillson commented on #152
Yes. Please do. I am on plane now and can’t do it myself. Please move to ready for qa2 for Ximena.

Sent from my iPhone

[2017-11-08 17:22] tnrich commented on #173
I could add an option to make the height of the tool fit exactly the height of the browser window. When embedded in ICE you would still have to scroll down to fit it all in, but once you where in that position, it would be taking up the entire screen. Is that what you want @njhillson?

[2017-11-08 17:31] tnrich commented on #163
Hey @njhillson  I'm not sure I agree with #1 and #2 100%. Here's my thinking:

#1:
- It seems like users might want to select the inverse when there is only a caret down (no selection)

#2:
- It is nice to know that nothing is being selected
- it is a lot of text to have jumping in and out of the toolbar as you click and drag around the editor.

I went ahead and implemented #3 :)

[2017-11-08 22:15] XimeMora commented on #152
Looks good!

[2017-11-08 22:24] XimeMora commented on #155
This is working fine.

[2017-11-08 22:48] XimeMora commented on #151
Looks good.

[2017-11-08 23:01] XimeMora commented on #158
Looks good.

[2017-11-08 23:05] XimeMora commented on #153
Looks good!

[2017-11-08 23:42] njhillson commented on #163
I can see benefit of select inverse without selection, so I guess I am okay with that (#1), although it still seems a bit weird to be, but I guess it still is the inverse. Regarding #2, if concern is having text jump in and out, maybe just have text like "Nothing selected" etc. I wouldn't mind text jumping in our out, so I would still prefer it to be conditional.

[2017-11-08 23:59] njhillson commented on #173
@tnrich, in ICE context, browser window height is not the right length, since ICE has a header and footer margin. I think it would need to be specifically the real estate it actually has to use in the ICE context.

[2017-11-09 00:00] njhillson commented on #144
I will not test until we are working on full VectorEditor. Not relevant in VectorViewer context.

[2017-11-09 00:00] njhillson commented on #140
Will not test until start working on full VectorEditor edition.

[2017-11-09 00:03] njhillson commented on #143
In ICE VV, properties view generally looks ok. I will create another ticket XXX for an issue I see wherein the app crashes if I try to search.

[2017-11-09 00:05] njhillson opened #183 "ICE - VV property view search crashes app"
In ICE VV, if I open the properties window, and search for anything (in any of the sub panel/table views), it crashes the app.

[2017-11-09 20:05] tnrich commented on #177
@njhillson  can you see if you can still reproduce this one?

[2017-11-09 20:12] njhillson commented on #177
this is looking so much better now. I don't see any autoscroll issue now.

[2017-11-09 20:14] njhillson commented on #183
looks better now.

[2017-11-09 20:14] njhillson commented on #180
primers no longer showing.

[2017-11-09 20:15] njhillson commented on #176
This seems to be much better now.

[2017-11-09 20:16] njhillson commented on #179
Working great now.

[2017-11-09 20:25] njhillson commented on #142
Jump to highlight not scrolling correctly, but that is covered in ticket XXX.

[2017-11-09 20:26] njhillson opened #184 "ICE VV - search ambiguous '*' char crashes app"
If I do a DNA or protein ambiguous search, and use the '*' character, it crashes the app.

[2017-11-09 20:27] njhillson commented on #159
This is working now. Duplicate of ticket #179.

[2017-11-09 21:07] tnrich opened #185 "Make option to toggle axis on and off optionally displayed"

[2017-11-10 00:03] XimeMora commented on #181
@njhillson or @tnrich can you please help me with the steps for testing this? what I don't know how to do is to select a sequence and copy it to the clipboard (I don't see a button or an option to do that in ICE VV). Also I'm not familiar with the DeviceEditorjs in DIVA.

[2017-11-10 01:43] njhillson commented on #181
@XimeMora you can test as follows. (Note: you may need to be VPN'd in to LBNL to get access to the DIVA server). Select a sub-sequence in ICE VV - on https://registry-test2.jbei.org . Copy the sub-sequence. Go to DEjs in DIVA - on https://registry-test1.jbei.org. Open any design (or create a new one) for which you have edit privileges. Open the design in DeviceEditor. Right click any empty part lo

[2017-11-10 01:49] njhillson opened #186 "ICE - VV selection numbering has larger number followed by smaller number"
In ICE VV, if I select a subsequence that does not wrap around the origin, I get something that looks like "Selecting 810 bps from 1098 to 289". Note that the higher number is first. It should be the other way around. Conversely, if I select a subsequence that wraps around the origin, I get something that looks like "Selecting 295 bps from 189 to 2499". Note that the lower number is first. It shou

[2017-11-10 01:54] njhillson commented on #171
@tnrich - should this be in ready for qa? Does it require Hector to change the config on the ICE side to not display it? I am still seeing it right now in ICE - VV.

[2017-11-10 01:56] njhillson commented on #178
Looking much better now.

[2017-11-10 02:03] njhillson commented on #174
In general, this is working much better, so I am going to pass. I am creating a new ticket #187 to cover issue where the search paging is first going through top strand matches and then going through bottom strand matches.

[2017-11-10 02:10] tnrich commented on #171
Oh, I thought that Hector had updated the config but I guess he hasn't yet.
Please move it back if it isn't ready. Sorry about that!

On Thu, Nov 9, 2017 at 5:54 PM njhillson <notifications@github.com> wrote:

[2017-11-10 02:15] njhillson opened #187 "ICE - VV sequence search paging order does top strand then bottom strand locations"
When paging through sequence search locations, it would be nice to progress through them from the first bp to the last bp, on both strands. Currently, it goes first bp to last bp on the top strand, and then last bp to first bp on the bottom strand.

[2017-11-10 02:17] njhillson commented on #171
Hector just updated the config. Looks good now.

[2017-11-10 02:18] njhillson commented on #163
This looks good now. Note new ticket #186 concerning ordering of selection numbering.

[2017-11-10 02:23] njhillson commented on #184
not crashing the app anymore. Will create a new ticket #188 for '*' in ambiguous DNA search - not sure what it is doing...

[2017-11-10 02:25] njhillson opened #188 "ICE - VV DNA sequence search ambiguous '*' character behavior"
I am not sure what the app is doing when I use the '*' character in an ambiguous DNA sequence search. Is it messing with a regex?

[2017-11-10 02:27] njhillson commented on #162
Failing. I am not seeing any translations when doing the amino acid matches. I don't see any relevant visibility options for this... I can only see those translations in ORF regions if I have ORF translations visible - but the search translations should be for any regions, not just within ORFs, and not only if ORF translations are visible.

[2017-11-10 02:31] tnrich commented on #162
Hey Nathan, sorry I jumped the gun a little bit. The publishing process
takes about 5-10 minutes for changes to propagate and I moved the card over
before that has happened I take it.

On Thu, Nov 9, 2017 at 6:27 PM njhillson <notifications@github.com> wrote:

[2017-11-10 02:32] tnrich commented on #186
Whoops! Nice catch!

[2017-11-10 03:28] njhillson commented on #162
This is looking good now.

[2017-11-17 18:29] tnrich opened #189 "add hotkeys for common actions"
List of hotkeys to make:
- [x] Create new digest

[2017-11-18 00:16] njhillson commented on #165
When I turn on the linear rail view in addition to the plasmid or sequence view, the bottom information (read only, selection, select inverse, length) seems to be flowing off the bottom of the page. When I don't have linear rail view on, or when only linear rail view is on, it seems to look ok. Failing.

[2017-11-18 00:17] njhillson commented on #186
Looks good now.

[2017-11-28 05:52] XimeMora commented on #181
The 4 things to check described by Nathan are working correctly!

[2017-11-28 06:11] XimeMora commented on #143
Properties View looks good, bugs that I found will be addressed in a new ticket.

[2017-11-28 06:23] XimeMora commented on #177
Scrolling is working fine.

[2017-11-28 06:26] XimeMora commented on #183
Searching is working fine.

[2017-11-28 06:29] XimeMora commented on #180
Looks good.

[2017-11-28 06:33] XimeMora commented on #179
Looks good!

[2017-11-28 06:39] #179 closed

[2017-11-28 06:40] XimeMora commented on #159
Looks good!!!

[2017-11-28 06:54] XimeMora commented on #178
These issues are now fixed.

[2017-11-28 07:07] XimeMora commented on #171
Show/hide primers button is no longer there.

[2017-11-28 22:16] XimeMora commented on #186
Looks good!

[2017-11-28 22:57] XimeMora commented on #162
This is working fine.

[2017-11-28 23:11] XimeMora commented on #163
This is working nicely.

[2017-11-28 23:19] XimeMora commented on #184
App is not crashing.

[2017-11-28 23:31] XimeMora commented on #174
Looks good.

[2017-11-29 01:06] XimeMora commented on #142
@njhillson or @tnrich can you please explain to me how ambiguous dna and amino acid search should work?

[2017-11-29 01:19] XimeMora commented on #176
This is working fine.

[2017-11-29 19:07] njhillson commented on #142
There are ambiguous codes for protein and DNA. See for example:
http://www.dnabaser.com/articles/IUPAC%20ambiguity%20codes.html

for DNA, search for things including the character 'N' which should match
any base, or 'R' that should match A or G (for example).

for protein, search for things including the character 'X' which should
match any amino acid, or 'B' that should match D or N (for example)

[2017-11-30 05:28] XimeMora commented on #142
All the items listed above for Find/Search tool are working correctly.

[2017-11-30 23:54] tnrich opened #190 "create feature window always initializing with start/end = 1"
They should initialize to your highlight layer if one exists

[2017-12-04 22:15] tnrich opened #191 "remove little blue outlines that aren't useful"

[2017-12-04 23:34] XimeMora opened #192 "ICE - VV: Selecting "Toggle Linear View" is causing a buggy behavior with the scrolling"
To reproduce I uploaded a sequence from the TeselaGen main app "pj5_00001.gb" then I clicked Show View Options > Toggle Linear View and scroll down the page:

![buggy linear view](https://user-images.githubusercontent.com/21211903/33581731-a3407428-d917-11e7-8661-e9939a4936c7.gif)

Also when opening and closing the Properties the bar at the bottom disappears, it seems to go further down but even w

[2017-12-12 17:07] njhillson opened #193 "ICE - VV translate selection incompatible view with ORF translations"
If I select a sub-sequence and right click to translate, I see the translation. However, if I then turn on view ORF translations, the selection translation view goes away. If I turn off the ORF translation view, the selection translation view re-appears. Both should be visible at the same time.

[2017-12-12 17:08] njhillson opened #194 "ICE - VV ORF prediction start codon"
The ORF prediction algorithm likely currently assumes that all start codons are "ATG". However, "GTG" and "CTG" start codons are also possible. It would be nice to have a toggle for ORF predictions (in same UI drop down as minimum ORF length) that enables GTG and CTG start codons.

[2017-12-12 17:10] njhillson opened #195 "ICE - VV view all 6-frame translations"
A JBEI user has requested the ability to turn on 6-frame translations for the full sequence (not just sub-sequence or ORF translation). This is currently a feature in most Vector Viewer/Editor software including the FLEX version of VE.

[2017-12-12 17:11] njhillson opened #196 "ICE - VV properties features table missing strand information"
The properties features table is missing strand information.

[2017-12-12 17:13] njhillson opened #197 "ICE - VV sequence search using edit-distance mismatch search"
A JBEI user requested a feature enhancement to sequence search, in which mismatches (e.g. substitutions, insertions, deletions) are allowed. One way of specifying the number and types of mismatches may be specified by an "edit-distance" threshold. Nathan and Ernst will put together a spec for how an edit-distance should be specified by the user, and how this spec would impact the search results.

[2017-12-12 17:16] njhillson opened #198 "ICE - VV properties translations table issues"
In the properties translations table, there are multiple issues. These include:
ORF translations not shown.
Size is in DNA bp rather than protein aa.
Strand is not shown.
Name and type fields empty and not clear how these would be derived.

[2017-12-12 17:23] njhillson commented on #144
Several issues.
I do not see any visual feedback to the user that the sequence has been saved.
I can save feature changes, but sequence changes are not saved (not sure if VE or ICE issue - Hector looking in to this).

[2017-12-12 17:26] njhillson commented on #140
Delete works, but only with the backspace key. Does not seem to work with delete key.

[2017-12-12 17:26] njhillson commented on #157
In the context of ICE< there is no import button. Will not test. @XimeMora you can test outside of ICE context.

[2017-12-12 17:29] njhillson opened #199 "ICE - VE edit can not paste annotated sequence"
If I attempt to paste in a copied sequence, I lose all the annotations. I should be able to copy and paste and retain the features. There may be some discussion around retaining partial features or not, and I am okay pasting in partial features by default, or at least this should be allowable through some type of a properties setting.

[2017-12-12 17:31] njhillson opened #200 "ICE - VE can only delete feature through properties features table"
I should be able to right click a feature to delete it, or delete should be available from the edit feature modal. Currently, I can only delete a feature through the properties features table.

[2017-12-12 17:32] njhillson opened #201 "ICE - VE create feature ignores selection start and stop"
If I highlight a sub-sequence and right click to create a feature, the modal ignores the selection start and stop and instead defaults to start of 1 and stop of 1. It should default instead to the start and stop of the selection.

[2017-12-12 17:36] njhillson opened #202 "ICE - VV copy revese complement copies forward strand"
If I highlight a sub-sequence and right click to copy reverse complement, the reverse complement is not actually copied. Instead, the forward strand is copied. This is misleading and may lead to errors.

[2017-12-17 04:53] tnrich commented on #202
@njhillson interesting this one appears to be caused by the "hooks" I added to allow jbei to manipulate the clipboard's json data. Should be fixable. Nice catch!

[2017-12-17 05:16] tnrich commented on #202
Publishing now. The fix should be live in 10 minutes or so

[2017-12-17 05:28] tnrich commented on #200
publishing now, should be ready in 10 minutes

[2017-12-17 05:28] tnrich commented on #201
publishing now, should be ready in 10 minutes

[2017-12-17 05:40] tnrich commented on #198
@njhillson should the orf translations show up here? There is already a dedicated Orf panel:

![image](https://user-images.githubusercontent.com/2730609/34076940-e8f4b314-e298-11e7-9864-ff4718a6d6b7.png)

[2017-12-17 06:16] tnrich commented on #196
This one might be fixed after my recent publish. It could be a data formatting issue going from jbei -> openVe

[2017-12-19 00:18] njhillson commented on #165
This issue is still happening to be. @tnrich please get together when possible with @XimeMora to be able to figure out a way for you to reproduce...

[2017-12-19 00:21] njhillson commented on #202
This is still not working  for me.

[2017-12-19 00:22] tnrich commented on #202
Looks like Hector pinned registryTest2 to a specific version of openVE again.
Please don't QA until that gets fixed.

On Mon, Dec 18, 2017 at 2:21 PM njhillson <notifications@github.com> wrote:

[2017-12-19 00:31] tnrich commented on #188
This will now not return any search results

[2017-12-19 00:32] tnrich commented on #144
@hplahar I think it might be appropriate on your end to trigger a little toaster message alerting the user that the save we successful.

[2017-12-19 00:38] njhillson commented on #202
This is working now. See, however ticket #199 regarding not being able to paste features.

[2017-12-19 00:51] njhillson commented on #188
Something funky is still happening for DNA ambiguous. Try "tgg*c". I receive hits for things like "tggca" and "tggcc".

[2017-12-19 00:52] njhillson commented on #201
looks better now.

[2017-12-19 00:54] tnrich commented on #188
Hmm good catch. That is strange I thought * was just getting stripped completely. That's the desired functionality right, to just ignore random characters like "*"

[2017-12-19 00:55] njhillson commented on #200
looks good now. Can right click a feature to delete it. Note I can only do this from the sequence panel  or rail view. Right clicking on a feature or feature label in plasmid map doesn't do anything for me because seems to default to browser context menu instead of VE specific one. I will create a ticket for that.

[2017-12-19 00:57] njhillson commented on #188
Well, for DNA ambiguous, * is not valid, so correct behavior to tell user that * is not supported for DNA ambiguous, or just have no matches. For protein * is a stop codon literal match, so it is a bit different there...

[2017-12-19 01:00] njhillson opened #203 "ICE - VE plasmid map view right-click context menu not working for features or feature labels"
If I right click on a feature or a feature label in the circular view, I get the browser default right click context menu. I would like to see a VE specific right click context menu so that I can for example delete or edit a feature.

[2017-12-19 01:07] njhillson commented on #198
The ORFs table doesn't have the size in AAs. But good point I suppose. I am going to pass this ticket because it is improved, but I will create new tickets #204 and #205 to cover ORFs table not showing size in AAs, and for new/edit buttons which don't seem to do anything.

[2017-12-19 01:09] njhillson opened #204 "ICE - VE Properties -> ORFs table doesn't show size in AA"
In ORFs table, it would be nice to show the size/length in AAs too...

[2017-12-19 01:09] njhillson opened #205 "ICE - VE Properties -> Translations table New/Edit buttons useless/confusing"
Suggest removing New/Edit buttons in translations table since they do nothing and are confusing.

[2017-12-19 01:11] njhillson commented on #196
This looks better now.

[2017-12-19 01:12] njhillson commented on #193
Looking better now.

[2017-12-20 22:18] njhillson commented on #175
I just heard from a JBEI user that this is also causing an issue for him. Going to set priority to high.

[2017-12-20 22:26] njhillson opened #208 "ICE - VE bad autoscroll to search hit region when an addtional feature selected"
Reported by a JBEI user and related to ticket #177 possibly. To reproduce, open a sequence with a sequence feature. In the view, activate both the plasmid map and the sequence panel. Downstream of a sequence feature, select a sub-sequence (long enough for it to be unique within the sequence - 20 bp should be fine) and then right-click copy it. Open the search tool, and paste the sequence to search

[2017-12-20 23:31] tnrich commented on #187
This should be fixed although it seems like the jumping/numbering of stuff might be slightly off..

[2017-12-20 23:33] tnrich commented on #195
this is now available via a right click on the background of any view

[2017-12-20 23:34] tnrich commented on #205
removed these buttons

[2017-12-21 01:05] tnrich commented on #208
good catch. This was caused by some sloppy copy pasting.

[2017-12-21 18:06] tnrich commented on #165
Let's pass this because the buggy-ness of the linear view is addressed by #192

[2017-12-21 18:14] njhillson commented on #165
Going to pass this, given ticket #192 but note that @hplahar still needs to set default view to linear for linear sequences in ICE.

[2017-12-21 18:15] njhillson commented on #175
This is working now.

[2017-12-21 18:19] njhillson commented on #164
This is better now but failing because only shows up in the full VectorEditor and not in the VectorViewer. Is this a flag/config that @hplahar needs to send to VectorViewer? Not sure why the difference between VV and VE.

[2017-12-21 18:20] njhillson commented on #208
This looks better now

[2017-12-21 18:22] njhillson commented on #187
This looks better now.

[2017-12-21 18:24] njhillson commented on #205
The new/edit buttons are gone

[2017-12-21 18:24] njhillson commented on #203
Looks good now

[2017-12-21 18:25] njhillson commented on #195
Great!

[2017-12-21 23:17] #185 closed

[2017-12-21 23:57] njhillson commented on #164
@hplahar said that this was on his side, so I am going to pass this

[2017-12-21 23:58] njhillson commented on #204
This looks good now.

[2017-12-22 17:11] #190 closed

[2017-12-28 20:42] gmcarthuriv opened #209 "Find/Search location - top of page"
The find/search bar is used often enough to be placed at the top of the page, where it can be accessed quickly and efficiently.

[2017-12-28 20:46] gmcarthuriv opened #210 "Feature properties > color assignment"
Request:
The ability to assign colors to GenBank features

[2018-01-08 21:03] tnrich commented on #209
Hey George, here is what the search bar for openVE looks like right now:
![image](https://user-images.githubusercontent.com/2730609/34692241-55cc98e8-f474-11e7-81cc-197fd61cf5ac.png)

Did you want the search bar moved to the top right or left?

[2018-01-09 05:48] gmcarthuriv commented on #209
@tnrich, I would say probably best in the top left, either 1) within the map panel (still below the tool bar) or 2) above the map panel (and part of the tool bar).

[2018-01-09 15:43] tnrich commented on #209
@gmcarthuriv sounds good I'll try those locations out

[2018-01-10 01:49] tnrich commented on #199
Hey @hplahar I am getting close to having a fix for this one but in order for you to be able to paste from jbei DE into the openVE and vice versa you'll need to do some coercion on your end. Here is what that should look like:

[code]

Please let me know if you have any questions. You should be able to plug this in now and I'll let you know when the code has been pushed on my side so it will actua

[2018-01-10 15:09] tnrich commented on #209
Here's what it looks like on the top left below the tool bar:

![image](https://user-images.githubusercontent.com/2730609/34779488-34b1e4f8-f5d5-11e7-8822-fcef6dfe483c.png)

Thoughts?

[2018-01-10 15:11] tnrich commented on #156
Closing in favor of #199

[2018-01-10 15:11] #156 closed

[2018-01-10 18:45] gmcarthuriv commented on #209
Very nice, IMO.

[2018-01-10 19:58] njhillson commented on #199
Hi Thomas. I think that I reported this issue in the context of copy/pasting within VE itself. I don't think we were thinking about copying from DE into VE. Copying from VE to DE (mapping a part) was already capturing the features.

[2018-01-10 20:21] tnrich commented on #199
@njhillson I think regardless of that we'll still want to rely on the same clipboard "application/json" api as is used for copying in which case we'll be using the jbei sequence format being stored in the clipboard. So the above code should still apply.

This will allow you to paste in annotated sequence from DE -> VE in the future if you ever want to or from some other location into VE.

[2018-01-11 18:03] tnrich opened #211 "Improve view options"
I think the current view options is close to being nice, but it is an awkward experience using that little view dropdown. I think a smoother experience would be to give each view tab a "title" and allow them to be dragged around.

This could also be a nice way to display additional tools, like a digest result or a sequence alignment or a crispr scoring list.

I went ahead and made a first pass of

[2018-01-11 18:54] tnrich commented on #161
We should also keep an eye towards making the digest visualization modular enough to be re-used in other places in the app.

[2018-01-11 18:56] njhillson commented on #211
Hi Thomas, I agree that there could be a better way of doing it. Your mock
up doesn't seem so intuitive to me, though. Particularly, I wouldn't think
to click to drag one of the options, or how to create the new panel or
remove an existing panel by dragging to a new area or dragging it back to
an existing panel. Nathan

On Thu, Jan 11, 2018 at 10:11 AM, Thomas Rich <notifications@github.com>
wrote

[2018-01-11 20:02] tnrich commented on #211
Hmm I think that with a couple minor tweaks we can make it an intuitive experience.

[2018-01-11 20:03] njhillson commented on #211
Ok, happy to look.

On Thu, Jan 11, 2018 at 12:02 PM, Thomas Rich <notifications@github.com>
wrote:

[2018-01-18 02:02] tnrich opened #212 "Add obvious toggle to not show ORF translations"
should be in ORF dropdown and on ORF right click or ORF translation right click

[2018-01-18 02:05] tnrich opened #213 "Add option to have plasmid map ring be colored black"

[2018-01-18 02:07] tnrich opened #214 "Add option to make tab full screen or to split/collapse tabs"

[2018-01-19 22:00] tnrich commented on #210
@gmcarthuriv do you have a preference for what color palette to make accessible? Should any color be available?

cc @mfero @njhillson

[2018-01-19 22:11] njhillson commented on #210
Hi @tnrich there is a standard/branded palette for JBEI. I imagine each
company may want their own custom palette. However, I imagine for any given
instance (company) having a consistent palette/coloring scheme for a given
feature type would be a good idea. Multiple allowed colors for the same
feature type could be confusing...

On Fri, Jan 19, 2018 at 2:00 PM, Thomas Rich <notifications@github.co

[2018-01-19 22:18] tnrich commented on #210
@njhillson I definitely agree that having a standard color for each feature type is desirable but it sounds to me like @gmcarthuriv wants to be able to sometimes change a given feature's color to a color different than it's default type-based color. Correct me if I'm wrong @gmcarthuriv

[2018-01-20 00:30] njhillson commented on #210
Ok, would be good for @gmcarthuriv <https://github.com/gmcarthuriv> to
specify if this is, for example, just a request for an Arzeda-standard
color palette that is distinct from TeselaGen default (but that normal
users can't change), or if he wants any one (pending user role I suppose)
to be able to chose a custom color for any particular feature within the
Arzeda instance.

On Fri, Jan 19, 2018 a

[2018-01-21 07:09] tnrich opened #215 "Add a general properties tab"
Adding a general properties tab where users can edit the sequence name, if it's linear/circular, if it is read-only or not, and see its length:

![image](https://user-images.githubusercontent.com/2730609/35191720-0a4ecaae-fe37-11e7-8a5e-5a26dfc05054.png)

[2018-01-21 07:11] tnrich opened #216 "Add number of cuts to cutsite filter"
I think it is nice to know how many times a given enzyme will be cutting in the sequence:

![image](https://user-images.githubusercontent.com/2730609/35191730-532104ae-fe37-11e7-8483-5cffa32a9d36.png)

[2018-01-22 23:34] gmcarthuriv commented on #210
@tnrich, @njhillson,

Apologies for the delay. My thoughts:

- "Multiple colors for the same feature type could be confusing..." For common features such as CDSs, yes. However, it would be really handy to be able to color different misc_feature labels with different colors. That is, there are often a myriad of misc_feature labels (as shown in the example below). Color could be a nice parameter to

[2018-01-23 18:33] tnrich commented on #210
Hey @gmcarthuriv I think what you're saying makes sense.

You're also totally right about many of the features defaulting to grey. I will set better defaults for those.

Maybe as a first step I'll make a color picker that lets you choose any color for any feature, and then as a second step allow you to change the default color for given feature types.

@njhillson the color picker will not be enabl

[2018-01-23 18:42] njhillson commented on #210
misc_feature subtypes (extending GenBank) sounds fine to me. Upon export
reverting to misc_feature seems sensible.

better standard colors would be good (enabling admin to set these).

I would suggest keeping this an admin feature, to set the color for each
feature type for the whole instance. However, if @gmcarthuriv / Arzeda
wants each user to be able to independently to do this, one question wo

[2018-01-24 17:03] tnrich opened #217 "tooltip on virtual digest hover"
onHover/click of virtual digest show cutter names as tooltip

[2018-01-24 17:05] tnrich opened #218 "hide digest save functionality"
Currently the digest tool has a save button that doesn't really do anything yet but will in the future.
We need to hide the digest save functionality unless provided a hook.

[2018-01-25 00:41] njhillson commented on #218
I don't see a save button right now, so this is fine.

[2018-01-25 00:42] njhillson opened #219 "ICE - VE collapse icon rendering issue"
The collapse icon is rendering in a weird way. Going to attach a screen shot.

[2018-01-25 00:42] njhillson commented on #219
![screen shot 2018-01-24 at 4 40 28 pm](https://user-images.githubusercontent.com/4064717/35364729-9370b1b2-0125-11e8-9416-59439e8e1b32.png)

[2018-01-25 00:45] njhillson commented on #215
This appears to be disabled in the ICE context. Going to fail. @tnrich please comment if this is expected and I will just leave in Ready for QA.

[2018-01-25 00:45] njhillson commented on #216
Looks good.

[2018-01-25 00:52] njhillson commented on #199
I can't test this effectively right now due to blocking ticket #220 that I am about to create. Seems like a ICE context isseu.

[2018-01-25 00:58] njhillson opened #220 "ICE - VE can not paste sequence"
I think that this is likely an ICE context issue. To reproduce open the full VE from an ICE entry page. Open a sequence panel view. Click to select a feature. Right click selection to copy selection. [Aside - and related to this context issue I think - the right click context menu never goes away...] I get a toaster message that the selection was copied - great! However, if I click to select an in

[2018-01-25 01:00] njhillson commented on #214
This looks good. Note icon ticket #219

[2018-01-25 01:03] njhillson commented on #209
Failing. This doesn't work in the ICE - VV context (in the ICE page itself) - it isn't visible at all. And in full ICE - VE context the search tool bar location is too high up and too far to the right.

[2018-01-25 01:06] njhillson commented on #211
Now that I know how this works, I like it quite a bit. Perhaps not entirely intuitive, but having the hover over cursor change to a move icon, and indicating where to drag it to add a new tab is nice. Right click to open in split screen also works.

[2018-01-25 01:09] njhillson commented on #212
this looks good.

[2018-01-25 01:10] tnrich commented on #219
Hmm yeah something is up with the blueprint <Icon> component that I'll need to look into. It looks good for me locally.

[2018-01-25 01:10] njhillson commented on #194
Seems to be working well.

[2018-01-25 01:11] njhillson commented on #160
Looks good to me.

[2018-01-25 01:11] njhillson commented on #192
I am no longer seeing this issue.

[2018-01-26 04:01] tnrich commented on #215
This will need to be hector implemented: https://github.com/TeselaGen/openVectorEditor/blob/master/UPGRADE_INSTRUCTIONS.md#v111

[2018-01-26 04:08] tnrich commented on #209
hmm nice catch @njhillson I thought I had set the z-index to a high value but that work must not have gotten saved. It should work as expected now.

[2018-01-26 20:40] hplahar commented on #215
Added to registry-test2

[2018-01-26 21:21] njhillson commented on #215
The properties tab has been added. I will create another ticket regarding default tab on load issue.

[2018-01-26 21:25] njhillson commented on #209
Failing this one. Please test in the ICE context both VV and VE before putting back to ready for QA. In VV, I can now see the search bar, but it is at the top right of the whole ICE entry page, and is no longer rendered within the space allocated for VV. In VE, the placement is too high and too far to the right in the modal. It is obscuring the close button at top right.

[2018-01-26 21:27] njhillson commented on #217
looks good

[2018-01-26 21:53] njhillson opened #221 "Enable possibility to set initial tab view"
Currently, it appears that the properties tab is viewed by default. This is probably the least interesting and useful tab. It would be good to enable a parameter that can configure the initial tab view (e.g. circular or linear) upon app launch. Setting to high priority/bug, because opening in properties tab mode just seems wrong.

[2018-01-26 23:20] tnrich commented on #209
Hey @njhillson I am thinking that especially for ICE, it might make sense to have the Find Tool rendered inline:

![image](https://user-images.githubusercontent.com/2730609/35464691-3145c328-02ac-11e8-9800-69f56ff06d56.png)

![image](https://user-images.githubusercontent.com/2730609/35464709-5707a504-02ac-11e8-8b76-08f1d0c9a50f.png)

The options would need to be in a popover in this case to save s

[2018-01-26 23:24] njhillson commented on #209
I like the inline just fine and that would address both VV and VE contexts in ICE.

[2018-01-26 23:24] tnrich opened #222 "find tool adding duplicates"
It appears there are always 2 results for the same stretch of sequence

[2018-01-28 00:16] gmcarthuriv commented on #209
It looks excellent and is within easy reach (so to speak) - very nice.

[2018-01-30 05:49] tnrich commented on #221
@hplahar should be able to configure this already :)

Just choose which tabs you want to see and their ordering and active status:

https://github.com/TeselaGen/openVectorEditor#universal-usage

[code]

[2018-01-30 20:54] gmcarthuriv commented on #210
I agree; it would be best to implement this across the entire company (i.e., an admin determines the color scheme and is locked to all other users).

[2018-01-30 21:02] gmcarthuriv opened #223 "Highlight corresponding codon(s) when AA(s) is/are selected"

[2018-01-30 21:12] gmcarthuriv opened #224 "Add amino acid indexing/numbering"
Being able to quickly find a position/residue is helpful. An easy way to do this is to number the amino acids. I've included a screenshot from Benchling as an example.

![image](https://user-images.githubusercontent.com/17152701/35591505-0dd33d38-05bf-11e8-8c05-a7604d676fc7.png)

[2018-01-30 21:15] gmcarthuriv commented on #224
Could be shown when hovered over

[2018-02-01 17:45] hplahar opened #225 "Rotate to here"
Implement the "Rotate to here" feature from the flash based version of Vector Editor which allows selection of a base pair and rotating it to the origin

[2018-02-01 17:47] hplahar opened #226 "Circular view could be a bit bigger"
Circular view visualization tends to have quite a bit of white space that it could utilize. The feature labels may benefit from being a little smaller

[2018-02-01 17:47] hplahar opened #227 "Shift click to select multiple features"
Enable the ability to shift click to select multiple features (and the base pairs in between). This will expand a selection and not result in multiple independent selections (a la ctrl click)

[2018-02-05 16:45] njhillson commented on #221
This is looking good now

[2018-02-05 20:18] XimeMora commented on #215
The Properties tab > General is not saving the changes: "Circular/Linear" and "Is Editable" selections go back to the previous one after changing tabs and "Name" goes back to the original one after closing and reopening the plasmid.

![ve properties](https://user-images.githubusercontent.com/21211903/35826222-f921e62a-0a6c-11e8-8b32-7f27daa12bf2.gif)

[2018-02-05 20:28] XimeMora commented on #202
This is working fine.

[2018-02-05 20:32] XimeMora commented on #201
Looks good!

[2018-02-05 20:36] XimeMora commented on #200
This looks good.

[2018-02-05 20:56] XimeMora commented on #198
Looks good!

[2018-02-05 21:09] XimeMora commented on #196
Looks good.

[2018-02-05 21:12] XimeMora commented on #193
Looks good.

[2018-02-05 21:32] XimeMora commented on #165
Moving this ticket along but I noticed another issue with the Linear Map view that will be addressed in a new ticket.

[2018-02-05 21:43] XimeMora opened #228 "Linear Map view is showing the sequence map"
For linear sequences the Linear Map is showing the sequence base-pairs, so basically is showing the same information as the Sequence Map, I think the sequence base-pairs shouldn't be displayed in the Linear Map. This is only happening for linear sequences (I imported one from app.teselagen.com)

![sequence map](https://user-images.githubusercontent.com/21211903/35830187-3b340464-0a7a-11e8-82bc-950

[2018-02-05 22:29] tnrich commented on #220
@hplahar this issue is most likely being caused by a null pointer in the code you use to go from jbei json to teselagen json

[2018-02-05 22:31] XimeMora opened #229 "ICE - VE - context menu doesn't go away if you don't select any option"
Context menu doesn't disappear if you don't select any option from that menu. This is happening in all the tabs: Sequence Map, Plasmid and Linear Map.

![context menu](https://user-images.githubusercontent.com/21211903/35832041-a1423aa4-0a80-11e8-9034-51ee28d91a5f.gif)

[2018-02-05 22:43] XimeMora commented on #175
Looks good!

[2018-02-05 22:55] XimeMora commented on #208
The issue is not happening now.

[2018-02-05 23:00] XimeMora commented on #187
Looks good!

[2018-02-05 23:08] XimeMora commented on #205
Buttons removed.

[2018-02-05 23:11] XimeMora commented on #203
Context menu is working fine.

[2018-02-05 23:18] XimeMora commented on #195
Looks good!

[2018-02-05 23:32] XimeMora commented on #204
Looks good!

[2018-02-05 23:43] XimeMora commented on #218
No Save button 👍

[2018-02-05 23:47] XimeMora commented on #216
Looks good!

[2018-02-06 00:33] XimeMora commented on #214
This is working fine, just the icon rendering weird.

[2018-02-06 00:41] XimeMora commented on #211
I agree that this looks much better, although it wasn't very intuitive for me at the beginning.

[2018-02-06 00:54] XimeMora commented on #212
Show/Hide/Toggle ORF translations are working fine.

[2018-02-06 01:02] XimeMora commented on #194
This is working fine.

[2018-02-06 01:10] hplahar commented on #220
This is fixed

[2018-02-06 01:32] XimeMora commented on #160
This is working fine. There is just an issue with right-clicking that will be addressed in a new ticket.

[2018-02-06 01:46] XimeMora opened #230 "ICE - VV -> Right-clicking in the Sequence Map makes the panel do a little jump"
Just by right-clicking in the Sequence map the panel makes a weird jump. If something is selected it makes the selection to lose focus.

![right click jump](https://user-images.githubusercontent.com/21211903/35837517-6a18977e-0a9b-11e8-857c-aed7978f9ba2.gif)

[2018-02-06 01:53] XimeMora commented on #192
This issue is not happening anymore.

[2018-02-06 01:59] XimeMora commented on #217
Looks good!

[2018-02-06 02:05] XimeMora commented on #221
The tab viewed by default is the Plasmid tab, looks good.

[2018-02-06 02:59] tnrich commented on #214
I need to look into why the icons aren't showing up.. strange

On Mon, Feb 5, 2018, 4:33 PM XimeMora <notifications@github.com> wrote:

[2018-02-06 20:02] njhillson commented on #220
Looks good now.

[2018-02-06 20:03] njhillson commented on #199
Looks good now for forward/reverse features as well as partial features.

[2018-02-09 01:08] tnrich commented on #224
![image](https://user-images.githubusercontent.com/2730609/36006569-9f4d7c8a-0cf2-11e8-854e-4016245f2c26.png)

@gmcarthuriv how does that look?

[2018-02-09 01:13] tnrich commented on #222
not able to reproduce this right now

[2018-02-09 01:13] #222 closed

[2018-02-09 01:15] tnrich commented on #227
A question for @njhillson - should this be for features only, or should the same sort of "expand selection" functionality apply for features/orfs/parts/cutsites?

[2018-02-09 01:17] tnrich commented on #227
Hmm @hplahar it looks like this functionality already exists within the tool :) check it out

[2018-02-09 01:30] gmcarthuriv commented on #224
It looks beautiful, @tnrich - but what exactly am I looking at here, just the AA sequence? I realize this is a mockup, but the amino acid translation doesn't match the correct open reading frame. However, overlooking that, it looks great! :D

[2018-02-09 17:14] tnrich commented on #224
Hey @gmcarthuriv you're seeing an arbitrary section of the sequence translated here. You can right click and hit "View Translation" on any selection layer to translate whatever you want.

[2018-02-09 17:35] njhillson commented on #227
It does seem to be working already for me too. There may be some behavior
nuances that we'd want to look more closely into, but Hector please look
too.

On Thu, Feb 8, 2018 at 5:17 PM, Thomas Rich <notifications@github.com>
wrote:

[2018-02-09 17:58] tnrich commented on #230
Hmm very strange. I am not able to reproduce this issue locally. I'll probably need you to help me debug what's going on here. It looks like something is maybe getting added to the DOM that's causing the width of the editor to expand/shrink as it gets added/removed.

[2018-02-09 18:03] tnrich commented on #223
Below is an image of a feature being hovered over.

@gmcarthuriv just to be sure we're on the same page, you're suggesting that we highlight the AA's similarly to how we do features when they're being hovered over?

![image](https://user-images.githubusercontent.com/2730609/36042268-1f91b6d0-0d80-11e8-8039-316eba9c85a4.png)

Or do you want to be able to click an AA chain and have them stay selecte

[2018-02-09 18:08] tnrich commented on #215
Okay, those should be disabled correctly now (let 10 minutes pass for the CDN to be updated)

[2018-02-09 18:09] hplahar commented on #227
Working for me also. There are a few instances, where, for some reason it did not work but I think that can be a separate ticket when I am able to reproduce it reliably

[2018-02-09 18:14] tnrich commented on #140
added delete key

[2018-02-09 18:21] tnrich commented on #209
The find bar is now inline by default

[2018-02-09 18:23] tnrich commented on #144
@hplahar what do you think? Either you could trigger a toaster message on successful save or my onSave hook could await a truthy response from your code and trigger a "Sequence saved successfully" message. Thoughts?

[2018-02-09 19:32] hplahar commented on #144
I typically prefer to use messages when something went wrong. What does everyone think about have the save button enabled when there are changes needing to be saved and then disabled on successful save? .....otherwise I can send the response from my end.

On the topic of toaster messages, it will also be nice at some point to provide an option to route the messages to the embedding application (in

[2018-02-09 22:11] njhillson commented on #191
Not seeing these anymore.

[2018-02-09 22:12] njhillson commented on #229
looks much better now.

[2018-02-09 22:13] njhillson commented on #209
so much better!

[2018-02-09 22:28] njhillson commented on #140
This is working now, revealed another issue. I will create a ticket for it.

[2018-02-09 22:31] njhillson opened #231 "ICE - VE backspace key triggers browser to go to previous page"
I was testing ticket #140, which relates to enabling the user to delete a highlighted sequence using the backspace key. At least for me in FireFox in OSX, it appears that the browser is listening for the backspace key, and goes to the previous page if it hears it. This is not great behavior, because that means that I lose all my edits in VE. Can you over-ride the default browser behavior so that i

[2018-02-09 22:33] njhillson opened #232 "ICE - VV/VE feature colors not set correctly"
Right now, it looks like VE is randomly setting feature colors, and even using different colors for the same feature type. We want the JBEI color palette to be used. Hector tried to send VE the color to use for each feature, but VE is appearing to ignore these directives.

[2018-02-09 22:41] njhillson commented on #215
I am passing this ticket, but am going to create 2 new tickets, ticket and ticket for related issues.

[2018-02-09 22:44] njhillson opened #233 "ICE - VV/VE flag to not display general properties tab"
In VV, or in general when there is no onSave hook provided, it makes no sense to display the general properties tab. Suggest that you make VE configurable so as not to display general properties tab and/or not display it by default if no onSave hook is provided.

[2018-02-09 22:47] njhillson opened #234 "ICE - VE general properties - remove is editable"
It never makes sense, in my opinion, to have the is editable field in the general properties tab. The is editable/read-only is displayed at bottom left of VE/VV; there is no reason why a user would want to toggle it in VE. Please remove it from the general properties. If there is a use case I am unaware of, then make sure that the field is showing what ever the state of the sequence is, and enable

[2018-02-09 22:49] hplahar opened #235 "Double scrollbars"
![double_scroll_bar](https://user-images.githubusercontent.com/1694026/36053873-670e1d6e-0da8-11e8-8bc6-385b454ddf15.png)
With version 1+, scrollbars are now visible in the view area. This results in double vertical scrollbars when viewing the sequence map only. See attached

[2018-02-09 22:50] njhillson commented on #224
I am seeing the tooltip index number now.

[2018-02-09 22:53] hplahar opened #236 "Prompting user to save unsaved changes when navigating away"
Users are able to make changes and then close the modal for vector editor (or navigate to a different page). It will be useful to prompt the user to save any unsaved changes (until we have an auto save feature). This is most likely something ICE should handle, but there needs to be a way of detecting that the user has unsaved changes.

[2018-02-10 01:45] gmcarthuriv commented on #223
@tnrich, I'm suggesting that when you click on an AA residue, the three-nucleotide codon is selected. This happens already in Peony's VE. However, it's not possible in the current VE to select multiple AA residues. It would be very nice to have multiple codons selected when multiple AA residues are clicked (using "shift"). This is analogous to how GenBank feature(s) is/are clicked and the correspo

[2018-02-10 02:31] tnrich commented on #233
This can already be configured by @hplahar by not passing "general" as one of the properties tab options for VV.

[2018-02-12 18:49] XimeMora commented on #224
Looks good!

[2018-02-12 19:32] XimeMora commented on #227
It seems to be working but I also noticed that sometimes it didn't, I tested several times but I couldn't figure out why sometimes it's not working.

[2018-02-12 19:52] XimeMora commented on #215
The fields are disabled in the Vector Viewer but I'm going to fail this ticket because in the Vector Editor even after clicking Save button the Name and Circular/Linear fields are not being saved.

![properties general](https://user-images.githubusercontent.com/21211903/36116439-228dd96e-0feb-11e8-8e75-1f3b045249f2.gif)

[2018-02-12 20:02] XimeMora commented on #209
Looks good! There's only a minor rendering issue that will be addressed in a new ticket.

[2018-02-12 20:09] XimeMora opened #237 "Find/Search tool > Literal/Ambiguous field not big enough"
In the Find/Search tool after clicking the pencil icon the Literal/Ambiguous field box is smaller and the selection arrows are partially left outside the box:

![literal](https://user-images.githubusercontent.com/21211903/36117111-5bcddd62-0fed-11e8-9054-8f56c2b1c918.PNG)

[2018-02-12 20:13] XimeMora commented on #229
Looks good!

[2018-02-12 20:17] tnrich commented on #215
It is up to @hplahar to handle the sequence name/circularity saving on the jbei onSave hook. @hplahar do you have any questions for implementing that? Both .circular and .name should be on the sequenceData object.

[2018-02-12 20:28] XimeMora commented on #191
This looks better now.

[2018-02-12 20:43] XimeMora commented on #220
This is working nicely.

[2018-02-12 21:06] XimeMora commented on #199
Copying/Pasting within VE is copying the annotations correctly but if I copy from a sequence in VV (it has the same copy options as VE) to paste into another sequence in VE it is not copying the annotations:

![copy paste](https://user-images.githubusercontent.com/21211903/36119638-6c0d2b26-0ff5-11e8-98b3-bbed4c869d40.gif)

[2018-02-12 21:40] XimeMora opened #238 "Undo/Redo buggy behavior after deleting bps"
I selected some bps and created a feature, then select some bps that were right before the newly created feature and deleted them using the backspace key, then click the Undo button and the delete action was undone but the feature that I created earlier moved from its original place, so clicking Redo now is buggy too because of this feature moving from its original bps.

![undo redo](https://user-

[2018-02-12 21:56] XimeMora commented on #140
@tnrich @njhillson where can I find the options to add/delete/replace bps and copy annotated sequence?

[2018-02-12 22:19] njhillson commented on #199
for @hplahar to fix on the VV side

[2018-02-12 22:25] njhillson opened #239 "ICE - VE properties tab should default to first tab if no tab found"
In ICE, we have disabled the general properties tab, and so when I click on the properties tab, no subtab is active. I have to click, for example, on features for something to render. It would be nice to have the first tab (e.g. features) active on load if the general properties tab is missing.

[2018-02-12 22:42] XimeMora commented on #140
Editing functionality is working nicely.

[2018-02-13 04:56] gmcarthuriv opened #240 "Ability to toggle letter case for DNA sequence"
Currently, the openVE displays DNA sequences in lowercase letters. Some may like this, but I prefer uppercase DNA sequences. It would be nice to be able to toggle between upper and lowercase.

**Uppercase example**
![image](https://user-images.githubusercontent.com/17152701/36134041-1afeb352-1037-11e8-950a-cb7701caf813.png)

[2018-02-13 19:11] njhillson commented on #215
In the context of ICE, where we are not displaying the general properties tab anymore, this functionality is no longer relevant. @tnrich when you address @XimeMora issue, go ahead and put into ready for qa, and I will just immediately pass on to her.

[2018-02-16 17:05] tnrich opened #241 "Editor jumping when embedded in lims"
I am guessing that the scroll jumping for the Sequence View is somehow spilling over.

[2018-02-16 18:26] tnrich commented on #238
Nice catch @XimeMora this should be fixed shortly.

[2018-02-16 18:38] tnrich commented on #223
@gmcarthuriv thanks for the clarification. I think we can implement it the way you're suggesting :)

[2018-02-18 00:15] gmcarthuriv opened #242 "Default settings for translation-to-AAS"
Currently, amino acid sequences (AASs) translated from _predicted_ ORFs are displayed by default. I think that these should be off by default - and then toggled on by the user if desired.
 - [x] orf translations off by default

However, for _annotated_ CDSs (i.e., GenBank feature = CDS), I think these AASs should be displayed by default.
- [x] features of type cds on by default

[2018-02-18 00:36] gmcarthuriv opened #243 "Reveal GenBank feature type when hovered over"
Currently, only the feature name and start/end positions are displayed when a GenBank feature is hovered over. It would be nice to also display the feature type (e.g., CDS) upon hovering. This is enabled in the current app (Peony) and the JBEI VE (shown in the screenshot below).

![image](https://user-images.githubusercontent.com/17152701/36346996-6d3185a6-1400-11e8-930a-9e12ee497c3a.png)

[2018-02-18 03:40] gmcarthuriv opened #244 "Select inverse shortcut"
A keyboard shortcut for "select inverse" would be helpful (e.g., command + i).

[2018-02-19 02:32] #233 closed

[2018-02-19 02:49] #234 closed

[2018-02-19 02:58] tnrich commented on #240
@gmcarthuriv currently OVE displays the sequence as either upper or lower case depending on how it is imported into our system. For example it can display upper and lower case letters simultaneously:

![image](https://user-images.githubusercontent.com/2730609/36360955-1f9fa66e-14dd-11e8-9a2b-064b298c85fe.png)

That being said, I can add an option to always display the sequence as just upper/lower

[2018-02-19 03:09] gmcarthuriv commented on #240
@tnrich - sounds good to me. When I created the ticket, it was based on what I saw in the demo openVE. Soon after, I saw my sequences in the LIMS openVE displayed in uppercase, which is great.

It's cool that you allow both upper or lowercase - very useful for communicating mutations, for example. Maybe your toggle tool simply inverts the case (i.e., all uppercase letters are converted to lowercas

[2018-02-19 06:00] tnrich commented on #235
@XimeMora can you help me try to reproduce and debug this issue. I'm not able to see this on my computer unfortunately

[2018-02-19 07:01] tnrich commented on #232
@njhillson can you check and see if this one is working correctly for you now? I've set things up to obey a passed in color first, and then use the standard feature type colors secondarily.

[2018-02-19 07:02] tnrich commented on #215
@njhillson let's close this one as jbei is no longer using it?

[2018-02-19 07:02] #215 closed

[2018-02-19 07:15] njhillson commented on #215
Ok

Sent from my iPhone

[2018-02-19 09:24] njhillson commented on #232
Coloring looks bad still on
registry-test2.jbei.org

CDS for example should be orange.

On Mon, Feb 19, 2018 at 8:01 AM, Thomas Rich <notifications@github.com>
wrote:

[2018-02-19 17:41] tnrich commented on #144
@hplahar I agree with you that disabling the save button is the way to do it. It is a little bit complicated to do but I tried to implement a solution similar to how it is done in our current TG app.

I added a unique state-tracking ID to every unique state the editor has. On initial load, the state is assumed to be saved and the lastSavedId = initialStateId.

After an edit is made the sequence st

[2018-02-19 17:52] tnrich commented on #144
@hplahar also note that I can provide a callback interface as well if that is easier. Same idea applies though :)

[2018-02-19 19:26] tnrich commented on #225
Should we be able to rotate a linear sequence?

[2018-02-20 10:40] njhillson commented on #232
Ok, this is looking better now on registry-test2.jbei.org. Colors as expected for the most part. Some feature types have different coloring than I expected (e.g. primer features are light green instead of grey), but at least they appear consistent for each feature type, and the colors are expected for the important feature types (e.g. CDS orange).

[2018-02-20 10:41] njhillson commented on #231
This seems better for me now.

[2018-02-20 10:42] njhillson commented on #237
This seems fine to me now.

[2018-02-20 10:43] njhillson commented on #239
Looks good now.

[2018-02-20 13:31] njhillson commented on #238
This looks better now.

[2018-02-20 19:09] XimeMora commented on #235
@tnrich I tried to reproduce it but I am only seeing one vertical scrollbar:

![2018-02-20](https://user-images.githubusercontent.com/21211903/36443570-00340ad4-162e-11e8-9f23-e9a80706feac.png)

@hplahar can you check if this is still happening on your end?

[2018-02-20 19:16] XimeMora commented on #237
Looks good.

[2018-02-20 19:21] hplahar commented on #235
Looks better now. Not happening anymore

[2018-02-20 19:23] hplahar commented on #225
Yes

[2018-02-20 19:28] hplahar commented on #144
Sounds good. Thanks.

[2018-02-20 20:11] XimeMora commented on #235
Perfect! I'll move this ticket along then.

[2018-02-20 20:24] XimeMora commented on #239
This looks good!

[2018-02-20 20:34] XimeMora commented on #238
This is working nicely.

[2018-02-20 20:49] XimeMora commented on #231
This is working fine.

[2018-02-20 21:11] XimeMora commented on #232
@njhillson the colors are consistent for each feature type and I can see that the CDS is orange but I'm not sure which ones are the most important feature types and their respective colors, could you share a list of those? or just checking that they are consistent is enough for now?

[2018-02-22 09:43] njhillson commented on #232
hi @XimeMora; perhaps basic summary here:
CDS orange
promoter green
terminator red
RBS grey
misc_feature blue
ori grey
selectable_marker turqoise
Looks like the RBS isn't grey, so you can fail for that if you'd like.
Otherwise mostly looks reasonable to me right now...

[2018-02-22 09:44] njhillson commented on #219
Looks better to me now.

[2018-02-22 19:14] XimeMora commented on #232
Thanks @njhillson. A few more questions... Is "ori" the same as "oriT" because that's the similar one that I found. I don't see any "selectable_marker", does it have another name? And the "misc_feature" and "misc_binding" look the same color to me, is it the same for you?

[2018-02-22 21:44] tnrich commented on #242
Ahh interesting. Okay, I can make that happen. Keep the great suggestions coming!

[2018-02-22 22:40] tnrich opened #245 "Ability to toggle read-only VE (split screen) full screen"
See https://github.com/TeselaGen/lims/issues/657 for details

[2018-02-22 23:25] njhillson commented on #232
origin feature type should cover oriT as well.

misc_marker may be the type for the marker type.

misc_feature and misc_binding are find to both be blue.

Nathan

On Thu, Feb 22, 2018 at 8:14 PM, XimeMora <notifications@github.com> wrote:

[2018-02-23 00:44] mfero opened #246 "VE and/or DE > ability to merge two GenBank features"
_From @gmcarthuriv on January 26, 2017 18:10_

Assembled constructs may need to have their feature annotation "cleaned up" due to a variety of factors. One case is the splitting of a GenBank feature into two because it spans two or more Parts. Another case is a discontinuous GenBank feature because it is the literal result of two features (and Parts) being joined together. For example, a CDS (and

[2018-02-23 01:18] mfero opened #247 "VE > Map panel > include alternative start codons for ORF prediction"
_From @gmcarthuriv on April 27, 2016 0:15_

It may be useful to some users to be able to modify ORF prediction to include alternative start codons such as GTG.

_Copied from original issue: TeselaGen/ve#1841_

[2018-02-23 01:26] mfero opened #248 "VE > not able to find very long DNA sequences"
_From @gmcarthuriv on September 13, 2016 6:19_

I was searching for a rather long sequence of DNA (5201 bp of a 5636 bp plasmid - most of the plasmid) and found that the search/find function wasn't working as expected. The tool couldn't "find" my long sequence; VE was telling me that the sequence was not present. Strangely, it would highlight the sequence if I clicked on the "Highlight All" button

[2018-02-23 01:26] mfero commented on #248
Is this also and issue on OVE? moving this ticket to that repo.

[2018-02-26 19:39] XimeMora commented on #219
@tnrich I see this 3 lined icon to the far right, is here the only place where I should see it?

![collapse icon](https://user-images.githubusercontent.com/21211903/36690968-c5b96b64-1ae8-11e8-86c3-3f7fdf5d88c7.PNG)

[2018-02-26 20:00] XimeMora commented on #232
As @njhillson said RBS isn't grey and oriT is not grey either so I will fail it.

[2018-02-26 21:54] tnrich commented on #248
This does not look like it is an OVE issue @mfero

[2018-02-26 21:56] tnrich commented on #247
![image](https://user-images.githubusercontent.com/2730609/36697743-d66bee28-1afc-11e8-9546-3cdf576a26fb.png)

This feature exists in OVE already

[2018-02-26 21:56] #247 closed

[2018-02-26 21:56] #248 closed

[2018-03-01 20:19] XimeMora opened #249 "VE > Annotations that span the entire sequence don't have its label connector line"
_From @XimeMora on February 26, 2018 20:59_

### Describe what's going wrong/what needs to change.
Annotations that span the entire sequence don't have its label connector line.
### Steps to reproduce the behavior
Create a feature/part that is the same length of the sequence
### Screenshots/gif of issue
![no annotation lines](https://user-images.githubusercontent.com/21211903/36694930-9ff349a2-1af

[2018-03-01 20:19] XimeMora commented on #249
_From @mmatena on March 1, 2018 18:15_

This should probably be an `open-vector-editor` ticket.

[2018-03-01 22:01] njhillson opened #250 "ICE - VE rendering of feature (color) should be re-rendered after feature type changed"
In VE (in ICE context at least), if I edit a feature, and change its type (e.g. from promoter to terminator), it doesn't look like the view is being re-rendered, so the feature color is not updated. This is confusing.

[2018-03-03 02:36] XimeMora opened #251 "Opening a part from a design should focus the highlighted part in the sequence map in VE"
### Describe what's going wrong/what needs to change.
When double-clicking a part in a design it opens it in Vector Editor but in the Sequence Map you have to scroll to find that part, it is highlighted but it's not focused on the screen by default.
### Steps to reproduce the behavior
Double-click a part in any design to open it in VE.
### Screenshots/gif of issue
![focus part](https://user-images

[2018-03-05 20:42] laueste opened #253 "Under Properties, double-clicking an entry should jump the Sequence Map to it"
For easier navigation of longer sequences, when you open the Properties tab on the right side and are looking at various lists of "interesting locations" (aka Features, Cutsites, Parts, Primers, ORFs, etc.), double-clicking on an entry in the list on the right should make the Sequence Map on the left jump to that region of interest. (Otherwise you have to scroll around to find it, or search explic

[2018-03-06 18:33] tnrich opened #254 "Alignments > talk with j5 api"
@rpavez the tool is communicating correctly with the j5server hosted locally. We just need to get that code up and running in prod. Let me know if there is anything I can do

[2018-03-06 18:35] tnrich opened #255 "Alignments > fix scroll issues up down"
![image](https://user-images.githubusercontent.com/2730609/37050943-0f974c14-212a-11e8-8e43-5adde78fbb77.png)

scrolling should be improved

[2018-03-06 18:36] tnrich opened #256 "Alignments > fix axis drawing"
![image](https://user-images.githubusercontent.com/2730609/37050976-2bbdf7f8-212a-11e8-9b43-6b5d1c1f8961.png)

currently it the line is not contiguous

[2018-03-06 18:38] tnrich opened #257 "Alignments > make the zoom work smoothly"
![image](https://user-images.githubusercontent.com/2730609/37051044-5381bbee-212a-11e8-827e-ed4e996507d2.png)

Currently the yellow viewing region indicator overflows the bounds of the minimap when zoomed out all the way.

Also we should add an option to drag the sides of the yellow indicator to adjust the zoom to a particular region :)

[2018-03-06 18:40] tnrich opened #258 "Alignments > Add option to toggle which parts of the sequence track you're interested in seeing"
![image](https://user-images.githubusercontent.com/2730609/37051226-b027ff34-212a-11e8-8f57-8ed595a8b2a8.png)
Probably next to the name there should be a little button with a context menu allowing you to select Features/Parts/Orfs/Axis/etc

[2018-03-06 18:42] tnrich opened #259 "Alignments > enable infinite scroll for linear view"
Currently we're just drawing the entire sequence instead of just the sequence we need to see. We'll need to fix that to handle alignments of large sequences as well as supporting many tracks on the same page.

[2018-03-06 19:45] tnrich commented on #251
This should be fixed whenever hde updates to open-vector-editor@1.1.30 @craftjk @mmatena

[2018-03-06 19:54] tnrich commented on #243
This should be fixed whenever lims and hde update to open-vector-editor@1.1.32

 @tgreen7 @craftjk

[2018-03-06 22:45] XimeMora opened #260 "Implement autosave functionality"
We need autosave functionality in vector editor.

[2018-03-07 00:59] tnrich opened #261 "Alignments > give users option to auto-trim before aligning"
![image](https://user-images.githubusercontent.com/2730609/37067615-7a0ec74a-215f-11e8-9472-9865595a1440.png)

If the user is uploading sequences to be aligned, and those sequences have confidence scores associated with them, let's have the option to have those sequences be auto-trimmed before they are aligned

[2018-03-07 01:03] tnrich opened #262 "Alignments > give users option to trim any sequences within the alignment view and re-align"
If the user is unsatisfied with their alignment, they should be able to trim the aligned sequences and re-align them again!

![image](https://user-images.githubusercontent.com/2730609/37067720-f521192e-215f-11e8-878d-8ae86b9269a7.png)

[2018-03-07 01:12] tnrich opened #263 "Figure out API for jbei to load in their own alignments"
We'll need to talk with @njhillson and @hplahar and show them what our current alignment tool is looking like and figure out how to allow them to load their existing alignment data into our tool.

[2018-03-07 01:28] tnrich commented on #263
Here is a little description of how alignments will work in OVE (jbei will probably only use part of the entire flow):

User hits the alignment tool and can see a list of their saved alignments and start new alignments:
![image](https://user-images.githubusercontent.com/2730609/37068065-bc1f4d92-2161-11e8-8179-95948303c223.png)

After hitting Create New Alignment they're brought to a modal where t

[2018-03-07 04:51] njhillson commented on #263
Hector will need to coordinate and make sure it can work for us. Once I see it presenting our sequence alignment data starting with sanger and then eventually miseq consensus I will give you feedback.

Sent from my iPhone

[2018-03-07 17:24] njhillson commented on #263
It would be good for you to demo this in the next TeselaGen/JBEI zoom
meeting this coming Monday. Would be very nice for you to present with an
actual JBEI sequence and Sanger reads, e.g. from entry:
https://public-registry.jbei.org/entry/226/sequences

On Tue, Mar 6, 2018 at 8:51 PM, Nathan Hillson <njhillson@lbl.gov> wrote:

[2018-03-07 20:50] tnrich opened #264 "Alignments > can't click in minimap to move!"
![image](https://user-images.githubusercontent.com/2730609/37117441-12df002e-2206-11e8-9cba-d905779e0fa5.png)

[2018-03-07 20:51] tnrich opened #265 "Alignments > minimap axis not overflowing/displaying nicely"
![image](https://user-images.githubusercontent.com/2730609/37117481-3ae9efa2-2206-11e8-9784-d33dcc993aaf.png)

[2018-03-08 18:24] tnrich opened #266 "Alignments > Check if Mafft/Muscle have options to align to a consensus sequence"

[2018-03-08 18:27] tnrich opened #267 "Alignments > Only show "saved alignments" if the user sets it up"
If the OVE consumer doesn't specify a way for alignment data to be loaded we should probably not even show the little tool dropdown:

![image](https://user-images.githubusercontent.com/2730609/37168945-4970786a-22bb-11e8-8a5e-7d9e1ede4490.png)

Instead we should jump them directly to the "Create Alignment" dialog

[2018-03-09 21:13] tnrich commented on #232
I have changed both of those from gray in response to George Macarthur requesting that there be fewer feature types that defaulted to gray.

[2018-03-09 21:18] tnrich commented on #260
For HDE or LIMS or both? @craftjk @tgreen7 I'd be happy to work on this together at some point.

[2018-03-09 22:19] njhillson commented on #232
That is fine for Arzeda, but not for JBEI.

On Fri, Mar 9, 2018 at 1:13 PM, Thomas Rich <notifications@github.com>
wrote:

[2018-03-09 23:43] tnrich commented on #232
We need a way for consumers to pass color preferences for feature types. Let's make a new issue and pass this one?

[2018-03-09 23:45] tnrich opened #268 "Add option to override feature colors"
For example JBEI should be able to pass their preferred feature colors and have them be used instead of the current defaults.

[2018-03-12 18:53] njhillson commented on #251
@XimeMora this is not JBEI feature - please test.

[2018-03-12 18:54] njhillson commented on #243
This is looking good

[2018-03-12 18:57] njhillson commented on #250
This is looking better now. I noticed that the sequences changes don't seem to be saving back to ICE, but I am following up on this with Hector.

[2018-03-12 19:45] gmcarthuriv opened #269 "Visualization of functional vs. physical elements - and warnings/errors"
@tnrich, I created this ticket to support its sister ticket in HDE: https://github.com/TeselaGen/hde/issues/954

----
**Visualizing functional vs. physical elements**
Functional elements (shown within the naked circle in the image below) are essentially equivalent to GenBank features. Physical elements (shown outside of the naked circle) include oligos/primers (which are currently outputted as Gen

[2018-03-12 20:28] tnrich opened #270 "Improve hotkey documentation"
There should be a nice help icon which should pop up a modal explaining all relevant hotkeys as well as tooltips with the hotkey in parenthesis when appropriate.

[2018-03-12 20:41] XimeMora commented on #219
The collapse icon on New Digest tab looks good now.

![close icon](https://user-images.githubusercontent.com/21211903/37308344-057e5814-25fb-11e8-8454-16c3dca57123.PNG)

[2018-03-12 20:52] XimeMora commented on #250
This is working correctly.

[2018-03-12 20:55] tnrich commented on #269
@gmcarthuriv I think I like what you are proposing. @njhillson and @mfero do you agree with what George is suggesting? Any other thoughts/comments?

If you do I'll go ahead and update the default layout to align with George's vision.

[2018-03-12 21:10] njhillson commented on #269
I like it.

[2018-03-12 22:02] #250 closed

[2018-03-12 22:02] #219 closed

[2018-03-12 22:02] #231 closed

[2018-03-12 22:02] #238 closed

[2018-03-12 22:02] #239 closed

[2018-03-12 22:02] #235 closed

[2018-03-12 22:02] #237 closed

[2018-03-12 22:02] #140 closed

[2018-03-12 22:02] #232 closed

[2018-03-12 22:02] #220 closed

[2018-03-12 22:02] #191 closed

[2018-03-12 22:02] #229 closed

[2018-03-12 22:02] #209 closed

[2018-03-12 22:02] #227 closed

[2018-03-12 22:02] #224 closed

[2018-03-12 22:02] #221 closed

[2018-03-12 22:02] #217 closed

[2018-03-12 22:02] #192 closed

[2018-03-12 22:02] #160 closed

[2018-03-12 22:02] #194 closed

[2018-03-12 22:02] #212 closed

[2018-03-12 22:02] #211 closed

[2018-03-12 22:02] #214 closed

[2018-03-12 22:02] #216 closed

[2018-03-12 22:03] #218 closed

[2018-03-12 22:03] #204 closed

[2018-03-12 22:03] #164 closed

[2018-03-12 22:03] #195 closed

[2018-03-12 22:03] #203 closed

[2018-03-12 22:03] #205 closed

[2018-03-12 22:03] #187 closed

[2018-03-12 22:03] #208 closed

[2018-03-12 22:03] #175 closed

[2018-03-12 22:03] #165 closed

[2018-03-12 22:03] #193 closed

[2018-03-12 22:03] #196 closed

[2018-03-12 22:03] #198 closed

[2018-03-12 22:03] #200 closed

[2018-03-12 22:03] #201 closed

[2018-03-12 22:03] #202 closed

[2018-03-12 22:03] #149 closed

[2018-03-12 22:03] #142 closed

[2018-03-12 22:04] #176 closed

[2018-03-12 22:04] #174 closed

[2018-03-12 22:04] #184 closed

[2018-03-12 22:04] #163 closed

[2018-03-12 22:04] #186 closed

[2018-03-12 22:04] #171 closed

[2018-03-12 22:04] #178 closed

[2018-03-12 22:04] #159 closed

[2018-03-12 22:04] #180 closed

[2018-03-12 22:04] #183 closed

[2018-03-12 22:04] #177 closed

[2018-03-12 22:05] #143 closed

[2018-03-12 22:05] #181 closed

[2018-03-12 22:05] #153 closed

[2018-03-12 22:05] #158 closed

[2018-03-12 22:05] #151 closed

[2018-03-12 22:05] #155 closed

[2018-03-12 22:05] #152 closed

[2018-03-12 22:05] #162 closed

[2018-03-12 23:36] hplahar commented on #199
Fixed

[2018-03-12 23:45] njhillson commented on #199
This is working for me now. Copied a feature in VV and pasted into another browser tab VE. The feature was maintained.

[2018-03-13 20:52] tnrich commented on #269
@gmcarthuriv What about the ordering of elements in the Sequence Map and linear views? Any preferences there? It seems like they should be similar, but it might look a little strange having annotations sit below the axis in either of those views.

[2018-03-13 21:14] tnrich commented on #269
I've updated the Linear and Sequence Map views to now looks like this:

![image](https://user-images.githubusercontent.com/2730609/37370239-ca2ae93e-26c8-11e8-93b0-1e668090cdee.png)

That seems like it is now pretty consistent across the views. We don't yet have a "warnings" layer like you've suggested but can definitely add something like that.

[2018-03-14 23:42] tnrich opened #272 "Show number of annotations within the sequence in visibility toggle tool"
![image](https://user-images.githubusercontent.com/2730609/37436721-9306ab94-27a6-11e8-8c35-8ba82c17d777.png)

We should for example say that there are 11 Features and 12 parts

[2018-03-14 23:42] tnrich commented on #272
Do the same thing for the alignment visibility toggle but it should be cumulative across annotation types

![image](https://user-images.githubusercontent.com/2730609/37436751-bfeedac8-27a6-11e8-9f2d-8a590da2336c.png)

[2018-03-15 04:41] gmcarthuriv commented on #269
I like the implementation, @tnrich - my only suggestion (for both the linear and circular map views) is to bring the Part labels right next to the yellow circle/line (basically, tighter layers).

[2018-03-16 00:59] tnrich opened #273 "Alignments > Add pairwise alignment option to alignment tool"
Right now our alignment tool only handles multiple-sequence-alignments, but we'll want to support multiple **pairwise** alignments.

We'll need to add that option to the alignment creation tool as well as the alignment visualization.

[2018-03-16 01:02] tnrich opened #274 "Give blast option for pairwise alignments"
People are used to doing multiple pairwise alignments using blast so let's give them that as an option along with muscle/mafft

[2018-03-16 01:27] tiffanydai commented on #273
**Initial view (upon upload of e.g. 4 files of pairwise alignments):**
- Track of annotations (features, etc.) above the reference sequence
- Track of the reference sequence's nucleotides (with no gaps)
- Minimap with 4 tracks, each representing a pairwise alignment
**Upon clicking a track in the minimap, the view will be:**
- Track of annotations, with e.g. amino acids stretching across gaps
- Tr

[2018-03-16 04:02] gmcarthuriv opened #275 "Ability to visualize multiple sequence alignment"

[2018-03-16 17:54] njhillson commented on #253
This looks good. Seems like ORF translation rendering is currently broken. Will create another ticket for that.

[2018-03-16 17:57] njhillson opened #276 "ICE VE/VV - ORF translation rendering broken"
In the current dev version on registry-test2.jbei.org at least, it looks like ORF translation rendering is broken. It looks like there is vertical space (a track) getting added, but the actual AA renderings are not there. Looks like in the versions on the JBEI and ABF ICE instances, that this is still working, so likely a recent change that broke this.

[2018-03-19 19:09] XimeMora commented on #199
This is working fine for me too!

[2018-03-19 19:52] XimeMora commented on #253
This is working for Features and ORFs but not for Cutsites and it is working in one direction (clicking on an entry in the Properties tab highlights the object in the Sequence Map) should we have the same but in the other direction working too (clicking on an object in the Sequence Map highlights its entry in the Properties tab)?
I also noticed the Translations rendering is broken.

[2018-03-19 20:04] XimeMora opened #277 "ICE - VV/VE -> Toastr messages are too big and not centered"
After performing an action like copy or paste, the notification toastr messages are too big and not centered.

![2018-03-19 1](https://user-images.githubusercontent.com/21211903/37619106-a89f52da-2b75-11e8-9ca0-91b67a937d2e.png)

![2018-03-19 2](https://user-images.githubusercontent.com/21211903/37619179-ed62ae44-2b75-11e8-8dab-2ba040ff1753.png)

[2018-03-19 20:43] XimeMora commented on #157
@tnrich for HDE and LIMS should we have an option inside VE to upload a sequence? or is it just the option from the respective tool like from the Sequences library in HDE?

[2018-03-19 20:52] tnrich commented on #157
Probably we'll just not show this tool for the time being.

On Mon, Mar 19, 2018, 1:43 PM XimeMora <notifications@github.com> wrote:

[2018-03-19 20:58] tnrich commented on #276
This will be fixed once blueprint releases their fix: https://github.com/palantir/blueprint/issues/2272

[2018-03-19 21:24] #147 closed

[2018-03-19 21:32] tnrich commented on #272
It should now look like this:
![image](https://user-images.githubusercontent.com/2730609/37623553-52ef3668-2b82-11e8-9614-20546a91aeb0.png)

[2018-03-19 21:47] tnrich commented on #228
@XimeMora I disagree on this count, I think that we should show the bps if the linear view is zoomed in enough.

[2018-03-19 21:47] #141 closed

[2018-03-19 21:48] #161 closed

[2018-03-19 21:49] tnrich commented on #154
@hplahar any chance you could check to see if this is still happening for you?

[2018-03-19 21:49] tnrich commented on #166
@njhillson I am going to close this in favor of more detailed issues.

[2018-03-19 21:49] #166 closed

[2018-03-19 21:50] njhillson commented on #166
Sure

On Mon, Mar 19, 2018 at 2:49 PM, Thomas Rich <notifications@github.com>
wrote:

[2018-03-19 22:37] hplahar commented on #154
Still happening

[2018-03-20 21:21] tnrich commented on #276
This broke when we added gap spacing for the alignment view. Should be better now.

[2018-03-20 21:21] tnrich commented on #277
This will be fixed once blueprint releases their fix: palantir/blueprint#2272

[2018-03-20 21:23] tnrich commented on #269
Okay, I've been working on making layers tighter. I'll submit this to QA now. We don't yet have warnings to test against but when we do we'll know where to put them :)

[2018-03-20 22:03] #254 closed

[2018-03-20 22:05] tnrich commented on #275
Closing this in favor of other more specific alignment related issues. This feature is coming soon though :)

[2018-03-20 22:05] #275 closed

[2018-03-20 22:06] tnrich commented on #241
@tgreen7 let me know when the full-screen enabled editor is in there and we can close this!

[2018-03-20 22:22] tgreen7 commented on #241
@tnrich The preview mode has been added

[2018-03-20 22:28] tnrich commented on #241
I'll close this one. Do you know if there is a linked issue in lims @tgreen7

[2018-03-20 22:28] #241 closed

[2018-03-20 23:11] njhillson commented on #269
This is looking reasonable, in the ICE VV/VE context, from what I can tell regarding GenBank features in general. The features (interpreted as functional) are being rendered below the sequence in the sequence panel, and below the yellow line in linear view, and inside the circle in plasmid map view. However, I did expect that GenBank features of type "primer_bind" to be rendered above the sequence

[2018-03-20 23:13] njhillson commented on #269
Sorry, looks like github doesn't support .gb, so I will just add .txt extension to the genbank. You'll have to remove the .txt extension probably to make it useful...

[ABF_002322.gb.txt](https://github.com/TeselaGen/openVectorEditor/files/1831549/ABF_002322.gb.txt)

[2018-03-20 23:16] njhillson commented on #276
Looks like this has been fixed.

[2018-03-20 23:16] njhillson commented on #272
I see the numbers.

[2018-03-21 18:27] tnrich opened #279 "Editor Preview Mode fullscreen not working"
Hey @tgreen7 the fullscreen looks good but it doesn't update when the window changes sizes so you get weird looking things like so:

![image](https://user-images.githubusercontent.com/2730609/37729626-b7e839a6-2cfa-11e8-8c01-55ff20b7a628.png)

![image](https://user-images.githubusercontent.com/2730609/37729691-f0780e54-2cfa-11e8-971a-f7c7d3fd7f93.png)

[2018-03-21 18:31] tnrich opened #280 "Editor Preview Mode "View Fullscreen" button looks awkward"
![image](https://user-images.githubusercontent.com/2730609/37729827-49dea99e-2cfb-11e8-8877-dcf5e636d42f.png)

I definitely think it would look better if we did a little hover over type thing..

@tgreen7

[2018-03-21 23:05] XimeMora commented on #277
@craftjk this is happening in hde too so I guess we'll have to wait for that blueprint update?

[2018-03-29 19:58] XimeMora opened #281 "HDE - Invalid characters should not be allowed in the sequence view"
We should not allow to insert invalid characters in the sequence view:

![copy paste ve](https://user-images.githubusercontent.com/21211903/38110444-86d36cda-3350-11e8-8220-3878d2f9baf1.PNG)

This is what VE in Peony does:

![2018-03-29](https://user-images.githubusercontent.com/21211903/38110458-96e02442-3350-11e8-8abe-285039316fc2.png)

[2018-03-29 20:13] XimeMora opened #282 "HDE - Properties > General > Circular/Linear not saving"
Changing the sequence between circular and linear options in the Properties > General tab is not saving.

![circular-linear](https://user-images.githubusercontent.com/21211903/38111157-c299f548-3352-11e8-94f5-b86218cbff7c.gif)

[2018-03-30 00:30] tgreen7 commented on #280
@tnrich I pushed a fix

[2018-03-30 00:33] tgreen7 commented on #279
@tnrich This seems to happen when making tabs full screen as well. Would you want to pair on it at some point?

[2018-03-30 18:14] tnrich commented on #280
![image](https://user-images.githubusercontent.com/2730609/38148467-860029fe-340b-11e8-9468-51b7dd02d32a.png)

much nicer :)

[2018-03-30 18:53] tnrich commented on #279
I fixed this one. Should be good to go. Also made the fullscreen mode look nicer by having the height scale to fill the entire window:

![image](https://user-images.githubusercontent.com/2730609/38149787-d767a150-3410-11e8-9b80-94121684cd49.png)

@njhillson I think we should talk about improving the modal window approach you guys have taken to use the fullscreen mode instead. It should just genera

[2018-03-30 21:40] hplahar opened #283 "Feature Properties "Action" buttons hidden in Firefox"
Reported by an ice user. See description below. The "New", "Edit", "Delete" button row is pushed out of view in firefox. This is not happening in chrome. Have not checked other browsers.

------user description------
Under vector editor, under properties, under features, the edit button isn't reachable in my Firefox browser. I have to go to "make tab full screen" to be able to see the button to cl

[2018-03-30 21:42] hplahar opened #284 "openVE crashing when clicking on "Properties""
This is happening on the latest version on registry-test2. Doesn't happen on older versions I am using in production. When you click on "Properties" when viewing a sequence, it goes blank. There is a stack trace in the console. Copied the first few lines below:

Invariant Violation: Could not find "client" in the context of Mutation. Wrap the root component in an <ApolloProvider>
Stack trace:
inva

[2018-03-30 21:44] hplahar commented on #283
I couldn't test if this was happening on the latest version due to #284. We are currently using 2.0.3 in production for ICE

[2018-04-02 16:38] tnrich commented on #284
Thanks @hplahar I'll look into this asap

[2018-04-02 16:40] tnrich commented on #282
@mmatena is the sequence saving hooked up properly..? I'm not quite sure why this would be on HDE only. @XimeMora is it happening on lims/jbei as well?

[2018-04-02 17:22] mfero opened #285 "Browser Zoom in on map view messing everything up"
Try playing with browser zoom when looking at Open VE inside the HDE or LIMS. Things go bad quickly.  Zooming in on say, the map view only... magnifies a certain part of the map, but does not allow the user to move the map around like with window scroll bars. Either OVE or the implementation within another app needs a bit of work. No need to go into detailed descriptions of how to reproduce... it

[2018-04-02 17:36] tnrich commented on #285
@mfero seems to look fine in LIMS:

![image](https://user-images.githubusercontent.com/2730609/38207087-762753ce-3661-11e8-8349-f1bc725712f6.png)

![image](https://user-images.githubusercontent.com/2730609/38207096-7cd03d9e-3661-11e8-866d-803cd5141a48.png)

I would recommend that HDE folks update the editor to use the preview mode like in lims:

[code]

[2018-04-02 17:42] mfero commented on #285
Ok, Browser zoom just does not work well I guess... magnifies everything. I can get LIMS to look bad too. Can we disable in favor of in-app zooming? Also, dragging tabs works poorly... is it needed here?

[2018-04-02 17:49] tnrich commented on #285
I don't think we should disable browser zoom. Let's triage and fix the necessary pieces of the app that look bad. I don't think it should be too hard to do, but clear screenshots of what looks bad on the various platforms will be necessary.

What's the issue with dragging tabs (in OVE I assume?) that you're seeing? Is it zoom related? If it is a real issue let's make a new issue for it and discuss

[2018-04-02 17:59] tnrich commented on #277
This should be fixed now in blueprint :)

[2018-04-02 17:59] tnrich commented on #284
This should be fixed now. It was caused by a new warning thrown by one of our dependencies.

[2018-04-02 19:35] craftjk commented on #282
@tnrich we don't have the "General" tab for lims/jbei. I remember reporting this issue on JBEI-ICE but the tab was removed. Also I think hde may not be using the last version of ove.

[2018-04-02 19:46] XimeMora commented on #282
Now that I involved Kyle in this one I will ask @craftjk do we still need that General tab?

[2018-04-02 21:20] tnrich commented on #144
Any update on this one @hplahar ?

[2018-04-02 21:25] tnrich commented on #167
@njhillson Does the option to add additional enzymes make this one acceptable?

![image](https://user-images.githubusercontent.com/2730609/38217028-9eaefb60-3681-11e8-945b-0c20ba01e364.png)

[2018-04-02 21:56] mfero commented on #285
![image](https://user-images.githubusercontent.com/7561861/38218276-0b9733d8-3686-11e8-9453-ef4ab7abbaf3.png)

[2018-04-03 18:04] mfero opened #286 "Sequence spontaneously changes after saving a modification in HDE"
Sequence doubles spontaneously??? can't undo!!! this happens in HDE... sequence image below

![image](https://user-images.githubusercontent.com/7561861/38266953-ddba73b8-372e-11e8-9489-0eba90b677f4.png)

Original:

![image](https://user-images.githubusercontent.com/7561861/38267295-def81b58-372f-11e8-8aee-31de2912e7da.png)

[2018-04-03 18:09] mfero commented on #286
spontaneously modified:

LOCUS       pEG955                 19214 bp    DNA     circular  03-APR-2018
FEATURES             Location/Qualifiers
     CDS             5549..7672
                     /label="Mlut_11700"
     misc_feature    8428..8429
                     /label="C* to CA"
     CDS             3269..5458
                     /label="fadB"
     promoter        832..907

[2018-04-03 18:14] mfero commented on #286
Original:

LOCUS       pEG955                  9610 bp    DNA     circular  03-APR-2018
FEATURES             Location/Qualifiers
     CDS             5552..7675
                     /label="Mlut_11700"
     misc_feature    8431..8432
                     /label="C* to CA"
     CDS             3272..5461
                     /label="fadB"
     promoter        832..907
                     /label="p

[2018-04-03 18:35] mfero opened #287 "features on backbone get collapsed to single basepair when you click on them!"

[2018-04-03 18:37] #287 closed

[2018-04-03 22:04] tnrich commented on #273
@hplahar we're ready to have you integrate with ICE.

Here a little gif of the new pairwise alignment view in action:

![untitled](https://user-images.githubusercontent.com/2730609/38277947-09fddf9e-374f-11e8-9605-871f165af112.gif)

@njhillson I think that interface is closer to what you were looking for.

@hplahar here is the api for getting your own pairwise alignment in the editor:
https://gith

[2018-04-04 17:39] tnrich commented on #286
@mfero can you please include steps to reproduce this? I am not able to reproduce. @mmatena if you could try reproducing this that would be great also :)

[2018-04-04 20:37] mfero commented on #285
Hi Thomas!
@tnrich maybe the focus should be to allow a zoom menu item for each panel that does not zoom external to the panel... HDE is doing something like this and it works well. In general OVE is lookin' pretty slick! Question for when we are embedding in HDE and LIMS... can we have a set of menu items like before? Those should be in the mother app to which OVE is the daughter right?

[2018-04-04 22:52] tnrich commented on #285
Hey @mfero yeah I think either way should work fine. I would probably prefer baking a menu into OVE and exposing an interface so that lims/hde could modify it as necessary

[2018-04-04 23:02] mfero commented on #285
Sounds good. Juan has started fleshing our Design editor menus, something similar for ove? Shall we loop him in?

Sent from my iPhone

[2018-04-04 23:13] tnrich commented on #148
@mfero

Hey @jpcarzolio, you're doing some work making menu bars for lims/hde, right?

Could you point me toward where the MenuBar is being developed and could we maybe expose that one in teselagen-react-components so that OVE could take advantage of it too?

Thanks!

[2018-04-04 23:13] tnrich commented on #285
looped him in at https://github.com/TeselaGen/openVectorEditor/issues/148

[2018-04-05 00:24] tnrich commented on #244
command+i should now work on the latest OVE version

[2018-04-05 00:46] tnrich commented on #249
@XimeMora can't reproduce, are you able to? If so can you attach a failing .gb file? Thanks!

[2018-04-05 03:41] XimeMora commented on #249
Yes, it's still happening to me on hdedev. Try using the context menu from the sequence library "Create Part/Feature from Sequence", or it is also happening creating a part/feature inside the vector editor (only for the annotations that span the entire sequence) And for features, I can see a very short label connector line:
[Sequences.zip](https://github.com/TeselaGen/openVectorEditor/files/187846

[2018-04-05 20:49] tnrich commented on #249
Thanks Xime I'll check it out

On Wed, Apr 4, 2018, 8:41 PM XimeMora <notifications@github.com> wrote:

[2018-04-05 22:02] tnrich commented on #242
Okay, these should both be in the latest OVE version

[2018-04-06 02:37] XimeMora opened #288 "Turn off ORF indicator by default"
From Mike's notes.

Turn off ORF indicator by default

[2018-04-06 02:40] XimeMora opened #289 "Get rid of cyan cut site representation"
From Mike's notes.

Get rid of cyan cut site representation in OVE... bad choice of color

[2018-04-06 02:43] XimeMora opened #290 "Edit part window needs to be mobile, need to see cursor move as changing part definition"
From Mike's notes.

Edit part window needs to be mobile, not gray out VE behind it... need to see cursor move as changing part definition with part boundary arrows so user can adjust dynamically.

[2018-04-06 18:07] tnrich commented on #289
I'm not sure what this is referring to. Could you send a screenshot of this issue?

[2018-04-06 18:28] tnrich commented on #289
@tgreen7 @mmatena this must be some custom css on hde or lims

[2018-04-06 19:50] mfero commented on #286
@craftjk was this a transient problem caused by not being synced with the latest version of OVE? Should I close this ticket?

[2018-04-06 19:52] craftjk commented on #286
This happened in both Mike's account and mine during the testing at Dow.  I don't have the exact steps to reproduce and it was only an occasional bug.  Let's keep this open and send it through QA so the QA team can keep an eye out for it.  I'll update to the latest OVE now.

[2018-04-09 21:12] tnrich opened #291 "Make template sequence position fixed to top if alignment tracks overflow"
The alignment tracks should scroll below but the template sequence should be fixed on top

[2018-04-09 21:34] tnrich commented on #245
@gmcarthuriv does having the full screen editor fix this issue for you?

[2018-04-09 22:09] XimeMora commented on #276
ORF translations are displaying correctly now.

[2018-04-09 22:11] gmcarthuriv commented on #245
Yep - looks great, @tnrich!

[2018-04-09 22:38] XimeMora commented on #272
Number of annotations is there.

[2018-04-09 23:27] XimeMora commented on #251
@tnrich this seems to work with some parts but if I use the same part from the gif above it is still not focusing that highlighted part on the screen, I still have to scroll to find it.

[2018-04-09 23:31] XimeMora commented on #243
Looks good on hde and lims!

[2018-04-10 00:29] #157 closed

[2018-04-10 17:03] tnrich commented on #289
@mfero was this on hde or lims or both?

[2018-04-10 17:20] christopher-lamkin opened #292 "Genbank feature parsing messes up when a feature wraps the whole sequence"
_From @craftjk on November 11, 2017 22:43_

To replicate, try loading this genbank file into the main app and into LIMS.  In the main app, the GFPuv feature wraps the whole sequence and in the LIMS app it's only one base pair long.

[genbank.zip](https://github.com/TeselaGen/lims/files/1464176/genbank.zip)

![screen shot 2017-11-11 at 4 36 09 pm](https://user-images.githubusercontent.com/4167907/3

[2018-04-10 22:28] XimeMora commented on #289
@tnrich I am seeing that cyan color only on hde. Lims cut site representations are black.

[2018-04-10 23:18] hplahar opened #293 "Sequence match not highlighted on vector map"
When you search for a sequence on the sequence view, you get a red highlighted region. But this doesn't show up on the vector map, which is the default view. So you only see you have a match for your query if you look carefully at the little "1/1" next to your query.

[2018-04-11 22:46] #167 closed

[2018-04-11 23:44] tnrich commented on #169
![image](https://user-images.githubusercontent.com/2730609/38648701-94f3b412-3da7-11e8-9c97-06cc2e7795ee.png)

[2018-04-11 23:44] tnrich commented on #172
![image](https://user-images.githubusercontent.com/2730609/38648705-9666186c-3da7-11e8-8211-8e4be714861d.png)

[2018-04-12 17:01] tnrich opened #294 "Highlight/Caret should track with undo/redo"
Currently the highlight/caret doesn't change as undo/redo occurs, but it should!

[2018-04-12 17:04] tnrich commented on #173
Closing as this is now deprecated. We went with a preview/fullscreen approach in lims.

[2018-04-12 17:04] #173 closed

[2018-04-14 04:38] gmcarthuriv commented on #240
@tnrich,

In ApE, the keyboard shortcut '**Cmd =**' toggles between upper and lower case. It's very handy. :D

[2018-04-14 04:41] gmcarthuriv opened #295 "Rotate to caret position"
Rotate to caret position (aka setting the beginning of the sequence at the current caret position)

This is possible in Peony's VE. Shortcut is '**Cmd B**.'

[2018-04-14 08:14] tnrich commented on #240
Hey George I'll make it happen :)

[2018-04-16 01:41] hplahar commented on #197
I will follow up with Ernst and Nathan tomorrow

[2018-04-16 21:05] tnrich opened #296 "Rotate to position broken for certain features"
Details to come

[2018-04-18 18:07] tnrich commented on #296
Okay, I figured out what the issue here is. We're allowing the sequence to be rotated, but the sequence is classified as a "linear" sequence. Thus when the rotation happens, the sequence data is cleaned and origin-spanning features are truncated. I think we have a few things we could do:

 - 1. Make it more clear what the topology of the sequence is in the bottom status bar
 - 2. Disable "rotate t

[2018-04-18 20:31] gmcarthuriv commented on #296
@tnrich, would you mind attaching an example?

[2018-04-18 20:49] tnrich commented on #296
[TEST2_000023.gb.zip](https://github.com/TeselaGen/openVectorEditor/files/1925770/TEST2_000023.gb.zip)

[2018-04-18 23:12] hplahar commented on #296
My preference is for 1,2 and 4 with the understanding that I have to handle 4 when embedding.

[2018-04-18 23:42] mfero commented on #296
1, 2, 4 would be my vote.

[2018-04-20 23:59] tiffanydai opened #297 "Hover or highlight for bp pos in sequence"
Hover or highlight a nucleotide to see its base pair position in the sequence

[2018-04-23 00:51] tnrich commented on #297
@tiffanydai highlighting a base pair already displays its position in the little status bar. Is the request supposed to be just for hovering?

[2018-04-23 17:28] tnrich commented on #296
Okay, 1 and 2 are in the latest OVE version. #4 will need to be implemented by the OVE consumer.

[2018-04-23 22:56] mfero opened #298 "Auto-translation and auto-calculation of AA sequences and their physical properties"
_From @mfero on February 23, 2018 0:36_

_From @gmcarthuriv on September 14, 2017 20:54_

@craftjk, @rpavez - I described this feature in our recent call, but wanted to clearly describe it here.

### Feature request description

- Upon importing GenBank or SBOL files, each annotated protein coding sequence (CDS) is automagically translated into the corresponding amino acid sequence (AAS).
- Each A

[2018-04-23 22:56] mfero commented on #298
This is a VE issue.. I'll move it.

[2018-04-24 23:51] XimeMora commented on #280
This looks much better now.

[2018-04-25 18:27] tnrich commented on #298
@mfero is this supposed to be an OVE issue?

[2018-04-25 18:32] AdamZMc commented on #244
Command+i selects the inverse!

[2018-04-25 18:35] AdamZMc commented on #280
Looks good!

[2018-04-25 18:36] AdamZMc commented on #284
This hasn't been an issue for me. Moving along.

[2018-04-25 18:39] AdamZMc commented on #279
Looks good!

[2018-04-25 18:42] AdamZMc opened #299 "Fullscreen a tab in OVE Dark Theme and the category buttons disappear"
When using the Dark Theme, open OVE and fullscreen the Properties tab and see:

![ovenight](https://user-images.githubusercontent.com/36317055/39265977-91851452-487d-11e8-9977-3c62b71c1b10.gif)

[2018-04-25 18:50] AdamZMc commented on #288
By default ORF indicators are off. Moving on!

[2018-04-25 18:52] tnrich commented on #297
![image](https://user-images.githubusercontent.com/2730609/39266512-1097860c-487f-11e8-9610-18d1f31dabb8.png)

[2018-04-25 18:53] tnrich commented on #168
Single cutters are now red
Double cutters are blue
All other enzymes are light grey

[2018-04-25 18:59] AdamZMc commented on #172
Looks good!

[2018-04-25 19:02] tnrich opened #300 "Add zoom in ability to circular/plasmid view"
The implementation of this could go a few different ways. I am partial to something like benchlings zoom in.

We could also have the VE standard zoom

[2018-04-25 19:03] AdamZMc commented on #251
Looks good to me!

[2018-04-25 19:04] tnrich commented on #292
@christopher-lamkin this is definitely due to the sequence being read as linear. Can you set up a hangout and we can fix this one together?

[2018-04-25 20:16] XimeMora commented on #288
Looks good.

[2018-04-25 20:25] XimeMora commented on #279
This is working fine.

[2018-04-25 20:30] XimeMora commented on #189
@tnrich what is the hotkey for this one?

[2018-04-25 20:42] XimeMora commented on #242
This is working correctly.

[2018-04-25 20:56] XimeMora commented on #290
This is working nicely!

[2018-04-25 21:44] XimeMora commented on #223
Highlighting corresponding AA's codons is working nicely.

[2018-04-25 22:28] XimeMora opened #301 "Create New Alignment button looks off"
The "Create New Alignment" button looks off. I guess we can get rid of that button and open the Create New Alignment window immediately after clicking on the Alignment icon unless the tool will have more options for this icon:

![screen shot 2018-04-25 at 2 55 55 pm](https://user-images.githubusercontent.com/21211903/39276181-e70ab8ae-489c-11e8-8f2a-56d3a2b38b48.png)

[2018-04-25 22:46] XimeMora commented on #255
@tnrich what was exactly the problem with the scrolling? The alignment that I'm seeing looks different than your image above. Also it is placed at the bottom of the page leaving a blank space at the top:

![screen shot 2018-04-25 at 3 38 33 pm](https://user-images.githubusercontent.com/21211903/39276818-aaab04e2-489f-11e8-9ec9-d6e8810940ba.png)

[2018-04-25 22:58] XimeMora commented on #256
This has been fixed 👍

[2018-04-25 23:01] XimeMora commented on #264
Clicking in the minimap to move is working fine.

[2018-04-25 23:04] XimeMora commented on #265
It still looks the same to me:

![screen shot 2018-04-25 at 4 03 37 pm](https://user-images.githubusercontent.com/21211903/39277380-48fd0c2e-48a2-11e8-8650-5362cad542e6.png)

[2018-04-25 23:31] XimeMora commented on #257
I'm failing this one because when toggling between full screen and back the adjusted zoom is not preserved and is behaving different.
Also you can move the yellow indicator but not drag the sides to adjust the zoom.
(I'll add the gif...)

[2018-04-25 23:36] tnrich commented on #257
@XimeMora can you pass this one and make new issues for what you mentioned please :)

[2018-04-25 23:36] tnrich commented on #255
@XimeMora this one is old. Closing

[2018-04-25 23:36] #255 closed

[2018-04-26 00:07] #257 closed

[2018-04-26 00:45] XimeMora opened #302 "Alignments > Zoom not preserved when toggling full screen"
Toggling between full screen and back the adjusted zoom is not preserved and is behaving different.

[2018-04-26 01:07] XimeMora opened #303 "Alignments > Add an option to drag the sides of the yellow indicator in the minimap to adjust the zoom"
From ticket #257

"Also we should add an option to drag the sides of the yellow indicator to adjust the zoom to a particular region :)"

[2018-04-26 01:28] XimeMora commented on #258
There is an eye icon with the visibility options. Looks good.

![screen shot 2018-04-25 at 6 26 47 pm](https://user-images.githubusercontent.com/21211903/39280830-5e3a9d04-48b6-11e8-922d-927a7beaef52.png)

[2018-04-26 01:32] XimeMora commented on #267
I don't see that option now. There is a ticket with a fix/enhancement related to this #301

[2018-04-26 02:06] XimeMora commented on #297
I see the bp position in the status bar at the bottom but not like a tooltip when hovering, @tiffanydai @tnrich should I see it in a tooltip too?

[2018-04-26 02:47] XimeMora commented on #291
@tnrich does this have to work the same for when selecting "Create Pairwise Alignment" and when not?

![screen shot 2018-04-25 at 7 28 02 pm](https://user-images.githubusercontent.com/21211903/39282592-d304378c-48be-11e8-9e54-2c7f7c900cb7.png)

This is how it is working now so the template sequence disappears when scrolling down:

![fixedtemplateseq](https://user-images.githubusercontent.com/21211

[2018-04-26 03:12] XimeMora commented on #297
Not seeing the tooltip :(

[2018-04-26 03:34] XimeMora commented on #296
This is working nicely.

[2018-04-26 04:15] XimeMora commented on #170
No feature tool dropdown. Looks good.

[2018-04-26 04:29] XimeMora commented on #284
This has been fixed, it's not happening on registry-test2.

[2018-04-26 04:35] XimeMora commented on #225
@tnrich as I saw in ticket #296 we are not allowing to rotate a linear sequence, right?

[2018-04-26 04:45] XimeMora commented on #169
Looks good.

[2018-04-26 04:57] XimeMora commented on #263
@tnrich should we move this ticket back?

[2018-04-26 05:29] XimeMora commented on #168
@tnrich I would feel bad if I failed this ticket after your poetry 🤣 so I better ask... is the demo page and the rest of the instances not updated? Because I'm not seeing the colors 😞

[2018-04-26 05:59] XimeMora opened #304 "Parts are being imported as Features"
When uploading a sequence that contains parts these are converted to features. This is happening on http://teselagen.github.io/openVectorEditor/ , LIMS and JBEI-ICE (HDE is importing the parts correctly).

This is the same sequence uploaded in each instance:

**HDE**

![screen shot 2018-04-25 at 10 44 22 pm](https://user-images.githubusercontent.com/21211903/39287799-3afe1450-48da-11e8-96ab-22cb09

[2018-04-26 06:11] XimeMora opened #305 "Copy Options not working"
The right click menus 'Copy > Copy' and 'Copy > Copy Options' are broken, they don't do anything.

![copyoptions](https://user-images.githubusercontent.com/21211903/39288613-89f5ed1e-48dd-11e8-8f28-135d050fc8f8.gif)

[2018-04-26 07:44] AdamZMc commented on #267
Looks good.

[2018-04-26 07:51] AdamZMc commented on #290
Looks great!

[2018-04-26 16:59] tnrich commented on #168
Hmm I'll let you know when I'm sure it is deployed

On Wed, Apr 25, 2018, 10:29 PM XimeMora <notifications@github.com> wrote:

[2018-04-26 22:02] tnrich commented on #213
@mfero do we really want to have this be the default? Should this only be black in "dark mode" ?

[2018-04-26 22:21] tnrich opened #306 "Snap editor panes closed"
You should now be able to drag an editor pane to close it.

See the gif:

![untitled](https://user-images.githubusercontent.com/2730609/39329270-a51b0014-4952-11e8-80bf-116a9850966e.gif)

[2018-04-27 05:44] AdamZMc commented on #306
Looks good.

[2018-04-30 07:45] AdamZMc commented on #264
Looks good to me.

[2018-04-30 07:47] AdamZMc commented on #256
This hasn't been an issue for me. Moving along.

[2018-04-30 17:10] tnrich opened #307 "Toolbar flashes when using it"
It's a bit hard to see in the gif, but when I click on the cutsites the Popover closes and re-opens really quickly:
![untitled](https://user-images.githubusercontent.com/2730609/39440149-da29e874-4c5e-11e8-99da-d89855523567.gif)

[2018-04-30 18:44] tnrich commented on #297
Hmm you have to hover for a little bit (it is a built in browser tooltip). I am looking on http://teselagen.github.io/openVectorEditor/ and see it now. Maybe check again?

[2018-04-30 18:44] tnrich commented on #265
Closing as this is too vague

[2018-04-30 18:44] #265 closed

[2018-04-30 19:03] XimeMora commented on #189
@tnrich just to confirm... I think this is the one, right?

![screen shot 2018-04-30 at 12 01 16 pm](https://user-images.githubusercontent.com/21211903/39444984-59b116c6-4c6e-11e8-8de1-11eade3cf497.png)

[2018-04-30 19:11] XimeMora commented on #273
Pairwise alignment is working nicely!

[2018-04-30 19:24] tnrich commented on #189
Hey @XimeMora yep that is the one. We'll need to go back over our hotkey implementation in a little while once I've implemented the stuff Juan's been working on. Maybe I'll just close this for right now. Not a great ticket..

[2018-04-30 19:25] #189 closed

[2018-04-30 19:26] XimeMora commented on #168
I can see the colors now 😄 Looks good!

[2018-04-30 19:30] #263 closed

[2018-04-30 19:39] XimeMora commented on #307
This has been fixed.

[2018-04-30 19:39] tnrich opened #308 "Add ability to "Cut""
As opposed to Copy or Paste

[2018-04-30 19:59] XimeMora commented on #297
I can see the tooltip now 👍

[2018-04-30 20:27] hplahar opened #309 "Scrolling broken in firefox for pairwise alignment"
When inspecting the track for a pairwise alignment, scrolling sideways in firefox doesn't work.

[2018-04-30 20:33] XimeMora commented on #225
"Rotate to here" is working nicely.

[2018-05-01 00:27] XimeMora commented on #306
Closing an editor pane by dragging it is working, but it is creating some issues with the scrolling, I'll create a new ticket for that.

[2018-05-01 00:42] XimeMora opened #310 "Scrolling issue after closing editor panes by dragging"
After closing an editor pane by dragging it the scrollbar increases its length so the menu bar at the bottom goes very far down leaving a blank space and you have to scroll down to see it.

![dragpane](https://user-images.githubusercontent.com/21211903/39456672-1f0e23f4-4c9d-11e8-8597-8aaa9ff3bd67.gif)

[2018-05-01 07:35] AdamZMc commented on #297
Looks good.

[2018-05-01 07:40] AdamZMc commented on #307
This seems fixed to me. Moving along.

[2018-05-01 17:03] tnrich commented on #291
@XimeMora this feature is only applicable if there is an explicit template (aka reference) sequence. For general Multi Sequence Alignments (MSAs) the top track should not be fixed.

[2018-05-01 17:13] tnrich opened #311 "Make feature click jump to properties table row"

[2018-05-01 19:35] tnrich opened #312 "Orf coloring off in circular view"
![image](https://user-images.githubusercontent.com/2730609/39489954-094a4dfa-4d3c-11e8-82c9-d84b727124bc.png)

All those purple orfs should be either red/green/blue

[2018-05-01 20:04] tnrich commented on #249
Hey @XimeMora I don't think that file you sent me has the messed up label drawing in question. Could you make sure it is correct and send it again?

[2018-05-01 20:42] XimeMora commented on #291
It is working for the Pairwise Alignment so I'll pass this ticket.

[2018-05-01 22:26] XimeMora commented on #249
@tnrich sure!:

For the sequence's part:
[pj5_00001.gb.zip](https://github.com/TeselaGen/openVectorEditor/files/1965339/pj5_00001.gb.zip)

For the sequences's feature:
[pj5_00001.gb.zip](https://github.com/TeselaGen/openVectorEditor/files/1965344/pj5_00001.gb.zip)

[2018-05-03 19:17] XimeMora commented on #305
Copy options seem to work but I can't fully test it because the copied base pairs can't be pasted, it seems that the selection has some extra quote marks and that's why I'm getting the "Sorry no valid base pairs to paste"

![novalidbps](https://user-images.githubusercontent.com/21211903/39597868-9f63e9dc-4ecb-11e8-85cf-646e570871ce.gif)

[2018-05-03 19:33] XimeMora commented on #282
This is working nicely now!

[2018-05-03 19:48] XimeMora commented on #303
Looks good!

[2018-05-05 06:09] AdamZMc commented on #303
Looks good.

[2018-05-05 22:27] AdamZMc commented on #258
Looking good.

[2018-05-05 22:33] AdamZMc commented on #277
Looks good!

[2018-05-05 22:35] AdamZMc commented on #225
Looks great!

[2018-05-05 22:37] AdamZMc commented on #169
Looks good. Moving along.

[2018-05-05 22:41] AdamZMc commented on #282
Looks good!

[2018-05-05 22:47] AdamZMc commented on #168
Colors have been implemented.

[2018-05-07 02:00] tnrich commented on #311
Feature click as well as other annotations will now jump to the corresponding properties tab and annotation.

[2018-05-07 02:02] tnrich commented on #305
@XimeMora  this should be fixed now.

[2018-05-07 02:27] tnrich commented on #292
Hey @mfero after looking into the genbank file, it looks like the genbank is incorrect:

![image](https://user-images.githubusercontent.com/2730609/39682183-4d757e66-5163-11e8-9ead-967caff0ee5f.png)

As you can see above, the genbank says its size is 108 bps when in actuality there are only 103 bps total in the file.

It's for this reason the parser is failing to give the correct response. I could

[2018-05-07 03:05] tnrich commented on #292
Okay well I went ahead and made features whose ends "hang off" be truncated to the end of the sequence instead of to 1.

[2018-05-07 22:23] tnrich opened #313 "Create Alignment View UMD/standalone interface"

[2018-05-07 22:24] tnrich opened #314 "Update lims/hde with the OVE undo/redo interface changes"

[2018-05-07 22:24] tnrich opened #315 "Fix alignment view firefox bugs"

[2018-05-09 18:37] tnrich commented on #251
@XimeMora can you try this one out again? I think it should be better now.

[2018-05-09 21:10] AdamZMc commented on #251
Looks good!

[2018-05-09 21:13] AdamZMc commented on #305
Looks great!

[2018-05-09 21:15] AdamZMc commented on #311
Looks good.

[2018-05-09 21:43] AdamZMc commented on #296
Looks good!

[2018-05-10 18:09] tnrich commented on #313
@hplahar the standalone alignment view should be ready to go now. Please refer to the documentation here: https://github.com/TeselaGen/openVectorEditor#alignments

[2018-05-10 18:15] #314 closed

[2018-05-10 20:54] tnrich commented on #246
@mfero @gmcarthuriv

What do you all think about the following interface?

![image](https://user-images.githubusercontent.com/2730609/39893721-8a35b782-5459-11e8-878a-99fb8476222b.png)

Hovering the plus button looks like:
![image](https://user-images.githubusercontent.com/2730609/39893741-96ea2f9e-5459-11e8-9f9d-df7e695788e8.png)

[2018-05-10 21:03] mfero commented on #246
Should we have the option of keeping original annotation and adding new?

[2018-05-10 22:27] tnrich commented on #246
I'm not sure I fully understand @mfero. What are you saying exactly?

[2018-05-10 22:28] mfero commented on #246
A checkbox to "keep original annotation". So the original annotation does not get replaced.

[2018-05-11 01:11] tnrich commented on #246
Oh I see. Yep I'll add that option in there!

On Thu, May 10, 2018, 3:28 PM Michael Fero <notifications@github.com> wrote:

[2018-05-11 20:12] tnrich commented on #260
I believe this has been implemented in HDE

[2018-05-14 16:05] tnrich commented on #310
Dang, can't reproduce locally. Let's pair together in the SF office and solve this one.

[2018-05-14 17:41] tnrich opened #317 "make sure there is default sequence validation for inserts"

[2018-05-14 21:44] XimeMora commented on #311
Feature click is jumping to the corresponding annotation, the same as parts. Cutsites and Orfs are not, is that fine @tnrich

[2018-05-14 21:49] XimeMora commented on #305
@tnrich I'm still getting the "Sorry no valid base pairs to paste" message.

[2018-05-14 21:54] XimeMora commented on #251
@tnrich this issue is still happening for me.

[2018-05-14 22:09] XimeMora commented on #246
This functionality is working fine, I just noticed some issues related with it that will be addressed in a new ticket.

[2018-05-14 22:26] XimeMora commented on #260
Autosave is working in HDE! 👍

[2018-05-14 22:37] XimeMora commented on #293
Region is now highlighted on both Sequence and Plasmid views.

[2018-05-17 22:47] AdamZMc commented on #260
Looks good!

[2018-05-17 23:08] AdamZMc commented on #293
Looks good!

[2018-05-21 18:34] craftjk commented on #246
@XimeMora you can open this up as a Arzeda ticket in hde

[2018-05-21 19:29] XimeMora commented on #246
This issue was moved to TeselaGen/hde#1574

[2018-05-21 20:11] tnrich opened #318 "improve translations vs orf translations language in the view tool"

[2018-05-21 20:13] tnrich opened #319 "Add option to have partial digests"
More info needed.

[2018-05-21 20:16] tnrich opened #320 "Add info helpers to find tool explaining literal/ ambiguous"
![image](https://user-images.githubusercontent.com/2730609/40327878-422e8614-5cf9-11e8-89aa-95e6ab8f8f95.png)

[2018-05-21 20:37] tnrich opened #321 "Replace https://j5.jbei.org/VectorEditor/VectorEditor.html with OVE"

[2018-05-21 20:51] tiffanydai opened #322 "Alignments > Chromatogram data not rendering at certain zoom levels"
![screen shot 2018-05-21 at 1 49 25 pm](https://user-images.githubusercontent.com/35508772/40329299-f3b233dc-5cfd-11e8-82e1-4f2d22eef06c.png)
![screen shot 2018-05-21 at 1 49 43 pm](https://user-images.githubusercontent.com/35508772/40329304-f592f380-5cfd-11e8-917e-47e975f6b36c.png)

[2018-05-21 21:08] tnrich commented on #317
You should now no longer to have chars like "/" be pasted in.

[2018-05-21 21:27] tnrich opened #323 "Improve back button placement in OVE alignment view"

[2018-05-21 22:38] #313 closed

[2018-05-21 22:47] XimeMora opened #324 "Undoing after merging features is not bringing back the original unmerged features"
When using the option to merge features if I don't select Preserve features option and then click Undo the new merged feature disappears but the two original ones don't come back.

![undo merge feat](https://user-images.githubusercontent.com/21211903/40333565-0039d686-5d0e-11e8-92af-2e4d2505722b.gif)

[2018-05-21 22:53] XimeMora opened #325 "Closing the Merge Features window does not close it but it moves the window upwards instead"
Clicking the "X" at the top right of the Merge Features window is moving the window upwards instead of closing it.

![merge feat x](https://user-images.githubusercontent.com/21211903/40333670-8bcee31c-5d0e-11e8-9ea9-aac3f2d2dec9.gif)

[2018-05-21 23:00] XimeMora opened #326 "New features are not recognized when trying to select them to merge with another feature"
Using the Merge Features option on a newly created feature is not recognizing that feature when trying to select it from the plasmid or sequence map.

![merge new feat](https://user-images.githubusercontent.com/21211903/40333905-c463ac70-5d0f-11e8-80b2-938eaf5e4ac0.gif)

[2018-05-21 23:07] XimeMora commented on #246
There is a ticket now in hde for the DE workflow described above https://github.com/TeselaGen/hde/issues/1574

I also created the following tickets for issues related with the Merge Features functionality: #324 #325 and #326

[2018-05-22 16:29] tnrich commented on #323
It should now look like:
![image](https://user-images.githubusercontent.com/2730609/40376096-58cb83d2-5da2-11e8-8d45-7d87c2690392.png)

[2018-05-22 17:05] tnrich commented on #310
@XimeMora has this one been fixed already?

[2018-05-22 17:07] tnrich commented on #305
@XimeMora can you check this one again? I believe a fix has been implemented

[2018-05-22 17:17] tnrich commented on #304
@XimeMora can you revist this issue? I believe I have improved the part import workflow in our underlying parsers.. maybe it will just work as expected now? That is correct that jbei shouldn't know anything about parts. Ideally lims and hde should both auto-import "feature-parts" as parts.

[2018-05-22 17:25] hplahar opened #327 "onSave callback not returning correct sequence end when spanning origin"
This appears to only occur when you edit a feature to span the origin.

To reproduce:
1. Create any arbitrary sequence (assume length is 20)
2. Create a feature that starts from position 15 to 20
3. Edit feature to have the end position span the origin (e.g end at position 5)
4. Click save to trigger the onSave callback.

The sequenceData object that is returned in the onSave function contains the

[2018-05-22 17:37] tnrich commented on #251
This should be fixed once https://github.com/TeselaGen/hde/commit/32e6123fc4215841b95faa57e8f9fe16d9dfec73 makes it to dev. @mmatena do you know when that will be?

[2018-05-22 18:09] tnrich commented on #327
@hplahar is the sequence linear or circular?

[2018-05-22 18:27] hplahar commented on #327
Ah, it was circular but I was setting that incorrectly in the sequence data for openVE so it thought it was linear. Issue resolved. Thanks!

[2018-05-22 18:27] #327 closed

[2018-05-22 20:27] XimeMora commented on #310
It seems fixed now 👍

[2018-05-22 20:39] XimeMora commented on #305
I was able to paste base pairs correctly 👍
I'll pass this ticket and create a new one for anothe issue with the copy options not working properly.

[2018-05-22 20:43] tnrich opened #328 "Not able to fully delete sequence!"

[2018-05-22 20:57] XimeMora opened #329 "Copy options are including features and parts when they are not selected"
When deselecting the right click options Copy > Copy Options > Include: Features, Partial Features, Parts, Partial Parts all partial and full features and parts are being copied.
![copy options](https://user-images.githubusercontent.com/21211903/40389573-a76021fe-5dc7-11e8-9410-e3d8ee633c82.gif)

[2018-05-22 21:48] XimeMora commented on #304
@tnrich HDE and the stand alone OVE are handling parts correctly but LIMS is still displaying parts as features, maybe it is not updated @tgreen7 ?
As for jbei-ice parts are also displayed as features with the error mentioned above but I guess that is ok for now as they are not importing parts in their sequences?

[2018-05-23 18:39] tnrich commented on #328
You should now be able to select and delete the whole sequence

[2018-05-23 23:05] tnrich commented on #145
@mmatena can you please investigate how we might leverage our current code to handle genome scale sequences as well as different file types such as .bed, .bb, .bam/bai. Here is some example data from another open source genome browser: https://github.com/hammerlab/pileup.js/tree/master/test-data

If it seems like our editor is not amenable to it, see if we can customize either https://github.com/h

[2018-05-24 06:10] XimeMora commented on #328
@tnrich are you referring to delete the sequence from inside the vector editor, selecting all the base pairs in the sequence map and pressing the "delete" key?

[2018-05-24 06:17] XimeMora commented on #320
Ambiguous substitutions info added 👍

[2018-05-24 06:32] XimeMora commented on #317
Invalid characters are not being pasted in.

[2018-05-24 06:47] XimeMora commented on #294
@tnrich can you confirm if this is the behavior you are referring to?:

![highlight undo](https://user-images.githubusercontent.com/21211903/40468678-b57df4dc-5ef3-11e8-9a88-d5952f374d5f.gif)

If not, can you give an example?

[2018-05-24 16:51] gmcarthuriv commented on #145
Hi, @tnrich - I have some info in a LIMS ticket: https://github.com/TeselaGen/lims/issues/896

Please let me know if you'd like to chat about this feature sometime. I don't think it needs to be super fancy - just a way to view genome-scale GenBank files, including annotations of modifications/edits to engineered strains.

[2018-05-25 16:24] tiffanydai opened #330 "Zoom into circular view"
- [x] make sure selection layer in circular zoomed view looks good (update inner radius)
- [x] make sure primers are still drawing
- [x] make sure cutsites are still drawing correctly
- [x] show base pairs at a certain zoom level
- [x] make sure seq name gets rendered nicely at different zoom levels
- [x] make sure axis tick mark labels are rendered properly
- [x] zoom should focus on selection/ca

[2018-05-28 18:07] gmcarthuriv opened #331 "Select, then copy AA translation"
@tnrich, is this currently possible? If not, this would be very helpful - but maybe it's already a feature and I'm missing how to do this.

[2018-05-30 00:54] gmcarthuriv commented on #331
@tnrich, I think the right-click menu is broken in LIMS. @christopher-lamkin, is LIMS using the latest openVE?

[2018-05-30 00:56] XimeMora commented on #294
Ok, so I'll move this ticket along 👍

[2018-05-30 01:03] XimeMora commented on #304
I'll fail this one because LIMS is still importing parts as features.

[2018-05-30 01:07] XimeMora commented on #328
Whole sequence can be deleted 👍

[2018-05-30 17:16] tnrich commented on #331
@gmcarthuriv seems like it is working for me on limsdev:

![image](https://user-images.githubusercontent.com/2730609/40736304-8723fbf0-63f2-11e8-851b-ff7819e2666e.png)

@christopher-lamkin or @tgreen7 can you confirm that this is working for you all?

[2018-05-30 17:17] tnrich commented on #329
This should be ready to go now @XimeMora

[2018-05-31 00:28] hcdepaoli commented on #319
Hi Thomas, I mentioned this functionality as it might help people to check for the pattern given by only a partial digestion that may occur in different scenarios. I can think of situations like checking a vector sent by a user and then I'm having a faulty (old, short lived etc) restriction enzymes that won't digest entirely or even when doing my own cloning and indeed looking for a partial digest

[2018-06-01 21:50] XimeMora commented on #251
So far this issue is still happening on hde.

[2018-06-01 22:36] XimeMora commented on #329
@tnrich the issue mentioned before is fixed but selecting only Partial Features and/or Partial Parts is not working, although they work if Features and Parts options are selected too. Do full Features and Parts need to be selected in order for the partials to work?

![copy options](https://user-images.githubusercontent.com/21211903/40865532-8eace6e0-65ad-11e8-81bd-62e69b718b43.gif)

[2018-06-01 22:47] XimeMora commented on #325
This issue is still happening.

[2018-06-01 22:56] XimeMora commented on #324
This is now working correctly 👍

[2018-06-01 23:02] XimeMora commented on #326
This looks good now!

[2018-06-03 18:54] hcdepaoli commented on #319
Hi Thomas,

Yes, this sounds pretty good.
No need to create " nothing cuts" as these are 1) hard to predict for
coiled/supercoiled DNA and 2)people run (or at least they should) a
non-digest control on their gels so a total failure can be tracked.

Thank you!!

Henrique

On Thu, May 31, 2018 at 4:26 PM, Thomas Rich <notifications@github.com>
wrote:

[2018-06-04 16:04] tnrich commented on #315
@XimeMora could you give the alignment view a one over on firefox and see if it works like it does in chrome? Thank you!

[2018-06-04 16:06] tnrich commented on #325
Hmm I'm not able to reproduce this. We'll maybe need to pair on this..?

[2018-06-04 16:06] tnrich commented on #329
Good catch Xime, I'll need to add in logic to make it clear that unchecking features also unchecks partial features (like in old ve)

[2018-06-04 16:15] tnrich commented on #304
This one might be fixed when https://github.com/TeselaGen/lims/commit/9d6e6a0b26ad58d641b1530b895661d81f36748d makes it to dev.

[2018-06-04 21:07] XimeMora commented on #315
It seems to be working fine, but there are some scrollbars that are covering the view of some elements like the tab titles and the bottom of the alignment panel above the mini map.

![tab names](https://user-images.githubusercontent.com/21211903/40941295-41418ea2-67ff-11e8-8e63-4a56ea8b940c.PNG)

![scrollbars2](https://user-images.githubusercontent.com/21211903/40941306-4979deda-67ff-11e8-92da-319

[2018-06-04 21:10] tnrich commented on #315
Hmm yeah.. It would be nice to have those hidden but there isn't a simple
drop in solution to that. Maybe sometime down the line!

On Mon, Jun 4, 2018 at 2:07 PM XimeMora <notifications@github.com> wrote:

[2018-06-05 01:07] XimeMora commented on #329
Copy options are working nicely! 👍

[2018-06-05 01:20] XimeMora commented on #309
@tnrich @hplahar is this the scrolling that you are referring to?:

![scrolling](https://user-images.githubusercontent.com/21211903/40949595-a2bcb89a-6823-11e8-8bc6-a50844861097.gif)

[2018-06-05 23:35] tnrich commented on #325
Hopefully we can get a fix from https://github.com/bokuweb/react-rnd/issues/209

[2018-06-06 16:57] hplahar commented on #309
yes

[2018-06-06 17:02] hplahar opened #332 "Expanding the preview area in pairwise alignment causes the dna letters to disappear"
After clicking and dragging one of the boundaries of the yellow area to increase the view range of the pairwise alignment, the dna letters were no longer displayed. See the attached screenshot
<img width="811" alt="screen shot 2018-06-06 at 9 57 25 am" src="https://user-images.githubusercontent.com/1694026/41053559-c801ef8c-6970-11e8-81b3-a8597585825c.png">

[2018-06-11 20:38] tnrich commented on #332
Hey @hplahar the bps are not being shown once the sequence has been zoomed out past a certain level. We have the threshold character width below which we don't show the individual dna bps. Currently that threshold is set to 7px. We could change that to make it smaller.

Alternatively we could render say colored rectangles instead of actual letters after a certain threshold.

Thoughts?

[2018-06-11 21:09] tnrich opened #333 "Make sure excessive red isn't shown on the sides of aligned regions"
Instead of:
![image](https://user-images.githubusercontent.com/2730609/41262672-08ff6058-6d97-11e8-9109-43c78d77cbe1.png)

It should not show the red at the start and the end:
![image](https://user-images.githubusercontent.com/2730609/41262683-172f3946-6d97-11e8-9d37-802832efcf6e.png)

[2018-06-12 17:43] hplahar commented on #332
Can both options be applied? i.e. make the threshold smaller and render rectangles beyond that.

[2018-06-12 17:55] XimeMora commented on #309
The scrolling is working now, it is a little slow though.

[2018-06-12 18:39] tnrich commented on #332
Yeah I'll try that out for the alignment view and let you know how it goes.

[2018-06-12 23:58] XimeMora opened #334 "Add Revision History to Vector Editor"
We need to implement versioning like in app.teselagen.com (Google style rollback)

![versioning](https://user-images.githubusercontent.com/21211903/41323106-762d76f4-6e61-11e8-8a68-dfeedf8d6557.PNG)

[2018-06-13 20:47] XimeMora opened #335 "OVE --> Properties > Genbank > Make Genbank textbox wider"
_From @XimeMora on June 13, 2018 20:46_

### Describe what's going wrong/what needs to change.
Make Genbank textbox wider
### Steps to reproduce the behavior
OVE > Properties > Genbank
### Screenshots/gif of issue
![genbank](https://user-images.githubusercontent.com/21211903/41377096-e53a40aa-6f0f-11e8-8ce6-a559d1be9132.PNG)

_Copied from original issue: TeselaGen/hde#1656_

[2018-06-16 01:17] XimeMora opened #336 "Highlight remains when a different sequence is opened"
Select some base pairs in the sequence map or plasmid and then open a new sequence, you will see that the highlight remains rendered for the same number of base pairs that were selected in the previous sequence.

![highlight](https://user-images.githubusercontent.com/21211903/41494449-f4ef8aa0-70c7-11e8-9aff-0f5261510382.gif)

[2018-06-18 20:12] XimeMora commented on #251
I'll fail this one because I still have to scroll to search for the highlighted part.

[2018-06-18 20:20] XimeMora commented on #332
This looks good!

[2018-06-18 20:56] XimeMora commented on #335
The textbox looks better now, but when resizing the window it is not adjusting properly, it sticks to the left side, @tnrich can we make it centered?

![genbank](https://user-images.githubusercontent.com/21211903/41561353-887de2a2-72fe-11e8-848f-15af34de429c.gif)

Also, is it possible to make the base pairs aligned like in the old ve?

![genbank aligned](https://user-images.githubusercontent.com/2

[2018-06-18 21:16] XimeMora commented on #333
Looks good.

[2018-06-19 19:24] XimeMora opened #337 "Add "Make a Part from Feature" option to the features right-click menu"
Add "Make a Part from Feature" option to the features right-click menu on both the map and the sequence view:

![screen shot 2018-06-19 at 12 19 14 pm](https://user-images.githubusercontent.com/21211903/41619558-9160a16c-73bb-11e8-945e-7b58517d8c73.png)

![screen shot 2018-06-19 at 12 22 42 pm](https://user-images.githubusercontent.com/21211903/41619566-953867fc-73bb-11e8-874b-c56d198eea90.png)

[2018-06-19 22:21] XimeMora opened #338 "Dialog windows - Change Submit button to Cancel and Save buttons"
Change Submit button to Cancel and Save buttons in the dialog windows as we have in Peony's vector editor.

- [x] Create Feature
- [x] Create Part
- [x] Create Primer
- [x] Edit Feature
- [x] Edit Part

![no submit](https://user-images.githubusercontent.com/21211903/41627243-61f468aa-73d4-11e8-93d7-9db026e0b699.PNG)

![cancel-save](https://user-images.githubusercontent.com/21211903/41627247-6554d9

[2018-06-20 00:20] XimeMora opened #339 "Adjust OVE to the full screen by default"
In HDE when opening the vector editor there's a blank space at the bottom, the editor should adjust to the full screen like it does for LIMS.

![blank space](https://user-images.githubusercontent.com/21211903/41630616-b5f712e4-73e4-11e8-82f7-83f5b729deba.PNG)

[2018-06-20 18:20] mfero commented on #339
This issue was moved to TeselaGen/hde#1711

[2018-06-20 18:20] #339 closed

[2018-06-26 23:15] tiffanydai commented on #261
![screen shot 2018-06-26 at 4 11 38 pm](https://user-images.githubusercontent.com/35508772/41944298-09bf7552-795c-11e8-8dde-93c216480459.png)

[2018-06-26 23:34] tiffanydai commented on #301
Once the alignment tool in HDE is ready, we'll change OVE's alignment dropdown/popups to match those more organized menus/options :)

[2018-06-27 00:06] tiffanydai commented on #268
Feedback from Mike: Some colors look too saturated during demos, would be better to have a color palette to select from for annotations (either choose an entirely different color or at least switch the shade of that color)

[2018-06-27 01:56] tnrich commented on #325
This should now be able to be fixed! https://github.com/bokuweb/react-rnd/issues/209#issuecomment-399761141

[2018-06-27 01:56] tnrich commented on #325
This should now be able to be fixed! https://github.com/bokuweb/react-rnd/issues/209#issuecomment-399761141

[2018-06-28 00:35] tiffanydai opened #340 "Alignments > List of mismatches in alignment"
Rather than the user needing to scroll through the alignment tracks looking for red highlights, have a panel that shows a list of the bp pos of mismatches

[2018-06-28 00:41] tiffanydai commented on #340
Sample .ab1 files attached for QA (unzip before use & set template to be Lib89.gb as shown in screenshot below)
[Sampleab1files.zip](https://github.com/TeselaGen/openVectorEditor/files/2143341/Sampleab1files.zip)
![screen shot 2018-06-27 at 5 36 39 pm](https://user-images.githubusercontent.com/35508772/42006844-2dcd4d90-7a31-11e8-8c64-377b87ee37b3.png)
![screen shot 2018-06-27 at 5 37 37 pm](https

[2018-07-03 17:53] tnrich commented on #335
This should be fixed now

[2018-07-03 21:51] XimeMora opened #341 "Editing the feature type is not changing the color in the plasmid view"
Changing the feature type through right-click > Edit Feature > select a different feature type is changing the color of the feature in the sequence map but not in the plasmid view.

![feature color](https://user-images.githubusercontent.com/21211903/42246135-527c872a-7ed0-11e8-9dab-853c0859f34d.gif)

[2018-07-03 22:32] XimeMora opened #342 "Changing the sequence from circular to linear cuts the annotations that cross the origin"
In HDE changing the sequence from circular to linear cuts the annotations that cross the origin. I guess it is correct to not have annotations across the origin for linear sequences but what the correct UX should be for this? Maybe just a warning that the features and parts are going to be cut? @njhillson can we have your advise here?

![cut annotations](https://user-images.githubusercontent.com/2

[2018-07-03 23:20] XimeMora opened #343 "Properties > Cutsites > Strand info is blank"
In the Properties tab > Cutsites selecting a cutsite shows the number of cuts, position and strand in a table but the strand column is empty, we should add "palindromic" as we have it in the main app:

![ove strand](https://user-images.githubusercontent.com/21211903/42248876-be3238b4-7edc-11e8-99d4-5459bd22ac72.PNG)

![palindromic](https://user-images.githubusercontent.com/21211903/42248871-b87a2c

[2018-07-03 23:48] tnrich commented on #336
Okay this should be fixed in HDE

[2018-07-05 18:30] tiffanydai opened #344 "Alignments > Click on feature to highlight sequence"
https://github.com/TeselaGen/lims/issues/1056

[2018-07-05 18:37] tiffanydai opened #345 "Alignments > Dark mode's white font illegible"
![screen shot 2018-07-05 at 11 32 40 am](https://user-images.githubusercontent.com/35508772/42341333-980c8aec-8047-11e8-80bc-a26ede9095f7.png)

Font color of the text in nucleotides & name panel should be compatible with dark mode

[2018-07-05 19:10] tiffanydai opened #346 "Alignments > Fit height of panel to height of window"
![screen shot 2018-07-05 at 11 51 33 am](https://user-images.githubusercontent.com/35508772/42342768-eeadb00c-804b-11e8-9340-02c615905f48.png)

[2018-07-05 19:23] tiffanydai opened #347 "Upload dialog popping up unexpectedly"
![screen shot 2018-07-05 at 12 21 54 pm](https://user-images.githubusercontent.com/35508772/42343515-28ae45ee-804e-11e8-8bc3-3a02352fa7b3.png)

[2018-07-06 01:15] tiffanydai opened #348 "Alignments > Sync scrolling vertically between alignment view/minimap"
Especially when the user has aligned many sequences, vertically scrolling through the alignment view should probably sync with the vertical scroll in the minimap, else it's easy to lose track of where you are/where the sequences should be

![screen shot 2018-07-05 at 6 16 50 pm](https://user-images.githubusercontent.com/35508772/42355020-9edbd58e-807f-11e8-93ce-ff7eca32e7fd.png)

[2018-07-06 17:42] tiffanydai commented on #261
Sample .ab1 files attached for QA (unzip before use). For alignment options, select template to be Lib89.gb as shown in screenshot below, and check 'Align Sequencing Reads' & 'Auto-Trim'.

[Sampleab1files.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a5e81f1544df200117dae6f/125516c66e82c728ace21e0d46db9597338e86a88db8b94aa858e3d665043761260ea62864c7b96aea142a570b5a18ff4

[2018-07-06 17:53] tiffanydai commented on #322
Sample .ab1 files attached for QA (unzip before use).

[GFPab1files.zip](https://github.com/TeselaGen/openVectorEditor/files/2171492/GFPab1files.zip)

[2018-07-06 21:37] tnrich commented on #347
@tiffanydai when does this occur?

[2018-07-06 22:09] XimeMora commented on #261
This is working nicely!

[2018-07-06 22:24] XimeMora commented on #322
This looks good!

[2018-07-07 01:26] tiffanydai opened #349 "Alignments > Visibility menu not opening in full screen view"
![screen shot 2018-07-06 at 6 23 13 pm](https://user-images.githubusercontent.com/35508772/42405408-0505ea6e-814a-11e8-8beb-71653a5b5139.png)

[2018-07-07 02:14] tiffanydai opened #350 "Alignments > Keep ref seq at top for alignments to ref seq"
Keep reference sequence fixed at the top (like currently in pairwise alignments) when scrolling through the alignment view after aligning seq reads to a ref seq

[2018-07-09 20:30] tnrich commented on #343
Nice catch @XimeMora this should be fixed now

[2018-07-09 21:30] tnrich opened #351 "Add right click copy option to all annotations"
Right clicking any annotation should give the option to copy it

[2018-07-11 22:24] tnrich commented on #350
@tiffanydai I think this should already be an option

[2018-07-11 23:34] hplahar opened #352 "Text in header tabs cut off in firefox"
When viewing OVE in firefox, the tops of the text in cut off. See attached screenshot
![screenshot from 2018-07-11 16-32-57](https://user-images.githubusercontent.com/1694026/42604547-2ee4736e-8528-11e8-83c3-08ebd0dd746f.png)

[2018-07-11 23:44] hplahar opened #353 "Select Inverse doesn't work if selection starts at origin"
Not sure if this is a JBEI issue but while viewing sequence,  I selected from bp 1 to 77 and clicked on "Select Inverse". The highlighted selection disappeared and the text at the footer (next to Select Inverse)  reads "Selecting NaN bps from 78 to NaN".

[2018-07-16 20:22] XimeMora commented on #335
This looks better now on http://teselagen.github.io/openVectorEditor/
HDE still needs to update it @craftjk

[2018-07-16 21:17] tnrich opened #356 "Actually truncate origin spanning annotations when flipping from circular to linear"
Right now origin spanning annotations are not actually always being truncated when flipping between circular and linear.

[2018-07-16 21:17] tnrich opened #357 "cutsite visualization too high of z-index"
![image](https://user-images.githubusercontent.com/2730609/42784116-fab7830e-8902-11e8-84ee-f4edb9d98410.png)

[2018-07-16 21:18] tnrich opened #358 "css issue with alignment"
![image](https://user-images.githubusercontent.com/2730609/42784365-d91a677e-8903-11e8-8f30-a441b5fe71ee.png)

[2018-07-16 21:25] tnrich opened #359 "improve onSave autosave readme description"
say how to get the save icon to spin by returning a promise

[2018-07-16 21:30] tnrich commented on #358
Maybe the names can just be in their own little bubbles so we don't have to grey out so much space?

[2018-07-17 19:40] tnrich opened #360 "minimap jumps to the end when zooming in"
![untitled](https://user-images.githubusercontent.com/2730609/42841351-9cbb02e6-89be-11e8-801a-8ae898124d62.gif)

We should stop that bugginess from happening!

[2018-07-18 22:34] tnrich commented on #346
I think we should maybe only have the alignment view as a standalone view. In that case this would be deprecated.

[2018-07-18 22:34] #346 closed

[2018-07-18 22:35] tnrich commented on #349
I think we should maybe only have the alignment view as a standalone view. In that case this would be deprecated.

[2018-07-18 22:35] #349 closed

[2018-07-18 22:41] #347 closed

[2018-07-19 03:06] hplahar commented on #352
Looks like the mac is the exception. Happens on linux and windows boxes.

[2018-07-23 22:41] XimeMora commented on #336
This has been fixed!

[2018-07-23 22:44] XimeMora commented on #337
This is working nicely!

[2018-07-23 23:02] XimeMora commented on #338
Buttons have been changed but there is a couple of small issues with these options:

- In the "Add Feature" and "Edit Feature" dialogs the buttons are cut off.

![screen shot 2018-07-23 at 5 54 45 pm](https://user-images.githubusercontent.com/21211903/43107218-97d9ad30-8ea1-11e8-944b-70baced815e9.png)

- In the "Add Part" and "Add Primer" dialogs clicking Cancel button makes the _Required_ warning

[2018-07-23 23:18] XimeMora commented on #342
There is a warning dialog now, looks good!

[2018-07-23 23:48] XimeMora commented on #325
This looks fixed, but I'm testing on a laptop now, I don't have a larger screen to test with and that's where I was seeing the issue, so I'm gonna pass this ticket for now.

[2018-07-24 00:20] XimeMora commented on #343
Looks good!

[2018-07-24 00:33] XimeMora commented on #351
Looks good!

[2018-07-24 00:45] XimeMora commented on #356
This is working nicely now!

[2018-07-24 00:59] XimeMora commented on #353
This has been fixed!

[2018-07-24 02:21] XimeMora commented on #357
Looks good now!

[2018-07-24 18:43] tnrich commented on #338
Good catches, these should both be fixed now

[2018-07-31 01:59] XimeMora commented on #344
Clicking on a feature is highlighting that region of the DNA sequence 👍

[2018-07-31 02:13] XimeMora commented on #304
LIMS is not importing parts, not even as features, is that what we want? @christopher-lamkin @tgreen7

HDE
![screen shot 2018-07-30 at 9 10 16 pm](https://user-images.githubusercontent.com/21211903/43433515-4fd96272-943d-11e8-868f-faca6734c9ca.png)

LIMS
![screen shot 2018-07-30 at 9 10 34 pm](https://user-images.githubusercontent.com/21211903/43433516-53a274d4-943d-11e8-9037-00922f619583.png)

[2018-07-31 02:18] XimeMora commented on #345
Looks much better now! 👍

[2018-07-31 02:25] XimeMora commented on #338
Looks good!

[2018-07-31 02:37] XimeMora commented on #360
This is fixed now.

[2018-07-31 17:34] tnrich commented on #334
@hplahar  and @craftjk Here's the api I'm thinking makes the most sense as a user of this version history:

[code]

Does that make sense to y'all and seem like a reasonable api?

[2018-08-01 18:17] hplahar commented on #334
So if I understand this correctly, the embedding application (e.g. ICE) will be responsible for providing the implementation details of this to use version history?
As a first pass this sounds good. Might want to consider paging parameters (start/offset and limit) for getVersion().

[2018-08-01 19:30] hplahar commented on #334
Ok, works for me. Is it up to the application to determine the revisionType?

[2018-08-01 19:35] tnrich commented on #334
Yes, if that column is left blank it will not show up though.

[2018-08-05 05:14] AdamZMc commented on #338
Everything looks good! Moving along.

[2018-08-06 22:53] tnrich commented on #334
@hplahar and @craftjk
I've published the VersionHistoryView. It can be accessed through the editor if desired (by adding the "versionHistoryTool" to the tool list). Or as a standalone module. It displays in full screen by default.

![image](https://user-images.githubusercontent.com/2730609/43744786-951d822a-9990-11e8-8af7-b27881bc642b.png)

![image](https://user-images.githubusercontent.com/273060

[2018-08-06 22:55] #168 closed

[2018-08-06 22:55] #169 closed

[2018-08-06 22:55] #172 closed

[2018-08-06 22:55] #225 closed

[2018-08-06 22:55] #242 closed

[2018-08-06 22:55] #256 closed

[2018-08-06 22:55] #258 closed

[2018-08-06 22:55] #260 closed

[2018-08-06 22:55] #264 closed

[2018-08-06 22:55] #267 closed

[2018-08-06 22:55] #277 closed

[2018-08-06 22:55] #282 closed

[2018-08-06 22:55] #284 closed

[2018-08-06 22:55] #290 closed

[2018-08-06 22:55] #292 closed

[2018-08-06 22:55] #293 closed

[2018-08-06 22:55] #296 closed

[2018-08-06 22:55] #297 closed

[2018-08-06 22:55] #303 closed

[2018-08-06 22:55] #306 closed

[2018-08-06 22:55] #307 closed

[2018-08-06 22:55] #311 closed

[2018-08-06 22:55] #337 closed

[2018-08-06 22:55] #338 closed

[2018-08-06 22:55] #342 closed

[2018-08-06 22:55] #170 closed

[2018-08-06 22:55] #199 closed

[2018-08-06 22:55] #243 closed

[2018-08-06 22:55] #244 closed

[2018-08-06 22:55] #272 closed

[2018-08-06 22:55] #276 closed

[2018-08-06 22:55] #279 closed

[2018-08-06 22:55] #280 closed

[2018-08-06 22:55] #288 closed

[2018-08-06 23:14] tnrich commented on #295
I believe this now exists

[2018-08-06 23:16] tnrich commented on #281
This should be fixed now

[2018-08-08 04:48] AdamZMc commented on #345
Text is legible. Moving on.

[2018-08-08 04:54] AdamZMc opened #362 ""Drop Fasta or Genbank files to view them in the editor" Window after creating a new Alignment"
In the Dark Theme: DNA Materials > Alignment Tool > Create a new alignment > Adjust newly created alignment's zoom and a window containing the words "Drop Fasta or Genbank files to view them in the editor" pops up for an unknown reason in illegible text color.

![screen shot 2018-08-07 at 9 47 17 pm](https://user-images.githubusercontent.com/36317055/43816870-abb46cbe-9a8b-11e8-8129-bcb5b49202d4.p

[2018-08-08 05:00] AdamZMc commented on #344
Looks good!

[2018-08-08 05:05] AdamZMc commented on #310
Looks good!

[2018-08-10 20:39] meisenstat opened #363 "Unable to remove subviews"
When I open something new inside of OVE, I cannot close it. For example if you make a new alignment, the tab will show up in the right editor. You are able to switch between tabs but you cannot close that tab you just made. My mouse isn't aligning in the screenshot but the 'x' is not working.

![image](https://user-images.githubusercontent.com/13423840/43980344-af9aa758-9ca2-11e8-9ee4-c18d658cd617

[2018-08-10 21:04] meisenstat opened #364 "Part strand direction cannot be reversed"
When you click edit part, and change positive to negative, it automatically changes it back to positive.

![screencast 2018-08-10 13-59-31](https://user-images.githubusercontent.com/13423840/43981316-30ee69d6-9ca6-11e8-98ee-1c715cce4895.gif)

[2018-08-10 21:10] meisenstat opened #365 "Part Translation duplicates instead of recognizing it has already been called"
If you click on view translation for a part more than once, that translation shows up the amount of times you clicked it instead of a single time.

Right click part > View Translation. Then look at the sequence map

![image](https://user-images.githubusercontent.com/13423840/43981537-12c665c0-9ca7-11e8-968a-7cea61368646.png)

[2018-08-10 21:50] meisenstat opened #366 "Material Availability dropdown not pushing change"
When you change the availability of a material under properties and reload the page, the availability is reset to its original state.

![screencast 2018-08-10 14-48-11](https://user-images.githubusercontent.com/13423840/43982845-a081ae9c-9cac-11e8-977d-766d4e431af8.gif)

[2018-08-10 21:53] meisenstat commented on #364
Similar to this, the notes aren't being saved when editing features from the properties page

[2018-08-10 21:57] meisenstat commented on #365
Similar, you are unable to delete translations in the properties tab.

[2018-08-10 22:13] meisenstat opened #367 "Orfs Selection Broken"
If you click rapidly around the rows in Properties > Orfs, the page will freeze and throw the following error:

![image](https://user-images.githubusercontent.com/13423840/43983520-cc220d0a-9caf-11e8-904b-729da88da422.png)

[2018-08-13 21:12] tnrich commented on #363
thanks @meisenstat I'll look into this shortly!

[2018-08-14 16:54] tnrich commented on #363
also check out licecap https://download.cnet.com/LICEcap/3000-2094_4-75984664.html for creating little gifs of the screen :)

[2018-08-14 16:58] tnrich commented on #363
Hmm I'm unable to reproduce this @meisenstat , let's pair when you're free ?

[2018-08-14 18:16] tnrich commented on #365
Okay the user should now be prompted if they're trying to make a translation that already exists:

![image](https://user-images.githubusercontent.com/2730609/44109514-1c9488c6-9fb2-11e8-92d9-26e2e7c210e0.png)

[2018-08-14 18:34] tnrich commented on #365
The delete button is now disabled unless the translation type is `User Created`:

![image](https://user-images.githubusercontent.com/2730609/44110953-fbc12b64-9fb5-11e8-9efc-4f70ab5e4f37.png)

[2018-08-15 21:07] XimeMora commented on #295
Rotate to caret position is working fine.

[2018-08-15 21:14] XimeMora commented on #281
This looks good.

[2018-08-16 06:03] XimeMora commented on #367
This has been fixed.

[2018-08-16 06:15] XimeMora commented on #365
This is working nicely.

[2018-08-16 06:41] XimeMora commented on #348
Aligning many sequences is not working on hdedev and the standalone ove, it is only working on limsdev where I'm not sure that the issue mentioned in this ticket is working fine @tiffanydai can you take a look at this?:

![screen shot 2018-08-16 at 1 39 31 am](https://user-images.githubusercontent.com/21211903/44192532-69f69700-a0f5-11e8-903c-fc26507a358c.png)

[2018-08-16 06:46] XimeMora commented on #334
@tnrich @craftjk I don't see the View Version History option in HDE yet.

[2018-08-22 07:16] XimeMora opened #369 "Add ability on sequences to "Create Parts from Type IIs Digest""
From ticket https://github.com/TeselaGen/hde/issues/1860

Users should have the option to create parts based on a type IIs restriction enzyme digest. This option should be available by right clicking a single item in the sequence library and also from the vector editor > Properties > Parts > {new button at the bottom}. While we're at it make sure that the "Type" column is removed from the Parts ta

[2018-08-27 20:59] tnrich commented on #362
This tool is being reworked and probably deprecated in favor of a newer version.

[2018-08-27 21:00] tnrich commented on #366
@craftjk this is something that needs to be fixed on hde.

[2018-08-27 21:38] tnrich commented on #352
I'll need some help from a developer with access to a windows/linux computer @craftjk

[2018-08-28 20:37] gmcarthuriv opened #406 "VE > display errors/warnings as labels in Sequence Map panel and Sequence panel"
@tnrich, @christopher-lamkin, @craftjk, @mfero

Includes:
- j5 warnings/errors
- DNA synthesis constraint violations (post scoring via Twist API)

From Twist's VE (warning labels in red):

![image](https://user-images.githubusercontent.com/17152701/44749412-42c1a180-aac7-11e8-9147-293107670cc9.png)

[2018-08-29 04:32] AdamZMc opened #371 "HDE > Show Alignment Tool crashes page"
Designs > Select Design > Select part > Show Alignment Tool

![vectoreditorcrash](https://user-images.githubusercontent.com/36317055/44765478-b4bada80-ab09-11e8-89c8-f7b400dffa72.gif)

[2018-09-03 23:47] AdamZMc commented on #371
This issue has been resolved.

[2018-09-03 23:49] AdamZMc commented on #281
Issue has been resolved!

[2018-09-03 23:50] AdamZMc commented on #295
Looks good!

[2018-09-03 23:55] AdamZMc commented on #357
Issue has been resolved!

[2018-09-03 23:58] AdamZMc commented on #343
Issue has been resolved!

[2018-09-04 00:00] AdamZMc commented on #336
Looks good!

[2018-09-04 00:08] AdamZMc commented on #329
Looks good!

[2018-09-04 00:09] AdamZMc commented on #328
Looks good!

[2018-09-04 06:42] AdamZMc commented on #148
Menu bar does not appear to have been implemented.
![screen shot 2018-09-03 at 11 40 12 pm](https://user-images.githubusercontent.com/36317055/45014291-dc5ee680-afd2-11e8-9151-e6de1a6cc420.png)

[2018-09-04 06:46] AdamZMc commented on #353
Looks good!

[2018-09-04 06:55] AdamZMc commented on #325
Looks good!

[2018-09-04 07:01] AdamZMc commented on #324
Looks good!

[2018-09-04 07:08] AdamZMc opened #372 "OVE > Merging Features menu issues"
- [ ] Cramped Feature dropdown layout.
- [ ] When merging features the menu notification is greyed out an therefore isn't clear to the user that a step is required.

![sequencemerging](https://user-images.githubusercontent.com/36317055/45015209-d28ab280-afd5-11e8-9c36-2a007f7bc9e8.gif)

[2018-09-04 10:35] AdamZMc commented on #294
Looks good!

[2018-09-04 10:38] AdamZMc commented on #320
Info helper explaining Ambiguous substitutions has been added.

[2018-09-04 10:54] AdamZMc commented on #335
Looks good.

[2018-09-04 23:53] AdamZMc commented on #326
This issue has been resolved!

[2018-09-08 04:52] AdamZMc commented on #367
Looks good!

[2018-09-12 19:17] AdamZMc opened #373 "Alignments Issue"
Creating alignments seem to be stuck on the processing step. I created an alignment days ago and it is still processing. Because of this I am unable to test any Alignment Tool (Alignments) related tickets.
@tnrich
(The provided example is HDE but the same issue is with LIMS as well)
![malalignments](https://user-images.githubusercontent.com/36317055/45446882-e5ab1b80-b682-11e8-9b12-a3a8c347d878.gi

[2018-09-12 20:23] AdamZMc opened #374 "Issues Editing Parts being used in designs"
- [x] - Edit Part modal isn't centered.
- [ ] - Notes includes "[object Object]" by default.

![screen shot 2018-09-12 at 1 05 39 pm](https://user-images.githubusercontent.com/36317055/45450551-725ad700-b68d-11e8-884d-2f9207fd0ffb.png)

- [ ] - When adjusting increment buttons the modal texts will randomly get highlighted.
- [ ] - After saving the edited part, leaving OVE, then returning to the de

[2018-09-13 21:41] AdamZMc opened #407 "OVE > Sequence Map > Hide/Show cut sites issue"
### Describe what's going wrong/what needs to change.
In the Sequence Map the Hide/Show cut sites option hides/shows the recognition site boxes while most of the cut sites remain visible.
### Screenshots/gif of issue
![cutrecognize](https://user-images.githubusercontent.com/36317055/45517342-b2d85480-b762-11e8-97fe-e5b7db50328f.gif)

[2018-09-14 02:31] AdamZMc opened #408 "OVE > Issue inserting bps to the beginning of Linear Map"
### Describe what's going wrong/what needs to change.
Adding bps to the beginning of Linear Map's sequence will display the insert window off the page.

### Screenshots/gif of issue
![linearmapaddbps](https://user-images.githubusercontent.com/36317055/45526291-6c4b2000-b78b-11e8-8faf-cb3fac66759e.gif)

[2018-09-19 23:12] XimeMora opened #375 "Add Show Part Tags option in top menu"
We need to add an option to see part tags in the vector editor. We have that option in the old VE where the user can search for a particular part tag and the label of that part gets highlighted/in bold to identify it.

![screen shot 2018-09-19 at 5 59 55 pm](https://user-images.githubusercontent.com/21211903/45786552-98a4e780-bc36-11e8-8c68-03755cf9398f.png)

[2018-10-02 20:32] weasteam opened #376 "Debug mode is enable in CircularViewUnconnected"
When I am using `CircularViewUnconnected`, the code stopped at `if (!annotation.id) debugger;`

This stops the code from running. It might be good to remove the debug code in production.

[2018-10-02 23:42] weasteam opened #377 "LinearView does not working"
the error is `could not calculate the length of undefined`, it happens in many places of `LinearView/index.js`

here is the fix:

at line 71
[code]

at line 76
[code]

at line 193
[code]

[2018-10-04 18:55] tgadam opened #378 "Manually entering base pairs in Linear View offscreen"
If you create a new linear sequence and try to manually enter the base pairs, the editor appears off screen on the left side.

If you switch to Plasmid view this works fine.

[2018-10-04 18:56] tgadam commented on #378
![linear-editing-bug](https://user-images.githubusercontent.com/42746585/46496296-b1400080-c7e5-11e8-8ecc-a8042241ac5d.gif)

[2018-10-08 09:46] tnrich commented on #376
Hey @weasteam I'll make that check only occur when in development mode. It is important for annotations to have .id properties in order to track which annotation is highlighted, selected, etc..

[2018-10-08 09:47] tnrich commented on #378
Thanks @tgadam I should have a fix soon.

[2018-10-08 09:54] tnrich commented on #377
@weasteam are you using the <LinearView/> or <LinearViewUnconnected/> ?

http://teselagen.github.io/openVectorEditor/#/LinearView

is an example of the <LinearView/> component and it seems to be working fine on that demo page and in our apps. You should generally pass a well-formed sequenceData object to any of the Linear/Circular/Row views.

That said, I'll go ahead and add the checks you're sugg

[2018-10-08 14:07] tnrich commented on #378
@tgadam I'm not able to reproduce on https://hdedev.teselagen.com/ right now.

![tag](https://user-images.githubusercontent.com/2730609/46613708-8e328b00-cb1c-11e8-99e2-f64196163367.gif)

[2018-10-08 14:08] tnrich commented on #374
working on a fix for this: https://github.com/palantir/blueprint/issues/3004

[2018-10-08 23:27] XimeMora commented on #251
@tnrich @tiffanydai now what I'm seeing is that double-clicking on a part in the design editor doesn't highlight that part in the vector editor at all, could you help with this?

![highlight](https://user-images.githubusercontent.com/21211903/46638685-5d754480-cb62-11e8-9df1-b6bbc9b27dea.gif)

[2018-10-09 05:51] tnrich commented on #251
@tiffanydai might this be related to your recent changes in hde? I am not sure why this would have stopped working..

[2018-10-09 07:17] tiffanydai commented on #251
@tnrich hmmm I'm leaving today's 'componentWillMount' fix for a future PR/QA, and the only other non-alignment-specific fix was the 'fetchPolicy: "network-only"', which shouldn't affect the highlighting. It doesn't seem to be working on checked-out branches from days/weeks ago either...I created a PR for a fix (https://github.com/TeselaGen/hde/pull/2284), maybe you or @craftjk can take a look?

Se

[2018-10-09 09:03] mfero opened #379 "Genbank joins are not handled correctly by VE"
@tnrich During the Novozymes tutorial in Copenhagen, NZ (Novozymes) noticed that...

Genbank joins are not handled correctly by VE. See file: SP_04_2060417.gb
See how Snapgene treats this sequence. They are interpreting the Genbank sequence correctly by showing dotted line between the features. Note also that we are not currently displaying feature labels, but that is in another ticket I think...

[2018-10-09 09:06] mfero commented on #379
![image](https://user-images.githubusercontent.com/7561861/46658566-4dd21c00-cbb3-11e8-8f3f-c08ca0988c77.png)

[2018-10-16 23:11] hplahar opened #380 "Make parts of the color scheme configurable"
e.g. the yellow ring for plasmid view is now white

@tnrich

[2018-10-21 21:48] tnrich commented on #378
hey QA people, can you see if you can still reproduce this? Thanks!

[2018-10-21 22:03] tnrich commented on #380
@hplahar you should be able to change that one quite easily already actually just via css:
[code]
try that?

[2018-10-21 22:07] tnrich commented on #380
please let me know if there are other things you are struggling to customize

[2018-10-21 22:08] tnrich commented on #372
@AdamZMc what do you mean exactly by the

?

What is the menu notification?

Thanks!

[2018-10-21 22:11] tnrich commented on #379
@mfero how important are joined features to their workflow? It will definitely take a bit of work to get this feature.

[2018-10-22 03:44] mfero commented on #379
We can move this to "normal" priority, but users do notice that this is missing.

We should work up a little gsheet feature comparison between Snapgene and VE to see where we need to add features that are not covered in other ways by  our platform.

[2018-10-22 04:39] AdamZMc commented on #372
@tnrich Sorry about that. I was mainly pointing out that, as a user, I found the "Required" notification to be very subtle. I didn't initially notice the notification.
![screen shot 2018-10-21 at 11 26 04 pm](https://user-images.githubusercontent.com/36317055/47277760-c90ad900-d588-11e8-9fa9-ab4975005b91.png)

[2018-10-22 18:03] hplahar commented on #380
Works. Thanks.
The only potential issue was specifying font type and size. Is that something that can be added easily?

[2018-10-22 21:57] tiffanydai opened #381 "Switch import/export icons"
feedback from @hplahar:

![screen shot 2018-10-22 at 2 52 00 pm](https://user-images.githubusercontent.com/35508772/47321667-56dad880-d60a-11e8-83c5-80443b582d27.png)
The down-arrow icon should be for exporting/downloading to the computer, and the up-arrow should be for importing into OVE

@tnrich

[2018-10-22 22:06] tiffanydai opened #382 "Clicking on the edges of the import/export buttons"
feedback from @hplahar:

![screen shot 2018-10-22 at 3 02 29 pm](https://user-images.githubusercontent.com/35508772/47322059-82aa8e00-d60b-11e8-94b4-de9051949931.png)
For the import and export buttons, only clicking in the center of the button triggers it. Clicking near the edges of the button doesn't work

@tnrich

[2018-10-22 22:12] tiffanydai opened #383 "Get rid of empty white space at the bottom"
feedback from @hplahar:

![img_2632](https://user-images.githubusercontent.com/35508772/47322367-7f63d200-d60c-11e8-863b-7ef1069921fb.jpg)
Get rid of empty white space at the bottom of the screen (especially noticeable to JBEI users with big monitors)

@tnrich

[2018-10-22 22:16] tiffanydai opened #384 "Scroll while selecting"
feedback from @hplahar:

![screen shot 2018-10-22 at 3 14 52 pm](https://user-images.githubusercontent.com/35508772/47322573-4f68fe80-d60d-11e8-928d-34c3bbfa025f.png)
When the user is highlighting the sequence and reaches the end of what is shown in the window, the window should scroll to allow the user to continue expanding the selection (as the old Vector Editor does)

@tnrich

[2018-10-22 22:19] mfero commented on #383
@tiffanydai is this fixed by https://github.com/TeselaGen/hde/issues/2117

[2018-10-22 22:32] tiffanydai commented on #383
@mfero kind of, the solution is probably the same, but I think it'll be implemented on @hplahar's end. I mentioned to Hector that he can probably fix it the same way that we fixed it in our app. Can you try setting the height of the editor to fit the window, Hector?

![screen shot 2018-10-22 at 3 28 53 pm](https://user-images.githubusercontent.com/35508772/47323140-6dcff980-d60f-11e8-833b-de19f738

[2018-10-22 22:39] tiffanydai opened #385 "'Type' box too short in 'Add Feature' dialog"
feedback from @hplahar:

![img_2634](https://user-images.githubusercontent.com/35508772/47323356-42014380-d610-11e8-9fad-56f789c52565.jpg)
In JBEI, the 'Type' box is too short in the 'Add Feature' dialog, and the bottom buttons are a little cut off

![screen shot 2018-10-22 at 3 37 48 pm](https://user-images.githubusercontent.com/35508772/47323405-868cdf00-d610-11e8-85a2-3b06cc20bf6d.png)
That isn

[2018-10-23 07:58] tiffanydai opened #386 "'View Translation' inconsistent behavior"
feedback from @hplahar:

![img_2635](https://user-images.githubusercontent.com/35508772/47344837-40f70300-d65e-11e8-8bf4-f2ed1c0f99b6.jpg)
Sometimes no translations show up after clicking 'View Translation', but then when you try to click 'View Translation' again, it tells you that duplicate translations aren't allowed, even though no translations are displayed

@tnrich

[2018-10-23 13:15] tnrich commented on #385
This should already be fixed via @tgreen7 's css fix for inline labeled components. jbei will need to get a newer version of OVE with the fix in it.

[2018-10-23 13:18] tnrich commented on #386
I cannot reproduce this @tiffanydai @hplahar . Can we check that this is actually an issue on the latest OVE? Making a new translation should now always trigger showing translations.

[2018-10-23 13:35] tnrich commented on #384
Whoops this is related to recent changes I've made to fix issues with the sequenceInputBubble losing focus if opened right after highlighting/clicking in the sequence. I'll try to see if there is a workaround that fixes both cases.

[2018-10-23 13:49] tnrich commented on #382
good catch

[2018-10-23 13:52] tnrich commented on #381
Seems slightly arbitrary IMO but I'll switch them now.

[2018-10-23 14:21] tnrich commented on #384
After thinking it over, it seems like the best thing to do is to just disable inserting sequence while a user drag is occurring. A user will now get this warning:

![image](https://user-images.githubusercontent.com/2730609/47367155-f98b6980-d693-11e8-976e-ee5bb527fe4a.png)

This has allowed me to revert the change that was breaking the scroll while selecting.

One slight downside is that it takes

[2018-10-23 18:56] tnrich commented on #379
Hey Mike that sounds good. I'll drop the priority of this issue and start a feature comparison gsheet

[2018-10-24 00:18] tgreen7 opened #387 "Sequence Alignment tool > settings should persist"
_From @gmcarthuriv on September 6, 2018 23:29_

@christopher-lamkin, @tiffanydai, @tnrich, @mfero,

As a user, I expect that my settings/preferences persist. For example, if I turn "DNA colors" **off** and the "features" **on** for one sequence alignment, I expect the next alignment to also have these settings. I also expect the zoom level to persist. Adjusting for each alignment takes a significa

[2018-10-24 00:18] tgreen7 commented on #387
_From @tnrich on September 13, 2018 18:51_

Working on this now. There are a few things to note -- I am planning on saving these settings to localstorage by default. That will make them persist across browser sessions. I think persisting this to a DB would be overkill and more work than its worth.

Also, because pairwise alignments and MSA style alignments are so different I won't be sharing their

[2018-10-24 00:18] tgreen7 commented on #387
_From @tnrich on September 17, 2018 22:48_

Once alignments are working again on limsdev this can be tested

[2018-10-24 00:18] tgreen7 commented on #387
_From @XimeMora on September 19, 2018 21:56_

@tnrich @tgreen7 I guess alignments are still not fully working on limsdev? I get a blank page trying to create a pairwise alignment, or is this another bug?

[2018-10-24 00:18] tgreen7 commented on #387
_From @XimeMora on September 25, 2018 1:14_

Alignments are still not properly working, @tnrich are you still working on that or these are new bugs?:

![alignment](https://user-images.githubusercontent.com/21211903/45987275-2f5a1580-c036-11e8-9f69-f3060ee7f203.gif)

![screen shot 2018-09-24 at 7 54 25 pm](https://user-images.githubusercontent.com/21211903/45987320-5ca6c380-c036-11e8-9f41-1b02c350f

[2018-10-24 17:33] hplahar commented on #386
I updated to 5.1.5 on https://j5.jbei.org/VectorEditor/VectorEditor.html and I can still reproduce it

[2018-10-24 18:54] tnrich commented on #386
@hplahar thanks for the heads up. You are indeed right that there is a logical error in there. Fixing it now. I'll let you know when I've pushed a fix.

[2018-10-25 00:40] XimeMora commented on #384
Scroll while selecting is working nicely.

[2018-10-25 00:43] XimeMora commented on #386
This has been fixed!

[2018-10-25 21:03] tnrich commented on #383
@hplahar please ignore what @tiffanydai says above. Instead you should pass:
[code]

Note that I've published this change as a new major version because it will break existing functionality: passing `handleFullscreenClose` alone will no longer force the editor into fullscreen mode, you'll also need to add `isFullscreen` now.

[2018-10-29 23:48] tnrich commented on #379
@mfero how does this visualization look to you:

![image](https://user-images.githubusercontent.com/2730609/47686702-d2ec9780-db99-11e8-987a-59f66180d499.png)

The highlighted red annotation has multiple joined locations.

[2018-10-29 23:49] tnrich commented on #379
And when highlighted:
![image](https://user-images.githubusercontent.com/2730609/47686859-979e9880-db9a-11e8-8c79-b7cae8e98676.png)

[2018-10-30 17:20] tnrich commented on #379
I'm going to make it a little thinner:
![image](https://user-images.githubusercontent.com/2730609/47737116-63c08300-dc2d-11e8-843e-a8c8b8ce5f80.png)